<div class="agg-details">
  <section class="agg-details__sidebar">
    <ng-container *ngIf="checkCollection$ | async as checkCollection">
      <hs-aggregation-details-sidebar
        [checkCollection]="checkCollection"
      ></hs-aggregation-details-sidebar>
      <hs-checks-filter (filterChanged)="onFilterChange($event)">
      </hs-checks-filter>
    </ng-container>
  </section>
  <section class="agg-details__body">
    <hs-checks-list
      [checks]="checks$ | async"
      (checkClicked)="showDetails($event)"
    ></hs-checks-list>
  </section>
</div>
