@import 'variables';

.log-detail {
  &__label {
    color: $neutral-color-900;
    line-height: 24px;
    font-family: $font-family-bold;
    margin-bottom: 4px;
    font-size: 18px;
  }

  &__section {
    margin-bottom: 18px;
  }
}

