<div *ngIf="check" class="log-detail">
  <section class="log-detail__section">
    <div class="log-detail__label">Request</div>
    <hs-raw-checks
      class="log-detail__section"
      [check]="check"
      [inputKeys]="inputKeys"
      [outputKeys]="outputKeys"
      [modelVersion]="modelVersion"
    >
    </hs-raw-checks>
  </section>
  <section class="log-detail__section">
    <div class="log-detail__label">Metrics</div>
    <hs-log-metrics-table
      [metrics]="check._hs_metric_checks"
    ></hs-log-metrics-table>
  </section>
</div>
