<div *ngIf="check" class="log-detail">
  <hs-raw-checks
    [check]="check"
    [inputKeys]="inputKeys"
    [outputKeys]="outputKeys"
    [modelVersion]="modelVersion"
  >
  </hs-raw-checks>

  <div class="log-detail__label">Metrics</div>
  <div>
    <table class="metrics-table">
      <tr>
        <td class="metrics-table__cell metrics-table__header-cell">name</td>
        <td class="metrics-table__cell metrics-table__header-cell">value</td>
      </tr>
      <tr *ngFor="let item of check._hs_raw_checks.overall">
        <td class="metrics-table__cell">{{ item.description }}</td>
        <td
          class="metrics-table__cell"
          [ngClass]="{ 'metrics-table__cell--error': item.check === false }"
        >
          {{ item.value }}
        </td>
      </tr>
    </table>
  </div>
</div>
