@import "./src/assets/styles/variables.scss";
:host {
  display: block;
  margin-bottom: 1rem;
}

.input-text {
  &__error {
    color: red;
  }
  &--copy-link {
    .input-text__input {
      height: 30px;
      border-width: 1px;
    }
    mdl-icon.input-icon {
      top: 20%;
      font-size: 20px;
    }
  }
}

.input-text__flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  &.reverse {
    flex-flow: row-reverse;
  }
  input.form-control {
    &.sibling {
      &.left {
        margin-left: 0.5rem;
      }
      &.right {
        margin-right: 0.5rem;
      }
    }
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    padding: 6px 12px !important;
    width: 100% !important;
  }

  mdl-icon.input-text__icon {
    flex-direction: column;
    display: flex;
    position: static;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
  }
}

input.form-control {
  height: 48px;
  box-shadow: none;
  background-color: transparent;
  border: 1px solid #d4d7d9;
  &.input-icon {

    &.left {
      padding-left: 3rem;
    }
    &.right {
      padding-right: 3rem;
    }
  }
  &.sibling {
    width: 84%;
  }

  &:after {
    clear: both;
  }
  &.__modelWeight {
    border-color: #f2f2f2;
    max-width: 60px;
    width: 60px;
    height: 36px;
    text-align: right;
  }
  &.__kafkaInput {
    border: none;
    padding: 7px 12px;
    background-color: #e9ecf2;
    border-radius: 5px;
    color: #04143c;
    height: 28px;
  }
  &.__small {
    height: 36px;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  position: relative;
  &__inline {
    flex-direction: row;
    align-items: center;
    > .control-label {
      margin: 0;
      margin-right: 8px;
      font-family: 'Consolas', monospace;
    }
  }
}

mdl-icon.input-icon {
  &.right {
    right: 1rem;
    position: absolute;
    top: 27%;
  }
  &.left {
    left: 1rem;
    position: absolute;
    top: 27%;
  }
}
