@import 'variables.scss';

.hs-input {
  &__control {
    position: relative;
  }
  &__label {
    color: $neutral-color-1000;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 12px;
  }

  &__icon {
    color: $neutral-color-300;
    height: 24px;
    left: 4px;
    position: absolute;
    top: 2px;
    width: 24px;
  }

  &__input {
    border: 1px $neutral-color-300 solid;
    border-radius: 4px;
    color: $neutral-color-800;
    font-size: 14px;
    height: 28px;
    padding: 2px 8px;
    width: 100%;
    &--with-icon {
      padding-left: 28px;
    }
  }

  &__errors {
    background: $supportive-color-red-500;
    color: $neutral-color-100;
    position: absolute;
    font-size: 12px;
    padding: 4px;
    line-height: 14px;
    width: 100%;
    top: calc(100% + 4px);
    border-radius: 4px;
  }
}
