@import "./src/assets/styles/variables.scss";
:host {
  display: block;
  margin-bottom: 1rem;
}

.input-text {
  &__error {
    color: red;
  }
  &--copy-link {
    .input-text__input {
      height: 30px;
      border-width: 1px;
    }
    mdl-icon.input-icon {
      top: 20%;
      font-size: 20px;
    }
  }
}

.input-text__flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  &.reverse {
    flex-flow: row-reverse;
  }
  input.form-control {
    &.sibling {
      &.left {
        margin-left: 0.5rem;
      }
      &.right {
        margin-right: 0.5rem;
      }
    }
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    padding: 6px 12px !important;
    width: 100% !important;
  }

  mdl-icon.input-text__icon {
    flex-direction: column;
    display: flex;
    position: static;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
  }
}

input.form-control {
  height: 45px;
  &.input-icon {

    &.left {
      padding-left: 3rem;
    }
    &.right {
      padding-right: 3rem;
    }
  }
  &.sibling {
    width: 84%;
  }

  &:after {
    clear: both;
  }
}

.form-group {
  position: relative;
}

mdl-icon.input-icon {
  &.right {
    right: 1rem;
    position: absolute;
    top: 27%;
  }
  &.left {
    left: 1rem;
    position: absolute;
    top: 27%;
  }
}
