<div class="model-version">
  <div *ngIf="modelVersion$ | async as modelVersion" class="flex-col">
    <div class="model-version__row">
      <div class="model-version__col-6">
        <div class="model-version__item-header">Details</div>
        <div class="model-version__details">
          <ol class="model-version__details-list">
            <li class="model-version__details-list-item">
              <span class="model-version__details-list-title">Version</span>
              <span class="model-version__details-list-value">
                {{ modelVersion.modelVersion }}
              </span>
            </li>
            <li class="model-version__details-list-item">
              <span class="model-version__details-list-title">Created</span>
              <span class="model-version__details-list-value">
                {{ modelVersion.created | hsFormatDate }}
              </span>
            </li>
            <li class="information__list-item" *ngIf="!modelVersion.isExternal">
              <span class="model-version__details-list-title">Runtime</span>
              <span class="model-version__details-list-value">
                <span>{{ modelVersion.runtime?.name }}</span
                ><span class="runtime__tag">{{
                  modelVersion.runtime?.tag
                }}</span>
              </span>
            </li>
          </ol>
          <div
            class="model-version__details-status"
            [ngClass]="{
              'model-version__details-status--released': isReleased,
              'model-version__details-status--failed': isFailed
            }"
          >
            <span class="model-version__details-status-label">status</span>
            <hs-model-version-status
              class="model-version__details-status-icon"
              [status]="modelVersion.status"
            ></hs-model-version-status>
            <button
              *ngIf="!modelVersion.isExternal"
              class="model-version__details-status-button"
              hs-button
              (click)="showBuildLog(modelVersion.id)"
            >
              show build logs
            </button>
          </div>
        </div>
      </div>
      <div class="model-version__col-6">
        <hs-model-version-services
          [modelVersion]="modelVersion"
        ></hs-model-version-services>
      </div>
    </div>

    <div
      class="model-version__row"
      hsHideInZenMode
      *ngIf="!modelVersion.isExternal"
    >
      <div class="model-version__col-6">
        <div class="model-version__item-header">
          <span>
            Applications
          </span>
          <ng-container
            *ngTemplateOutlet="
              !(isButtonEnabled() | async)
                ? wrapper
                : button;
              context: {
                modelVersion: modelVersion
              }
            "
          >
          </ng-container>
        </div>
        <div class="model-version__applications">
          <table class="hydro-table">
            <thead class="hydro-table-head">
              <tr>
                <th class="hydro-table-head__cell">name</th>
                <th class="hydro-table-head__cell">status</th>
                <th class="hydro-table-head__cell"></th>
              </tr>
            </thead>
            <tbody class="hydro-table-body">
              <tr
                *ngFor="let application of applications$ | async"
                class="hydro-table-body__row hydro-table-body__row--hoverable"
                [routerLink]="['/applications', application]"
              >
                <td class="hydro-table-body__cell">
                  {{ application.name }}
                </td>
                <td class="hydro-table-body__cell">
                  <hs-application-status
                    [status]="application.status"
                  ></hs-application-status>
                </td>
                <td
                  class="hydro-table-body__cell model-version__applications--small"
                >
                  <hydro-icon
                    class="model-version__applications-icon"
                    type="icon-arrow-right"
                  ></hydro-icon>
                </td>
              </tr>
            </tbody>
          </table>
          <div
            *ngIf="modelVersion.applications.length === 0"
            class="model-version__applications-empty"
          >
            Application's list is empty
          </div>
        </div>
      </div>
      <div class="model-version__col-6">
        <div class="model-version__item-header">Servables</div>
        <section
          *ngIf="!modelVersion.isExternal"
          class="model-version__servables"
        >
          <hs-servables-table
            [servables]="servables$ | async"
            (showedLog)="showServableLogs($event)"
          >
          </hs-servables-table>
        </section>
      </div>
    </div>
    <div class="model-version__row">
      <div class="model-version__col-12">
        <div class="model-version__item-header">Signatures</div>
        <section class="model-version__signatures">
          <hs-signatures
            [signature]="modelVersion.modelSignature"
            [fields]="fields$ | async"
          ></hs-signatures>
        </section>
      </div>
    </div>
    <div
      [ngClass]="{
        'lift-metadata': this.hsConfig.config.liftMetadata,
        'model-version__row': true
      }">
      <div class="model-version__col-12">
        <div class="model-version__item-header">Metadata</div>
        <section class="model-version__metadata">
          <hs-metadata [metadata]="modelVersion.metadata"></hs-metadata>
        </section>
      </div>
    </div>
  </div>

  <!--<ng-template #modelVersionStatus let-status>-->
  <!--  <div [ngSwitch]="status">-->
  <!--    <div *ngSwitchCase="'released'">-->
  <!--      <hydro-icon-->
  <!--        class="model-version__details-status-icon model-version__details-status-icon--released"-->
  <!--        type="circle-check"-->
  <!--      ></hydro-icon>-->
  <!--    </div>-->
  <!--    <div *ngSwitchCase="'failed'">-->
  <!--      <hydro-icon-->
  <!--        class="model-version__details-status-icon model-version__details-status-icon--failed"-->
  <!--        type="circle-x"-->
  <!--      ></hydro-icon>-->
  <!--    </div>-->
  <!--    <div *ngSwitchDefault>{{ status }}</div>-->
  <!--  </div>-->
  <!--</ng-template>-->

<ng-template #wrapper>
  <div
    tippy
    [tippyOptions]="{
      content: 'Deployment config required',
      arrow: false,
      theme: 'basic',
      placement: 'bottom'
    }"
  >
    <ng-container *ngTemplateOutlet="button; context: { disable: true }">
    </ng-container>
  </div>
</ng-template>

<ng-template
  #button
  let-modelVersion="modelVersion"
  let-disable="disable"
>
  <button
    class="model-version__item-button create-application-button"
    hs-button
    kind="flat"
    color="primary"
    (click)="onAddApplication(modelVersion, depConfig)"
    [disabled]="disable"
  >
    create application
  </button>
</ng-template>
