<section class="reqstore">
  <div class="reqstore__header">
    <div class="reqstore__header-ts">Timestamps</div>
    <div class="reqstore__header-details">Details</div>
  </div>
  <div *ngIf="loading" class="log__loader">
    <hydro-icon type="icon-circle" class="icon log__loader-icon"></hydro-icon>
    loading
  </div>
  <ng-container *ngIf="logNotEmpty(); else emptyLog">
    <div class="log">
      <div class="log__timestamps">
        <div
          class="log__timestamps-item"
          [ngClass]="{
            'log__timestamps-item--selected': selectedLogItem === logItem.value
          }"
          *ngFor="let logItem of logData | keyvalue"
          (click)="selectLogItem(logItem.key)"
        >
          <span>{{ logItem.value.ts | moment }}</span>
          <span>
            <span
              *ngIf="logItem.value.failed"
              class="log__timestamps-item-failed"
              >!</span
            >
          </span>
        </div>
      </div>
      <div class="log__details">
        <div class="log__details-container">
          <ng-container *ngIf="selectedLogItem">
            <div class="">
              <div class="result">
                <hs-input-output
                  [reqstoreEntry]="selectedLogItem"
                  [modelVersion]="modelVersion"
                  (queuedExplanation)="onQueuedExplanation()"
                ></hs-input-output>
              </div>
              <div class="log__details-item-metrics">
                <hs-reqstore-metrics
                  [metrics]="selectedLogItem.metrics"
                ></hs-reqstore-metrics>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #emptyLog>
    <div class="empty-log">
      Log is empty
    </div>
  </ng-template>
</section>
