<div class="mv-details">
  <section
    class="content__cell mv-details__information"
    *ngIf="modelVersion$ | async as modelVersion"
  >
    <div class="content__cell-title">Information</div>
    <div class="content__cell-body">
      <ol class="information">
        <li class="information__item">
          <span class="information__item-title">Created</span>
          <span class="information__item-value">
            <div class="status">
              {{ modelVersion.created | utcToLocal | amTimeAgo }}
            </div>
          </span>
        </li>
        <li class="information__item">
          <span class="information__item-title">Version</span>
          <span class="information__item-value">
            <div class="status">
              {{ modelVersion.modelVersion }}
            </div>
          </span>
        </li>
        <li class="information__item">
          <span class="information__item-title">Runtime</span>
          <span class="information__item-value">
            <div class="runtime">
              {{ modelVersion.runtime.name }}
            </div>
          </span>
        </li>
        <li class="information__item">
          <span class="information__item-title">Status</span>
          <ng-container *ngIf="modelVersion.status; let status">
            <span
              class="model-version-status model-version-status--{{
                status | lowercase
              }}"
              [status]="status"
              hsModelVersionStatus
            >
              <hydro-icon #statusIcon class="icon"></hydro-icon>
              <span #statusText class="status"></span>
            </span>
            <button
              hs-button
              color="primary"
              class="show-log-button"
              (click)="showBuildLog(modelVersion.id)"
            >
              {{ showLog ? 'hide build logs' : 'show build logs' }}
            </button>
          </ng-container>
        </li>
        <li>
          <hs-model-version-log
            *ngIf="showLog"
            [modelVersion]="modelVersion$ | async"
          ></hs-model-version-log>
        </li>
        <li class="information__item">
          <span class="information__item-title">Applications</span>
          <span class="information__item-value">
            <span
              *ngFor="
                let appName of (modelVersion$ | async)?.applications;
                last as isLast
              "
              [routerLink]="['../../../../applications', appName]"
              class="application"
            >
              <span class="application-name">{{ appName }}</span
              ><span *ngIf="!isLast">, </span>
            </span>
          </span>
        </li>
      </ol>
      <div>
        <button
          class="model-version-detail__add-application"
          (click)="onAddApplication(modelVersion)"
          [disabled]="!(released$ | async)"
          kind="flat"
          color="primary"
          hs-button
        >
          create app
        </button>
      </div>
    </div>
  </section>
  <ng-container *ngIf="(modelVersion$ | async).metadata as meta">
    <section *ngIf="!isEmpty(meta)" class="content__cell mv-details__metadata">
      <div class="content__cell-title">Metadata</div>
      <div class="content__cell-body">
        <hs-metadata [metadata]="meta"></hs-metadata>
      </div>
    </section>
  </ng-container>

  <section class="content__cell mv-details__signatures">
    <div class="content__cell-title">Signatures</div>
    <div class="content__cell-body">
      <hydro-signatures
        [signature]="(modelVersion$ | async)?.modelContract?.predict"
      ></hydro-signatures>
    </div>
  </section>
  <section class="content__cell mv-details__servables">
    <div class="content__cell-title">Servables</div>
    <div class="content__cell-body">
      <hs-servables-table
        [servables]="servables$ | async"
        (showedLog)="showServableLogs($event)"
      >
      </hs-servables-table>
    </div>
  </section>

  <div class="log" [ngClass]="{ 'log--is-visible': globalLog }">
    <div class="log__layout" (click)="toggleGlobalLog()"></div>
    <div class="log__content">
      <ng-container #logContainer></ng-container>
    </div>
  </div>
</div>
