@import 'variables.scss';
@import 'statuses.scss';

.content {
    min-width: 720px;
    &-header {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        &__title {
            margin-bottom: 8px;
        }
    }
    &__body-section {
        margin-bottom: 24px;
    }
}

.actions {
    &__item {
        cursor: pointer;
        margin-right: 24px;
        color: hsla(242, 33%, 17%, 0.75);
        transition: color .3s ease;
        &:hover {
            color: hsla(242, 33%, 17%, 1);
        }
    }
    &__text {
        text-transform: uppercase;
        font-size: 12px;
    }
    &__icon {
        width: 18px;
        height: 18px;
        margin-right: 4px;
    }
}


.application {
    &::after {
        display: inline;
        content: ', ';
        white-space: pre;
    }
    &--isLast::after{
        display: none;
    }
    &-name {
        text-decoration: underline;
        cursor: pointer;
    }
}

.navigation-button {
    margin-bottom: 8px;
}

.status {
    text-transform: capitalize;
}