<div class="content">
    <div class="content-header">
        <button class="btn btn-flat" [routerLink]="['../']">
            <hydro-icon [type]="'icon-arrow-left'" ></hydro-icon>
            back to model
        </button>

        <div class="content-header__title">{{ (build$ | async)?.model.name }} / v{{ (build$ | async)?.version }}</div>
    </div>


    <div class="content-body">
        <ol class="content-info__sublist">
            <li class="content-info__sublist-item">
                <span class="content-info__sublist-item-title">Created</span>
                <span class="content-info__sublist-item-value">
                    <div class="status">{{ (build$ | async)?.finished | utcToLocal | amTimeAgo }}</div>
                </span>
            </li>
            <li class="content-info__sublist-item">
                <span class="content-info__sublist-item-title">Version</span>
                <span class="content-info__sublist-item-value">
                    <div class="status">{{ (build$ | async)?.version }}</div>
                    <div class="status-label" *ngIf="data?.nextVersion">New version available</div>
                </span>
            </li>
            <li class="content-info__sublist-item">
                <span class="content-info__sublist-item-title">Status</span>
                <ng-container *ngIf="build$ | async;let build">
                    <span class="content-info__sublist-item-value model-build-status--{{build.status | lowercase}}" [status]="build.status"  modelStatus >
                        <span #statusText class="status"></span>
                    </span>
                </ng-container>
            </li>
            <li class="content-info__sublist-item">
                <span class="content-info__sublist-item-title">Applications</span>
                <span class="content-info__sublist-item-value">
                    <span *ngFor="let app of ((build$ | async)?.modelVersion.applications | slice: (build$ | async)?.modelVersion.applications.length - 2);last as isLast"
                        [routerLink]="['../../../applications', app.id]"
                        class='application'
                        [ngClass] = "{'application--isLast': isLast}">
                        <span class="application-name">{{app.name}}</span>
                    </span>
                </span>
            </li>
        </ol>
        <hydro-signatures [isEditable]="false" [modelId]="modelId"></hydro-signatures>

        <hydro-data-profiles [modelVersionId]="modelVersionId"></hydro-data-profiles>
    </div>
</div>