<div class="stat">
  <hs-services-header
    [modelVersion]="modelVersion$ | async"
  ></hs-services-header>
  <hs-stat-availability>
    <div class="stat__loader" *ngIf="isLoading$ | async">
      <hs-loader class="stat__loader-icon"></hs-loader>
    </div>
    <hs-error-message *ngIf="error$ | async as error">{{
      error
    }}</hs-error-message>
    <ng-container *ngIf="stat$ | async as stat">
      <div class="report">
        <div class="report__title">Report</div>
        <div class="report__body">
          <div class="report__overall">
            <div>
              Overall drift's status
              <!--              <span class="report__overall-drift">{{-->
              <!--                stat.overall_probability_drift | percent-->
              <!--              }}</span>-->
            </div>
            <div class="report__overall-decision">
              <hs-drift-status
                [drift]="stat.overall_probability_drift"
                size="24"
              ></hs-drift-status>
              <span
                class="report__overall-decision-text"
                *ngIf="stat.warnings.final_decision"
                >{{ stat.warnings.final_decision }}</span
              >
            </div>
          </div>
          <div class="report__warnings">
            <div
              *ngFor="let warning of stat.warnings.report"
              class="report__warning"
            >
              <hs-drift-status
                class="report__warning-status"
                [drift]="warning.drift_probability_per_feature"
                size="24"
              ></hs-drift-status>
              <div class="report__warning-msg">
                {{ warning.message }} Drift:
                <span class="report__warning-drift">{{
                  warning.drift_probability_per_feature | percent
                }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="feature-analysis">
        <div class="feature-analysis__title">Feature Analysis</div>
        <div class="feature-analysis__body">
          <hs-feature-report
            [perFeatureReport]="stat.per_feature_report"
          ></hs-feature-report>
        </div>
      </div>
    </ng-container>
  </hs-stat-availability>
</div>
