<div class="stat">
  <div class="stat__loader" *ngIf="isLoading$ | async; else bodySection">
    <hs-loader class="stat__loader-icon"></hs-loader>
  </div>
</div>

<ng-template #bodySection>
  <div class="stat__body">
    <hs-error-message *ngIf="error$ | async as error; else report">{{
      error
    }}</hs-error-message>
  </div>
</ng-template>

<ng-template #report>
  <div class="report">
    <div class="report__title">Report</div>
    <div class="report__body">
      <div class="report__overall">
        <div>
          Overall probability drift:
          <span class="report__overall-drift">{{
            (stat$ | async)?.overall_probability_drift | percent
          }}</span>
        </div>
        <div class="report__overall-decision">
          <hydro-icon
            [drift]="(stat$ | async)?.overall_probability_drift"
            class="report__overall-decision-icon"
            hsColorByDrift
            type="icon-error-outline"
          ></hydro-icon>
          <span class="report__overall-decision-text">{{
            (stat$ | async)?.warnings.final_decision
          }}</span>
        </div>
      </div>
      <div class="report__warnings">
        <div
          *ngFor="let warning of (stat$ | async)?.warnings.report"
          class="report__warning"
        >
          <span [drift]="warning.drift_probability_per_feature" hsColorByDrift>
            <hydro-icon
              class="report__warning-icon"
              type="icon-error-outline"
            ></hydro-icon>
          </span>
          <div class="report__warning-msg">
            {{ warning.message }} Drift:
            <span class="report__warning-drift">{{
              warning.drift_probability_per_feature | percent
            }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="feature-analysis">
    <div class="feature-analysis__title">Feature Analysis</div>
    <div class="feature-analysis__body">
      <hs-feature-report
        [perFeatureReport]="(stat$ | async)?.per_feature_report"
      ></hs-feature-report>
    </div>
  </div>
</ng-template>
