<div>
  <h1 class="mdl-dialog__title mat-dialog-title">Stop "{{model?.modelRuntime?.source}}"</h1>
  <div *ngIf="hasWeightedServices" class="warning">
    <i class="material-icons warning-icon">warning</i>
    <span class="warning-text">Caution! This model is used by services.</span>
  </div>
  <hydro-model-details-summary [model]="model" [isDeployable]="false" [isModelService]="true"></hydro-model-details-summary>

  <div class="btn-group form-actions">
    <button class="btn btn-flat btn-large" (click)="dialogRef.hide()" type="button">CANCEL</button>
    <button class="btn btn-colored btn-large" (click)="submitStopModelForm()" type="submit" [disabled]="hasWeightedServices">Stop model</button>
  </div>


</div>
