.warning {
  color: #ffffff;
  background-color: #f28a03;
  font-size: 18px;
  &-icon {
    margin: 7px;
  }
  &-text {
    text-align: center;
    vertical-align: super;
  }
}

.btn-group {
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 10px;
}
