<div class="models-header" *ngIf="model$ | async">
  <div class="models-header__path">
    <div class="models-header__tile" (click)="onClickModel()">
      <div class="models-header__model-name">{{ (model$ | async)?.name }}</div>
    </div>
    <ng-container *ngIf="modelVersion$ | async as modelVersion">
      <ng-container
        [ngTemplateOutlet]="modelVersionsTile"
        [ngTemplateOutletContext]="{ $implicit: modelVersion }"
      ></ng-container>
      <ng-container
        *ngIf="service$ | async as serviceName"
        [ngTemplateOutlet]="servicesTile"
        [ngTemplateOutletContext]="{ $implicit: serviceName }"
      ></ng-container>
    </ng-container>
  </div>

  <button
    *ngIf="showButton$ | async"
    hs-button
    color="warning"
    kind="flat"
    (click)="onDelete()"
  >
    delete
  </button>
</div>

<ng-template #modelVersionsTile let-modelVersion>
  <div
    *ngIf="(siblings$ | async)?.length; else simple"
    class="models-header__tile"
    (mouseenter)="onEnter()"
    (mouseleave)="onLeave()"
  >
    <div class="models-header__model-version" (click)="onClickModelVersion()">
      <span class="models-header__model-version-ver"
        >{{ modelVersion.modelVersion }}
      </span>
      <hydro-icon
        class="models-header__model-version-icon"
        type="icon-right"
      ></hydro-icon>
    </div>
    <div class="models-header__siblings" #siblings>
      <div
        class="models-header__sibling"
        *ngFor="let sibling of siblings$ | async"
        (click)="onClickSibling(sibling)"
      >
        <span class="models-header__sibling-ver">{{
          sibling.modelVersion
        }}</span>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #servicesTile let-name>
  <div class="models-header__tile models-header__service-name">
    {{ name }}
  </div>
</ng-template>

<ng-template #simple>
  <div class="models-header__tile">
    <div
      class="models-header__model-version models-header__model-version--no-cursor"
      (click)="onClickModelVersion()"
    >
      <span class="models-header__model-version-ver"
        >{{ (modelVersion$ | async)?.modelVersion }}
      </span>
    </div>
  </div>
</ng-template>
