<div class="dform">
  <form [formGroup]="form" class="form">
    <hydro-input-text
      class="metric__name"
      name="metricName"
      label="Metric Name"
      formControlName="name"
      bordered="true"
    >
    </hydro-input-text>
    <ng-container
      *ngIf="
        form.get('name').dirty &&
          form
            .get('name')
            .getError('format');
        let error
      "
    >
      <ul class="error__list metric__error-list">
        <li class="error__item">
          {{ error }}
        </li>
      </ul>
    </ng-container>
    <div class="row">
      <mdl-select formControlName="kind" label="Choose metric">
        <mdl-option
          *ngFor="let kind of metricSpecificationKinds"
          [value]="kind.className"
          >{{ kind.name }}</mdl-option
        >
      </mdl-select>
    </div>
    <!-- <div class="row">
      <label class="hydro-checkbox">
        <span class="hydro-checkbox__label">Use this metric for health checks</span>
        <input type="checkbox" formControlName="withHealth" />
        <span></span>
      </label>
    </div> -->
    <div>
      <hs-metric-spec-config
        class="config"
        [parent]="form"
        [applications]="applications$ | async"
        [sources]="sources$ | async"
      >
      </hs-metric-spec-config>
    </div>
  </form>
  <div class="buttons">
    <button hs-button (click)="onClose()" hsAutofocused>
      cancel
    </button>
    <button
      hs-button
      kind="flat"
      color="primary"
      [disabled]="!form.valid"
      (click)="onSubmit()"
    >
      {{ actionName }} Metric
    </button>
  </div>
</div>
