<div class="dform">
  <form [formGroup]="form" class="form">
    <hydro-input-text
      name="metricName"
      label="Metric Name"
      formControlName="name"
    >
    </hydro-input-text>
    <div class="row">
      <mdl-select formControlName="kind" label="Choose metric">
        <mdl-option
          *ngFor="let kind of metricSpecificationKinds"
          [value]="kind.className"
          >{{ kind.name }}</mdl-option
        >
      </mdl-select>
    </div>
    <div class="row">
      <label class="hydro-checkbox">
        Use this metric for health checks
        <input type="checkbox" formControlName="withHealth" />
        <span></span>
      </label>
    </div>
    <div>
      <hs-metric-spec-config
        class="config"
        [parent]="form"
        [applications]="applications$ | async"
        [sources]="sources$ | async"
      >
      </hs-metric-spec-config>
    </div>
  </form>
  <div class="buttons">
    <button
      hs-button
      kind="flat"
      color="primary"
      [disabled]="!form.valid"
      (click)="onSubmit()"
    >
      {{ actionName }} Metric
    </button>
    <button hs-button (click)="onClose()" hsAutofocused>
      cancel
    </button>
  </div>
</div>
