@import "variables.scss";
:host-context {
  position: absolute;
  width: 100%;
  left: 0;
}

.dform {
  padding: 24px;
  background: white;
  position: absolute;
  top: -24px;
  right: 0;
  left: 0;
  z-index: 9999;
  transform: translateY(-100%);
  animation: dropDown .4s ease-in forwards;
  box-shadow: 0px 0px 10px 0px $neutral-color-700;
}

@keyframes dropDown {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0%);}
}

label.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.form-actions {
  &__button {
    margin-right: 24px;
  }
}

.buttons {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
  button + button {
    margin-left: 8px;
  }
  
}

.row {
  padding: 10px 0;
}

.input {
  border: none;
  font-size: 16px;
  margin-left: 4px;
  // color: #3c435a;
  font-weight: bold;
  letter-spacing: 1px;
}

.config {
  margin-bottom: 12px
}