@import "variables.scss";

.services-list__ {
  &row {
    position: relative;
    overflow: inherit;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
  }
  &.services-list__row--big {
    height: 100px;
  }
  &search {
    height: 43px;
    padding: 0 20px;
    &-icon {
      position: absolute;
      font-size: 20px;
      vertical-align: text-bottom;
      margin: 13px;
    }
  }
  &title {
  }
  &__item {
    .services-list__item--hover-disabled:hover {
      background-color: $aside-bg-color;
    }
  }
  &search-input {
    font-size: 16px;
    width: 100%;
    height: 100%;
    padding-left: 46px;
  }
  &badge {
    &.mdl-badge:after {
      background-color: #f28a03;
      height: $badge-width;
      width: $badge-height;
      font-size: 14px;
      margin-right: 25px;
    }
  }
}

.mdl-list__ {
  &item {
    &:hover {
      cursor: pointer;
    }
    &-title {
      color: $form-border-color-focus;
      display: inline-block;
      margin-bottom: 0.5rem;
    }
    &-sub-title {
      color: $label-color;
      display: inline-block;
    }
    &.services-list__item {
      color: $main-color;
      font-family: $main-font-family;
      height: 100%;
      font-size: 18px;
      padding: 1rem 0 1rem 1rem;
      border-bottom: 1px solid #dcdee0;
      &:hover,
      &--active {
        background-color: #e6e9ed;
      }
      &:hover {
        mdl-icon {
          visibility: visible;
        }
      }
      mdl-icon {
        z-index: 10;
        visibility: hidden;
      }
    }
    &-primary-content {
      padding-left: 1rem;
      margin-right: 2rem;
      height: 100%;
    }
  }
  &item-icon {
    &.services-list__item-icon {
      color: $main-color;
      margin-right: 16px;
    }
  }
}
