.message {
    margin-top: 16px;
    padding: 8px;
    color: white;
    &--is-error {
        background: red;
    }

    &--is-success {
        background: green;
    }
}

.control {
    display: block;
    margin-bottom: 12px;
}