<div>
  <form [formGroup]="replyForm" #form>
    <mdl-select formControlName="model" label="model">
      <mdl-option *ngFor="let model of models$ | async" [value]="model">
        {{ model.name }}
      </mdl-option>
    </mdl-select>

    <mdl-select formControlName="modelVersionFrom" label="model version">
      <mdl-option
        *ngFor="let modelVersion of modelVersions$ | async"
        [value]="modelVersion.id"
      >
        {{ modelVersion.modelVersion }}
      </mdl-option>
    </mdl-select>

    <mdl-select formControlName="modelVersionTo" label="model version">
      <mdl-option
        *ngFor="let modelVersion of secondModelVersions$ | async"
        [value]="modelVersion.id"
      >
        {{ modelVersion.modelVersion }}
      </mdl-option>
    </mdl-select>

    <p>
      <mdl-radio name="time" value="0" formControlName="time" mdl-ripple
        >All time</mdl-radio
      >
      <mdl-radio name="time" value="1" formControlName="time" mdl-ripple
        >Interval</mdl-radio
      >
    </p>
  </form>
  <button
    class="button button--primary"
    (click)="reply()"
    [disabled]="!replyForm.valid"
  >
    reply
  </button>

  <ng-container *ngIf="message$ | async; let message">
    <div class='message' [ngClass]="'message--is-'+message.type">
      {{ message.text }}
    </div>
  </ng-container>
</div>

