<div class="signature" *ngIf="signature">
  <div class="signature__header">
    <span class="signature__title">Signature </span>
  </div>
  <div class="signature__io">
    <div class="signature__io-field">
      <div class="signature__io-field-title">inputs</div>
      <div
        class="signature__io-field-item"
        *ngFor="let input of signature.inputs"
      >
        <div class="signature__io-field-name">{{ input.name }}</div>
        <div class="signature__io-field-additional-info">
          {{ input.profile }} :
          {{ input.dtype }}
        </div>
      </div>
    </div>
    <div class="signature__io-separator"></div>
    <div class="signature__io-field">
      <div class="signature__io-field-title">outputs</div>
      <div
        class="signature__io-field-item"
        *ngFor="let output of signature.outputs"
      >
        <div class="signature__io-field-name">
          {{ output.name }}
        </div>
        <div class="signature__io-field-additional-info">
          {{ output.profile }} :
          {{ output.dtype }}
        </div>
      </div>
    </div>
  </div>
</div>
