@import 'variables';

.deployment-config-page {
  display: flex;
  height: 100%;

  &__sidebar {
    min-width: 250px;
    width: 250px;
  }

  &__button {
    width: 100%;
  }

  &__body {
    height: calc(100% - 72px);
    overflow: auto;
    width: 100%;
  }

  &__message {
    font-size: 24px;
    padding: 24px;
    text-align: center;

    &-link {
      color: $primary-color-700;
    }
  }
}

:host-context(.mr-md) {
  .deployment-config-page {
    &__sidebar-toggler {
      display: none;
    }
  }
}

:host-context(.ls-md) {
  .deployment-config-page {
    &__sidebar {
      left: -250px;
      position: absolute;
      height: 100%;
      z-index: -3;
      transition: all 0.3s ease-in-out;
      &_open {
        left: 0;
        z-index: 3;
      }
    }
  }
}

