<div class="deployment-config-page">
  <div class="deployment-config-page__sidebar" hsHideInZenMode>
    <hs-sidebar
      [sidebarData]="configs$ | async"
      [selectedItem]="selectedConfig$ | async"
      (filtered)="handleFilter($event)"
      (clicked)="handleSidebarClick($event)"
    >
     <button
      class="deployment-config-page__button"
      hs-button
      kind="flat"
      color="primary"
      (click)="addDeploymentConfig()"
      #button
     >
      create config
    </button>
    </hs-sidebar>
  </div>
  <div class="deployment-config-page__body" *ngIf="configs$ | async as configs">
    <ng-container *ngIf="configs && configs.length; else notify">
      <router-outlet></router-outlet>
    </ng-container>
  </div>
</div>

<ng-template #notify>
  <div class="deployment-config-page__message">
    <a
      class="deployment-config-page__message-link"
      href="https://docs.hydrosphere.io/quickstart/tutorials/deployment-configuration"
      target="_blank"
      >Upload</a
    >
    first deployment config
  </div>
</ng-template>
