.loader-hidden {
  visibility: hidden;
}
.loader-overlay {
  position: absolute;
  width:100%;
  top:0;
  left: 0;
  opacity: 1;
  z-index: 9999999;
}

.loader-overlay--fullscreen {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #CCCCCC;
  opacity: 0.5;
  z-index: 999999;
}

.mdl-snackbar {
  z-index: 9999999;
}
