@import "variables.scss";

.notify {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    letter-spacing: 1px;
    margin-bottom: 32px;
  }

  &__link {
    color: $primary-color-600;
    text-decoration: none;
  }

  &__button {
    width: 100%;
  }
}