@import "variables.scss";

.test-application {
  position: relative;
  max-width: 700px;
  min-width: 700px;
  &__close-icon {
    cursor: pointer;
    top: 0;
    right: 0;
    height: 24px;
    position: absolute;
    width: 24px;
  }
}
.CodeMirror {
    background-color: #f2f4f7!important;
    &:last-of-type {
      background-color: #f2f4f7;
    }
}

.cm-s-output {
  background-color: #f2f4f7!important;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.form-button {
  margin-right: 8px;
  font-size: 14px;
}

.input {
  &-text {
    &__input {
      font-family: monospace;
    }
  }
}



.test-fields {
  display: flex;
  margin-bottom: 8px;
  &__item {
    flex: 1;
    margin: 0 4px;
    &-header {
      display: flex;
      justify-content: space-between;
    }
  }
}
.status {
  font-size: 12px;
  width: 90px;
  &__text {
    background: $main-bg-color;
    border-radius: 2px;
    padding: 0 4px;
    &--failed {
      color: $color--failed;
    } 
    &--pending {
      color: $color--pending;
    }
    &--success {
      color: $color--success;
    }
  }
}

.application-name {
  font-size: 18px;
  &__label {

  }
}

.error-container {
  border: 1px $error-container-border-color solid;
  padding: 4px;
  background: $error-container-background-color;
}