@import 'variables';

.explanation {
  &__buttons {
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;
  }
  &__tiles {
    display: flex;
    margin-top: 12px;
  }
  &__tile + &__tile {
    margin-left: 24px;
  }
  &__tile {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-key {
      font-family: $font-family-light;
      color: $neutral-color-700;
    }
    &-value {
      font-family: $font-family-bold;
      color: $neutral-color-900;
      font-size: 28px;
      margin: 8px 0;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    &-key {
      color: $neutral-color-700;
      font-family: $font-family-light;
      text-align: center;
    }
    &-value {
      text-align: center;
      color: $neutral-color-1000;
      font-size: 16px;
    }
  }
  &__item + &__item {
    margin-top: 8px;
  }
}

.anchor {
  &__title {
    font-family: $font-family-bold;
    text-transform: uppercase;
    color: $neutral-color-900;
    margin-bottom: 12px;
  }
  &__body {
    display: flex;
    align-items: center;
    color: $neutral-color-800;
  }
  &__precision {
    padding: 0 12px;
  }
  &__operator {
    font-family: $font-family-bold;
    color: $neutral-color-800;
    //text-transform: uppercase;
  }
  &__accent {
    color: $neutral-color-800;
  }
  &__explanations {
    display: flex;
    flex-direction: column;
    & table {
      & > tbody > tr {
        //line-height: 18px;
        & > td {
          padding: 0 2px;
        }
      }
    }
  }
}
