<div class="mv-header">
  <div class="mv-header__name">{{ (modelVersion$ | async)?.model.name }}</div>
  <div
    class="mv-header__version"
    (mouseenter)="onEnter()"
    (mouseleave)="onLeave()"
  >
    <span (click)="onClickModelVersion()">{{
      (modelVersion$ | async)?.modelVersion
    }}</span>
    <div class="mv-header__siblings" #siblings>
      <div *ngFor="let sibling of siblings$ | async">
        <span class="mv-header__sibling" (click)="onClickSibling(sibling)">{{
          sibling.modelVersion
        }}</span>
      </div>
    </div>
  </div>
</div>
