@import 'variables';

.mv-header {
  height: 32px;
  background: $neutral-color-100;
  color: $neutral-color-900;
  text-align: center;
  line-height: 32px;
  font-size: 16px;
  font-family: $font-family-bold;
  display: flex;
  justify-content: center;
  &__version {
    margin-left: 12px;
    padding-left: 4px;
    padding-right: 4px;
    border-bottom: 1px $neutral-color-800 solid;
    cursor: pointer;
    position: relative;
    padding-bottom: 4px;
  }

  &__siblings {
    visibility: hidden;
    background: white;
    position: absolute;
    border: 1px $neutral-color-200 solid;
    border-radius: 2px;
    left: 0;
    width: 46px;
    padding: 4px;
    transform: translateY(10px);
    transition: 0.3s transform ease;
    max-height: 120px;
    overflow-y: scroll;
    z-index: 99999;
    &-showed {
      visibility: visible;
      transform: translateY(0px);
    }
  }
  &__sibling {
    color: $neutral-color-500;
    cursor: pointer;
    transition: 0.3s color ease;
    &:hover {
      color: $neutral-color-900;
    }
  }
}
