@import 'variables';

:host {
  width: 100%;
}

.log {
  height: 100%;
  width: 100%;
  position: relative;
  &__header {
    color: $neutral-color-800;
    font-family: $font-family-light;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 8px;
    position: relative;
    text-transform: uppercase;
  }

  &__body {
    background: $neutral-color-1000;
    display: flex;
    flex-direction: column;
    height: calc(100% - 76px);
    min-height: 60px;
    overflow: auto;
    word-break: break-all;
    padding: 12px;
    width: 100%;
  }

  &__item {
    white-space: pre-wrap;

    &-index {
      color: $neutral-color-400;
      padding-right: 8px;
    }

    &-text {
      color: $neutral-color-100;
    }

    &-counter {
      color: $neutral-color-100;
      height: 18px;
      width: 18px;
      font-size: 10px;
      font-family: $font-family-bold;
      background-color: $neutral-color-800;
      border-radius: 100%;
      display: flex;
      justify-content: center;
    }
  }

  &__scroller {
    position: relative;
    top: -32px;
    padding: 4px;
    background: #94afc13b;
    text-align: center;
    color: rgba(255, 255, 255, 0.466);
    cursor: pointer;

    &-icon {
      height: 24px;
      width: 24px;
    }

    &:hover {
      color: $neutral-color-100;
    }
  }

  &--is-empty {
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    color: $neutral-color-500;
    font-family: $font-family-light;
    font-style: italic;
  }

  &__close-icon {
    position: absolute;
    top: calc(50% - 58px);
    left: -28px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: $neutral-color-600;
    transition: 0.3s ease all;
    &:hover {
      color: $neutral-color-1000;
    }
  }

  &__retry {
    background-color: crimson;
    color: white;
    height: 30px;
    width: 60px;
    border: 1px solid white;
    &:hover {
      cursor: pointer;
    }
  }
}
