<section class="log">
  <div class="log__header">
    {{ header }}
  </div>
  <hs-error-message *ngIf="error">
    {{ error }}
  </hs-error-message>
  <div class="log__body" #logBody>
    <table>
        <tr
        class="log__item"
        *ngFor="let item of logs; index as i; trackBy: trackByFn"
      >
        <td class="log__item-index">{{ i }}</td>
        <td class="log__item-text">{{ item.logText }}</td>
        <td *ngIf="item.count > 1">
          <div class="log__item-counter">{{ item.count }}</div>
        </td>
      </tr>
    </table>
  </div>
  <div class="log__scroller" *ngIf="!autoScroll" (click)="scrollDown()">
    <hydro-icon
      class="icon log__scroller-icon"
      type="icon-arrow-down"
    ></hydro-icon>
  </div>
  <hydro-icon
    class="icon log__close-icon"
    type="icon-close-sidebar"
    (click)="onClose()"
  ></hydro-icon>
</section>
