<div class="custom-checks">
  <ng-container *ngIf="!emptyMetrics; else emptyMetricsTpl">
    <header class="custom-checks__header">
      <button
        color="cyan"
        class="custom-checks__button"
        hs-button
        (click)="onOpenSetting()"
      >
        metric settings
      </button>
    </header>
    <ng-container *ngIf="!noData; else noDataTpl">
      <hs-custom-check
        *ngFor="let check of customChecks; trackBy: trackByFn"
        [check]="check"
      >
      </hs-custom-check>
    </ng-container>
  </ng-container>
</div>

<ng-template #emptyMetricsTpl>
  <div class="custom-checks__empty">
    <div class="custom-checks__alert">
      Custom metric list is empty
    </div>
    <button
      class="custom-checks__button"
      color="cyan"
      kind="flat"
      hs-button
      (click)="onOpenSetting()"
    >
      Add metric
    </button>
  </div>
</ng-template>
<ng-template #noDataTpl>
  <div class="custom-checks__empty">
    <div class="custom-checks__alert">
      Waiting data
    </div>
  </div>
</ng-template>
