@import "variables";

.custom-checks {
  margin: 12px 0;
  &__body {
    position: relative;
  }

  &__loader {
    color: $primary-color-800;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ffffffb5;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  &__header {
    text-align: right;
  }
  &__empty {
    text-align: center;
  }
  &__alert {
    color: $neutral-color-600;
    font-family: $font-family-light;
    margin-bottom: 4px;
  }
}