<div class="mv-services">
  <div class="mv-services__title">Services</div>
  <div class="mv-services__list">
    <div class="mv-services__item">
      <hydro-icon type="monitoring" class="mv-services__icon"></hydro-icon>
      <button
        class="mv-services__button"
        hs-button
        kind="flat"
        color="primary"
        [routerLink]="['./monitoring']"
        queryParamsHandling="merge"
      >
        monitoring
      </button>
    </div>

    <ng-container
      *ngTemplateOutlet="
        (serviceStatuses$ | async)?.statuses?.visualization?.supported
          ? visualizationTile
          : notSupported;
        context: {
          name: 'Data projection',
          iconName: 'data_projection',
          message: (serviceStatuses$ | async)?.statuses?.visualization?.message
        }
      "
    >
    </ng-container>
    <ng-container
      *ngTemplateOutlet="
        (serviceStatuses$ | async)?.statuses?.stat?.supported
          ? monitoringTile
          : notSupported;
        context: {
          name: 'Drift Report',
          iconName: 'drift_report',
          message: (serviceStatuses$ | async)?.statuses?.stat?.description
        }
      "
    >
    </ng-container>
  </div>
</div>

<ng-template #visualizationTile>
  <div class="mv-services__item">
    <hydro-icon type="data_projection" class="mv-services__icon"></hydro-icon>
    <button
      class="mv-services__button"
      hs-button
      kind="flat"
      color="primary"
      [routerLink]="['./data_projection']"
      queryParamsHandling="merge"
    >
      Data projection
    </button>
  </div>
</ng-template>

<ng-template #monitoringTile>
  <div class="mv-services__item">
    <hydro-icon type="drift_report" class="mv-services__icon"></hydro-icon>
    <button
      class="mv-services__button"
      hs-button
      kind="flat"
      color="primary"
      [routerLink]="['./drift_report']"
      queryParamsHandling="merge"
    >
      drift report
    </button>
  </div>
</ng-template>

<ng-template
  #notSupported
  let-message="message"
  let-name="name"
  let-iconName="iconName"
>
  <div [hs-tooltip]="message">
    <div class="mv-services__item mv-services__item--unsupported">
      <hydro-icon
        [type]="iconName"
        class="mv-services__icon mv-services__icon--unsupported"
      ></hydro-icon>
      <p class="mv-services__text">
        {{ name }}
      </p>
    </div>
  </div>
</ng-template>
