<div class="aggregation" *ngIf="aggregationList$ | async as aggregationList">
  <ng-container>
    <span class="aggregation__info">
      <hydro-icon class="aggregation__info-icon" type="info"></hydro-icon>
      <div class="aggregation__info-legend">
        <hs-aggregation-legend></hs-aggregation-legend>
      </div>
    </span>
    <div class="aggregation__sidebar">
      <hs-aggregation-sidebar
        [minDate]="minDate$ | async"
        [maxDate]="maxDate$ | async"
        [filterDateRange]="filterDateRange$ | async"
        [aggregationsList]="aggregationList"
        (dateTimeRangeChanged)="handleDateTimeRangeChange($event)"
        (filterDateRangeReset)="handleFilterDateReset()"
      ></hs-aggregation-sidebar>
    </div>

    <div
      class="aggregation__body"
      *ngIf="aggregationList.aggregations.length; else noDataAvailable"
    >
      <div class="aggregation__label">Inputs</div>
      <hs-aggregation-data-section
        type="features"
        [names]="inputNames"
        [aggregationList]="aggregationList"
        [selectedAggregation]="selectedAggregation$ | async"
        (columnClicked)="changeActiveColumn($event)"
      >
      </hs-aggregation-data-section>
      <div class="aggregation__label">Outputs</div>
      <hs-aggregation-data-section
        type="features"
        [names]="outputNames"
        [aggregationList]="aggregationList"
        [selectedAggregation]="selectedAggregation$ | async"
        (columnClicked)="changeActiveColumn($event)"
      >
      </hs-aggregation-data-section>

      <ng-container *ngIf="metricNames.length">
        <div class="aggregation__label">Metrics</div>
        <hs-aggregation-data-section
          type="metrics"
          [names]="metricNames"
          [aggregationList]="aggregationList"
          [selectedAggregation]="selectedAggregation$ | async"
          (columnClicked)="changeActiveColumn($event)"
        >
        </hs-aggregation-data-section>
      </ng-container>
    </div>
  </ng-container>
</div>

<ng-template #noDataAvailable>
  <div class="aggregation__message">
    No data available. Waiting data ...
  </div>
</ng-template>
