<div class="aggregation" *ngIf="aggregationList$ | async as aggregationList">
  <ng-container
    *ngIf="aggregationList.aggregations.length; else noDataAvailable"
  >
    <div class="aggregation__header">
      <hs-aggregation-header
        [canLoadNewer]="canLoadNewer$ | async"
        [canLoadOlder]="canLoadOlder$ | async"
        [aggregationList]="aggregationList"
        (loadNewer)="loadNewer()"
        (loadOlder)="loadOlder()"
      ></hs-aggregation-header>
    </div>
    <div class="aggregation__features-label">Features</div>
    <hs-aggregation-data-section
      type="features"
      [names]="featureNames"
      [aggregationList]="aggregationList"
      [selectedAggregation]="selectedAggregation$ | async"
      (columnClicked)="changeActiveColumn($event)"
    >
    </hs-aggregation-data-section>

    <ng-container *ngIf="metricNames.length">
      <div class="aggregation__metrics-label">Metrics</div>
      <hs-aggregation-data-section
        type="metrics"
        [names]="metricNames"
        [aggregationList]="aggregationList"
        [selectedAggregation]="selectedAggregation$ | async"
        (columnClicked)="changeActiveColumn($event)"
      >
      </hs-aggregation-data-section>
    </ng-container>
  </ng-container>
</div>

<ng-template #noDataAvailable>
  <div class="aggregation__message">
    No data available. Waiting data ...
  </div>
</ng-template>
