@import "variables";

.column {
  cursor: pointer;
  opacity: .5;
  transition: .1s all ease;

  &:hover,
  &--active {
    opacity: 1;
  }
}

.aggregation {
  background: white;
  border: 1px $neutral-color-200 solid;
  border-radius: 4px;
  height: 100%;
  margin-right: 12px;
  padding: 20px 24px;
  position: relative;
  width: 100%;

  &__loader {
    color: $neutral-color-300;
    font-family: $font-family-light;
    left: calc(50% - 12px);
    position: absolute;
    top: calc(100% - 20px);

    &-icon {
      display: inline-block;
      height: 20px;
      width: 20px;
    }
  }

  &__body {
    display: flex;
    align-items: center;
  }

  &__header {
    align-items: center;
    color: $neutral-color-700;
    display: flex;
    font-family: $font-family-light;
    font-size: 12px;
    justify-content: center;
    line-height: 14px;
    margin-bottom: 8px;

    &-range {
      margin: 0 12px;
      text-align: center;
      font-size: 12px;
      color: $neutral-color-900;
      font-family: $font-family-bold;
    }

    &-nav-button {
      color: $neutral-color-600;
      cursor: pointer;
      height: 16px;
      transition: .3s all ease;
      width: 16px;

      &:hover {
        color: $neutral-color-900;
      }
    }

    &-count {
      color: $neutral-color-900;
      font-family: $font-family-regular;
    }
  }

  &__labels {
    list-style: none;
    margin: 0;
    margin-right: 8px;
    padding: 0;

    &-item {
      text-align: right;
      color: $neutral-color-800;
      font-family: $font-family-regular;
      font-size: 10px;
      line-height: 14px;
      margin-bottom: 1px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__metrics-label,
  &__features-label,
  &__batches-label {
    color: $neutral-color-800;
    font-family: $font-family-bold;
    font-size: 12px;
  }

  &__message {
    color: $neutral-color-600;
    font-family: $font-family-bold;
    font-size: 12px;
    text-align: center;
  }
}
