@import "variables";

.column {
  opacity: .5;
  cursor: pointer;
  transition: .1s all ease;

  &:hover,
  &--active {
    opacity: 1;
  }
}

.aggregation {
  height: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px $neutral-color-900 solid;
  width: 1100px;
  margin-right: 12px;
  background: white;

  &__body {
    display: flex;
  }

  &__header {
    align-items: center;
    color: $neutral-color-700;
    display: flex;
    font-family: $font-family-light;
    font-size: 12px;
    justify-content: center;
    line-height: 14px;
    margin-bottom: 8px;
    &-selected {
      text-align: center;
      margin: 0 12px;
    }
    &-nav-button {
      color: $neutral-color-600;
      cursor: pointer;
      height: 16px;
      width: 16px;
      transition: .3s all ease;
      &:hover {
       color: $neutral-color-900;
      }
    }
    &-count {
      font-family: $font-family-regular;
      color: $neutral-color-900;
    }
  }

  &__labels {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 8px;

    &-item {
      font-family: $font-family-light;
      line-height: 12px;
      font-size: 10px;
      margin-bottom: 2px;
      color: $neutral-color-700;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__metrics-label,
  &__features-label,
  &__batches-label {
    color: $neutral-color-900;
    font-family: $font-family-bold;
  }

  &__message {
    text-align: center;
    color: $neutral-color-600;
    font-family: $font-family-light;
  }
}
