<div class="color-by-selector">
  <div class="color-by-selector__title">
    Colorize by
  </div>
  <div class="color-by-selector__options">
    <mdl-radio
      (change)="onColorByChange($event)"
      [ngModel]="colorBy"
      name="group"
      class="color-by-selector__options-item"
      value="class"
      >Class label</mdl-radio
    >
    <mdl-radio
      (change)="onColorByChange($event)"
      [ngModel]="colorBy"
      name="group"
      class="color-by-selector__options-item"
      value="metric"
      >Metric</mdl-radio
    >
  </div>
</div>
