@import "variables";

.color-by-selector {
  &__title {
    color: $neutral-color-1000;
    font-family: $font-family-bold;
  }
  &__options {
    &-item {
      font-family: $font-family-light;
      color: $neutral-color-1000;
    }

    &-item + &-item {
      margin-left: 12px;
    }
  }
}