<div class="comparing">
  <div class="comparing__label">Compare with:</div>
  <div class="comparing__list">
    <div class="comparing__item" *ngFor="let mv of modelVersions$ | async">
      <span class="comparing__item-name"
        >{{ mv.model.name }}:
        <span class="comparing__item-version">{{ mv.modelVersion }}</span></span
      >
      <hs-icon
        class="comparing__item-icon"
        type="icon-close"
        (click)="remove(mv)"
      ></hs-icon>
    </div>
    <div class="comparing__button" (click)="add()">+</div>
  </div>
</div>
