<aside class="sidebar">
    <div class="sidebar-header">
        <div class="sidebar-header__row">
            <!-- <h3 class='sidebar-title'>{{ sidebarTitle }}</h3> -->
            <ng-container *ngIf='actionButton'>
                <ng-container *ngTemplateOutlet="actionButton"></ng-container>
            </ng-container>
        </div>
        <div class="sidebar-header__row" *ngIf="isFilterEnabled">
            <hydro-filter 
                class='sidebar__filter' 
                [data]="sidebarList" 
                (filterEvent)="onFilter($event)">
            </hydro-filter>
        </div>
    </div>


    <div class="sidebar-body">
        <ul class='sidebar-list'>
            <li *ngFor="let item of sidebarFiltredList"
                class='sidebar-list__item' 
                [routerLink]="[isApplications ? item.name : item.id]" 
                routerLinkActive='__active'>
                <span class="sidebar-list__item-name">{{ item.name }}</span>
                <ng-container *ngIf="isApplications">
                    <hs-application-status class="sidebar-list__item-status" [application]="item"></hs-application-status>
                </ng-container>
            </li>
        </ul>
    </div>
</aside>