@import "variables.scss";

:host {
  height: 100%;
  flex-basis: 25%;
  overflow-y: scroll;
}

.sidebar {
  background-color: $aside-bg-color;
  min-height: 100%;
  &-header {
    padding: 24px;
    border-bottom: 2px solid #d4d7d9;
    &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &-title {
    font-weight: 700;
    font-size: 22px;
    margin: 0;
    line-height: 1;
    text-transform: capitalize;
    line-height: 46px;
  }
  &-search {
    flex-basis: 100%;
    margin-bottom: 0;
  }
  &-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    &__item {
      height: 0px;
      line-height: 15px;
      border-bottom: 1px solid $secondary-color;
      padding: 23px 36px;
      padding-right: 12px;
      cursor: pointer;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &.__active,
      &:hover,
      &:focus {
        background-color: $secondary-color;
      }
      &-status {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &-details {
        display: inline-flex;
        justify-content: flex-end;
        padding-right: 10px;
        > span {
          margin-right: 26px;
        }
      }
      &-name {
        max-width: 14vw;
        line-break: strict;
        text-overflow: ellipsis;
        font-size: 18px;
        font-family: $font-family-bold;
        color: #04143c;
      }
    }
  }
  &__deploy-icon {
    width: 12px;
    height: 12px;
    line-height: 12px;
  }
  &__pipeline-icon {
    width: 18px;
    height: 20px;
    color: #d4d7d9;
  }
  &__filter {
    width: 100%;
  }
}

.deployed {
  color: $color--success;
}

.undeployed {
  color: #e1e4eb;
}

.undeployed-filter {
  color: #d2d5d9;
}

.version-failed {
  color:#d24a43;
}
