@import "variables.scss";

:host {
  height: 100%;
  flex-basis: 25%;
  overflow-y: scroll;
}

.sidebar {
  background-color: $aside-bg-color;
  min-height: 100%;
  max-width: 280px;
  &-header {
    padding: 16px 24px;
    &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &-title {
    font-weight: 700;
    font-size: 22px;
    margin: 0;
    line-height: 1;
    text-transform: capitalize;
    line-height: 46px;
  }
  &-search {
    flex-basis: 100%;
    margin-bottom: 0;
  }
  &-list {
    list-style: none;
    margin: 0;
    padding: 0;
    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $secondary-color;
      padding: 0 24px;
      cursor: pointer;
      outline: none;
      line-height: 36px;
      &.__active,
      &:hover,
      &:focus {
        background-color: $secondary-color;
      }
      &-status {
        line-height: 24px;
      }
      &-name {
        line-break: strict;
        font-size: 16px;
        color: #04143c;
        display: block;
        width: 70%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
      }
    }
  }
  &__deploy-icon {
    width: 12px;
    height: 12px;
    line-height: 12px;
  }
  &__pipeline-icon {
    width: 18px;
    height: 20px;
    color: #d4d7d9;
  }
  &__filter {
    width: 100%;
  }
}

.deployed {
  color: $color--success;
}

.undeployed {
  color: #e1e4eb;
}

.undeployed-filter {
  color: #d2d5d9;
}

.version-failed {
  color:#d24a43;
}
