@import "variables.scss";

:host {
  height: 100%;
  width: 250px;
  overflow-y: scroll;
}

.sidebar {
  width: 250px;
  background-color: #f2f4f7;
  min-height: 100%;
  &-header {
    padding: 16px 24px;
    &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &-title {
    font-weight: 700;
    font-size: 22px;
    margin: 0;
    line-height: 1;
    text-transform: capitalize;
    line-height: 46px;
  }
  &-search {
    flex-basis: 100%;
    margin-bottom: 0;
  }
  &-list {
    list-style: none;
    margin: 0;
    padding: 0;
    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $secondary-color;
      padding: 0 24px;
      cursor: pointer;
      outline: none;
      line-height: 36px;
      &.__active,
      &:hover,
      &:focus {
        background-color: $secondary-color;
      }
      &-status {
        line-height: 24px;
      }
      &-name {
        line-break: strict;
        font-size: 16px;
        color: #04143c;
        display: block;
        width: 70%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
      }
    }
  }
  &__filter {
    width: 100%;
  }
  &__empty-message {
    text-align: center;
    color: #7a8996;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 12px;
  }
}
