@import 'variables.scss';

:host {
  height: 100%;
  overflow-y: scroll;
}

.sidebar {
  background: white;
  height: calc(100% - 56px);
  overflow: scroll;
  &__button {
    width: 100%;
    margin-bottom: 12px;
  }
  &__header {
    padding: 12px;
  }
  &__list {
    overflow: scroll;
  }

  &__item {
    font-family: $font-family-light;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: 12px 12px 12px 32px;
    transition: 0.3s ease all;
    color: $neutral-color-500;
    border-top: 1px $neutral-color-100 solid;
    &:hover,
    &--selected {
      color: $primary-color-700;
      font-family: $font-family-bold;
    }
  }

  &__name {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  &__status {
    margin-left: 8px;
  }

  &__bookmark {
    position: absolute;
    top: -1px;
    left: 0;
    margin-right: 4px;
    width: 24px;
    height: 24px;
    color: $neutral-color-200;
    transition: 0.3s ease all;
    opacity: 0.5;

    &:hover,
    &--selected {
      opacity: 1;
      color: $accent-color-600;
    }

    &--selected {
      &:hover {
        color: $neutral-color-200;
      }
    }
  }

  &__message {
    color: $neutral-color-500;
    text-align: center;
    font-family: $font-family-regular;
  }
}
