@import 'variables';

.error-check {
  width: 180px;
  &__information {
    min-width: 120px;
    &-name {
      font-size: 12px;
      color: $neutral-color-900;
      font-family: $font-family-light;
    }
  }
  &__chart {
    width: 140px;
    display: flex;
    flex-wrap: wrap;
  }
  &__cell {
    height: 12px;
    width: 12px;
    background-color:$supportive-color-green-400;
    margin: 1px;
    position: relative;
    text-align: center;
    &-index {
      top: 16px;
      color: $neutral-color-900;
      position: relative;
      font-size: 12px
    }
    &--failed {
      background-color: $supportive-color-red-400;
    }
  }

  &__button {
    margin: 6px 0;
    width: 100%
  }
}