<div class="error-check">
  <div class="error-check__information">
    <div class="error-check__information-name">
      Requests errors
    </div>
  </div>
  <div class="error-check__chart">
    <div
      class="error-check__cell"
      *ngFor="let item of data; let i = index"
      [ngClass]="{ 'error-check__cell--failed': item }"
    ></div>
  </div>
  <button
    (click)="openErrorsDialog()"
    class="error-check__button"
    color="cyan"
    hs-button
    *ngIf="showButton"
  >
    show errors
  </button>
</div>
