@import 'variables';

.error-check {
  &__information {
    min-width: 60px;
    &-name {
      font-size: 14px;
      color: $neutral-color-800;
      font-family: $font-family-bold;
    }
  }
  &__button {
    margin: 6px 0;
    width: 100%
  }
  &__count {
    text-align: center;
    margin: 16px 0;
    font-size: 32px;
    color: $supportive-color-green-400;
    &--failed {
      color: $supportive-color-red-400;
    }
  }
}