:host-context {
  position: absolute;
  width: 100%;
  left: 0;
}

.wrapper {
  position: absolute;
  left: calc(50% - 142px);
  top: -24px;
  width: 284px;
  padding: 24px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  animation: dropDown .3s ease-in forwards;
  box-shadow: 0 2px 4px -2px black;
}

@keyframes dropDown {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0%);}
}
