@import "variables.scss";



.form {
    &-kafkaSources {
        &__list {
            list-style: none;
            margin: 0;
            padding: 0;
            padding-left: 42px;
            &-item {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 100%;
                &:before {
                    content: '';
                    position: absolute;
                    border-left: 1px solid #818994;
                    border-bottom: 1px solid #818994;
                    width: 24px;
                    height: 24px;
                    left: -35px;
                    margin-top: -17px;
                }
                &-fields {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    > .input-field,
                    > .output-field {
                        flex: 0 0 50%;
                    }
                    > .bootstrapServers-field {
                        flex: 0 0 100%;
                    }
                }
                &--add {
                color: #4d9bf1;
                outline: none;
                cursor: pointer;
                > svg {
                    fill: #4d9bf1;
                    width: 10px;
                    height: 10px; 
                }
                > span {
                    border-bottom: 1px dashed #4d9bf1;
                    line-height: 1;
                }
                }
            }
        }
    }
    &-actions {
        > .btn {
            &:first-child {
                margin-left: 0;
                color: #818994;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.stages {
    &-list {
        margin-bottom: 50px;
        &__item {
            position: relative;
            &:not(:last-child) {
                margin-bottom: 50px;
            }
            &--title {
                color: #04143c;
                font-size: 18px;
                font-family: $font-family-bold;
                margin-bottom: 36px;
            }
            .__delete {
                cursor: pointer;
                width: 14px;
                height: 14px;
                fill: #969da6;
                position: absolute;
                top: 4px;
                right: 0;
            }
        }
    }
}

.parameters {
    &-list {
        counter-reset: counter;
        margin: 0;
        padding: 0;
        &__item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;
            position: relative;
            flex-direction: column;
            align-items: flex-start;
            padding: 0 25px;
            &:before {
                content: counter(counter)".";
                counter-increment: counter;
                font-size: 16px;
                color: #818994;
                margin-right: 12px;
                position: absolute;
                left: 0;
                top: 4px;
            }
            &.__add {
                &::before {
                    color: #e6e9ed;
                }
            }
            .__delete {
                cursor: pointer;
                width: 14px;
                height: 14px;
                fill: #969da6;
                position: absolute;
                top: 8px;
                right: 0;
            }
            &--model {
                margin-bottom: 14px;
            }
            &--row {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                position: relative;
                padding-left: 40px;
                &:before {
                    content: '';
                    position: absolute;
                    border-left: 1px solid #e6e9ed;
                    border-bottom: 1px solid #e6e9ed;
                    width: 24px;
                    height: 24px;
                    left: 0px;
                    bottom: 18px;
                }
                > *:not(:first-child) {
                    margin-left: 8px;
                }
                > *:not(:last-child) {
                    margin-right: 8px;
                }
            }
            &--runtime {
                max-width: 386px;
            }
            &--environment {
                max-width: 142px;
            }
            &--weight {
                display: flex;
                align-items: center;
                justify-content: center;
                > hydro-input-text {
                    margin-bottom: 0;
                }
            }
        }
    }
}

[class^="parameters-list__item"] {
    > label {
        text-transform: uppercase;
        font-size: 10px;
        line-height: 1;
        margin-bottom: 10px;
    }
}

.fieldset {
    border: 2px solid #e6e9ed;
    padding: 24px 28px 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    &-legend {
        display: flex !important;
        flex-direction: row;
        align-items: center;
        padding: 0 10px;
        flex-wrap: nowrap;
    }
}

.mdl-select {
    width: 100%;
}
