.hydro-checkbox {
  display: block;
  min-height: 18px;
  margin-bottom: 10px;
  padding-left: 20px;
  margin-top: 0;
  padding-left: 0;
  font-size: 10pt;

  input[type=checkbox] {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;

    & + span {
      padding-left: 24px;
      height: 19px;
      display: inline-block;
      line-height: 18px;
      background-repeat: no-repeat;
      background-position: 0 0;
      font-size: 13px;
      font-weight: normal;
      vertical-align: middle;
      cursor: pointer;
      background-image: url(/assets/images/checkbox.png);
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    &:checked + span {
      background-position: 0 -18px;
    }
  }
}

.form {
  &-kafkaSources {
    &__list {
      list-style: none;
      margin: 0;
      padding: 0;
      padding-left: 42px;
      &-item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        &:before {
          content: '';
          position: absolute;
          border-left: 1px solid #818994;
          border-bottom: 1px solid #818994;
          width: 24px;
          height: 24px;
          left: -35px;
          margin-top: -17px;
        }
        &-fields {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          > .input-field,
          > .output-field {
            flex: 0 0 50%;
          }
          > .bootstrapServers-field {
            flex: 0 0 100%;
          }
        }
        &--add {
          color: #4d9bf1;
          outline: none;
          cursor: pointer;
          > svg {
            fill: #4d9bf1;
            width: 10px;
            height: 10px; 
          }
          > span {
            border-bottom: 1px dashed #4d9bf1;
            line-height: 1;
          }
        }
      }
    }
  }
  &-weights {
    &__list {
      counter-reset: counter;
      margin: 0;
      padding: 0;
      &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        &:before {
          content: counter(counter)".";
          counter-increment: counter;
          font-size: 16px;
          color: #818994;
          margin-right: 12px;
        }
        &--weight {
          display: flex;
          align-items: center;
          justify-content: center;
          > hydro-input-text {
            margin-bottom: 0;
          }
        }
        &--add {
          display: flex;
          align-items: center;
          > svg {
            width: 10px;
            height: 10px;
            margin-right: 15px;
            fill: #818994;
          }
        }
      }
    }
  }
  &-actions {
    justify-content: flex-end;
    > .btn {
      &:first-child {
        margin-left: 0;
        color: #818994;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.delete {
  cursor: pointer;
  width: 14px;
  height: 14px;
  margin-top: -1rem;
  fill: #969da6;
}
