@import "variables.scss";


.title {
    font-size: 36px;
    margin-bottom: 36px;
}

.application-name {
    height: 72px;
}

.form {
    &-kafkaSources {
        margin-bottom: 36px;
        &__list {
            list-style: none;
            margin: 0;
            padding: 0;
            padding-left: 42px;
            &-item {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 100%;
                &:before {
                    content: '';
                    position: absolute;
                    border-left: 1px solid #818994;
                    border-bottom: 1px solid #818994;
                    width: 24px;
                    height: 24px;
                    left: -35px;
                    margin-top: -17px;
                }
                &-fields {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    > .input-field,
                    > .output-field {
                        flex: 0 0 50%;
                    }
                    > .bootstrapServers-field {
                        flex: 0 0 100%;
                    }
                }
            }
        }
        &__add {
            color: $color--light-blue;
            cursor: pointer;
            &-label {
                border-bottom: 1px dashed $color--light-blue;
                line-height: 1;
            }
            &-icon {
                width: 10px;
                height: 10px;
            }
        }
        &__delete-icon {
            cursor: pointer;
            width: 14px;
            height: 14px;
            fill: #969da6;
            margin: 0 12px;
            margin-top: -24px;
        }
    }
    &-actions {
        > .btn {
            &:first-child {
                margin-left: 0;
                color: #818994;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.stages {
    &-list {
        width: 100%;
        margin-bottom: 60px;
        &__item {
            position: relative;
            &:not(:last-child) {
                margin-bottom: 60px;
            }
            &--title {
                color: #04143c;
                font-size: 18px;
                margin-bottom: 28px;
                font-family: $font-family-bold;
            }
        }
    }
    &__delete-icon {
        cursor: pointer;
        width: 14px;
        height: 14px;
        color: #969da6;
        position: absolute;
        top: 4px;
        right: 0;
    }
}

.parameters {
    &-list {
        counter-reset: counter;
        margin: 0;
        padding: 0;
        width: calc(100% - 20px);
        &__item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 24px;
            position: relative;
            flex-direction: column;
            align-items: flex-start;
            padding: 0 24px;
            &:before {
                content: counter(counter)".";
                counter-increment: counter;
                font-size: 16px;
                color: #818994;
                margin-right: 12px;
                position: absolute;
                left: 0;
                top: 4px;
            }
            &--model {
                margin-bottom: 10px;
            }
            &--row {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: flex-end;
                position: relative;
                padding-left: 40px;
                &:before {
                    content: '';
                    position: absolute;
                    border-left: 1px solid #e6e9ed;
                    border-bottom: 1px solid #e6e9ed;
                    width: 24px;
                    height: 24px;
                    left: 0px;
                    bottom: 18px;
                }
                > *:not(:first-child) {
                    margin-left: 8px;
                }
                > *:not(:last-child) {
                    margin-right: 8px;
                }
            }
            &--runtime {
                max-width: 386px;
            }
            &--environment {
                max-width: 142px;
            }
            &--signature {
                display: flex;
                flex-direction: column;
            }
            &--weight {
                display: flex;
                flex-direction: column;
                position: relative;
                &::before {
                    content: '%';
                    position: absolute;
                    width: 14px;
                    height: 14px;
                    right: -1.3rem;
                    bottom: 8px;
                }
                > input {
                    max-width: 58px;
                    text-align: right;
                }
            }
        }
    }
    &__delete-icon {
        cursor: pointer;
        width: 14px;
        height: 14px;
        color: #969da6;
        position: absolute;
        top: 8px;
        right: 0;
    }
}

[class^="parameters-list__item"] {
    line-height: 1;
    > label {
        text-transform: uppercase;
        font-size: 10px;
        line-height: 1;
        margin-bottom: 8px;
    }
    > input {
        height: 32px;
        border: 2px solid #f2f2f2;
        font-size: 16px;
        padding: 3px;
    }
}

.fieldset {
    border: 2px solid #e6e9ed;
    padding: 32px 32px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 36px;
    &-legend {
        display: flex !important;
        flex-direction: row;
        align-items: center;
        padding: 0 10px;
        flex-wrap: nowrap;
    }
}

.mdl-select {
    width: 100%;
}