<h2 class="mdl-dialog__title">Add Application</h2>
<form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
  <div class="mdl-dialog__content">

    <hydro-input-text name="serviceName" [formErrors]="formErrors.serviceName" label="Application Name" formControlName="serviceName"></hydro-input-text>

    <div class="hydro-form-group">
      <label class="hydro-checkbox">
        <input type="checkbox" [checked]="isKafkaEnabled" (change)="isKafkaEnabled = $event.target.checked">
        <span>Use Kafka source</span>
      </label>
      <ul class="form-kafkaSources__list" *ngIf="isKafkaEnabled" formArrayName="kafkaStreamingSources">
        <li class="form-kafkaSources__list-item" *ngFor="let kafka of serviceForm['controls'].kafkaStreamingSources['controls']; let i = index" [formGroupName]="i">
          <div class="form-kafkaSources__list-item-fields">
            <hydro-input-text class="input-field" [formErrors]="formErrors.weight"
                              [wrapClassName]="'form-group__inline'"
                              [inputClass]="'__kafkaInput'"
                              [label]="'input topic = '"
                              name="inputTopic"
                              formControlName="sourceTopic">
            </hydro-input-text>
            <hydro-input-text class="output-field" [formErrors]="formErrors.weight"
                              [wrapClassName]="'form-group__inline'"
                              [inputClass]="'__kafkaInput'"
                              [label]="'output topic = '"
                              name="outputTopic"
                              formControlName="destinationTopic">
            </hydro-input-text>
            <hydro-input-text class="bootstrapServers-field" [formErrors]="formErrors.weight"
                              [wrapClassName]="'form-group__inline'"
                              [inputClass]="'__kafkaInput'"
                              [label]="'bootstrapServers = '"
                              name="bootstrapServers"
                              formControlName="brokerList">
            </hydro-input-text>
          </div>
          <svg class="delete" (click)="removeKafkaFromService(i)" *ngIf="serviceForm['controls'].kafkaStreamingSources['controls'].length > 1">
            <use xlink:href="#icon-remove"></use>
          </svg>
        </li>
        <li class="form-kafkaSources__list-item--add" *ngIf="isKafkaEnabled" (click)="addKafkaToService()">
          <svg><use xlink:href="#icon-plus"></use></svg>
          <span>Add More Sources</span>
        </li>
      </ul>
    </div>


    <label class="hydro-checkbox">
      <input type="checkbox" [checked]="isJsonModeEnabled" (change)="isJsonModeEnabled = $event.target.checked">
      <span>Create pipeline</span>
    </label>
    <div class="hydro-form-group" *ngIf="!isJsonModeEnabled">
      <label>Models</label>
      <div class="input-text__error mdl-color-text--red">{{formErrors.weights}}</div>
      <ul class="form-weights__list" formArrayName="weights">
        <li class="form-weights__list-item" *ngFor="let weight of serviceForm['controls'].weights['controls']; let i = index" [formGroupName]="i">
          
         <mdl-select formControlName="selectedModel" label="Choose model" class="cs-text-center" (change)="onSelectModel($event)">
            <mdl-option *ngFor="let model of modelServicesFiltered" [value]="model.modelRuntime.modelId">{{model.modelRuntime.modelName}}</mdl-option>
          </mdl-select>

          <mdl-select class="__versions cs-text-center" formControlName="model">
            <mdl-option *ngFor="let model of modelVersions" [value]="model">{{model.modelRuntime.modelVersion}}</mdl-option>
          </mdl-select>
          
          <div class="form-weights__list-item--weight">
            <hydro-input-text [formErrors]="formErrors.weight"
                              [wrapClassName]="'form-group__inline'"
                              [inputClass]="'__modelWeight'"
                              [label]="'Weight'"
                              name="asd"
                              formControlName="weight" [(ngModel)]="weightsForSlider[i]">
            </hydro-input-text>%
          </div>

          <mdl-slider [min]="0" [max]="100" [step]="1" formControlName="weight" [(ngModel)]="weightsForSlider[i]"></mdl-slider>

          <svg class="delete" (click)="removeModelFromService(i)" *ngIf="serviceForm['controls'].weights['controls'].length > 1">
            <use xlink:href="#icon-remove"></use>
          </svg>
          
        </li>
      </ul>
      <div class="form-weights__list-item--add">
        <svg><use xlink:href="#icon-plus"></use></svg>
        <mdl-select formControlName="addModelToService" (change)="onAddingModel($event)" label="add model" class="cs-text-center">
          <mdl-option *ngFor="let model of modelServicesFiltered" [value]="model.modelRuntime.modelId">{{model.modelRuntime.modelName}}</mdl-option>
        </mdl-select>
      </div>
    </div>

    <div class="hydro-form-group" *ngIf="isJsonModeEnabled">
      <codemirror [ngModelOptions]="{standalone: true}" [(ngModel)]="pipelineEditorValue" [config]="codeMirrorOptions"></codemirror>
    </div>
    
    <div class="btn-group form-actions __justify-end">
      <button class="btn btn-flat btn-large" (click)="dialogRef.hide()" type="button">cancel</button>
      <button class="btn btn-colored btn-large" type="submit" [disabled]="serviceForm.invalid">Add app</button>
    </div>
  </div>
</form>