<h2 class="mdl-dialog__title">Add Application</h2>
<form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
    <div class="mdl-dialog__content">

        <hydro-input-text name="applicationName" [formErrors]="formErrors.serviceName" label="Application Name" formControlName="applicationName"></hydro-input-text>
        <hydro-input-text name="applicationNamespace" [formErrors]="formErrors.serviceName" label="Application Namespace" formControlName="applicationNamespace"></hydro-input-text>

        <div class="hydro-form-group">
            <label class="hydro-checkbox">
                Use Kafka source
                <input type="checkbox" [checked]="isKafkaEnabled" (change)="toggleKafkaStreaming($event)">
                <span></span>
            </label>
            <ul class="form-kafkaSources__list" *ngIf="isKafkaEnabled" formArrayName="kafkaStreaming">
                <li class="form-kafkaSources__list-item" *ngFor="let kafka of serviceForm['controls'].kafkaStreaming['controls']; let i = index"
                    [formGroupName]="i">
                    <div class="form-kafkaSources__list-item-fields">
                        <hydro-input-text class="input-field" [formErrors]="formErrors.weight" [wrapClassName]="'form-group__inline'" [inputClass]="'__kafkaInput'"
                            [label]="'input topic = '" name="inputTopic" formControlName="sourceTopic">
                        </hydro-input-text>
                        <hydro-input-text class="output-field" [formErrors]="formErrors.weight" [wrapClassName]="'form-group__inline'" [inputClass]="'__kafkaInput'"
                            [label]="'output topic = '" name="outputTopic" formControlName="destinationTopic">
                        </hydro-input-text>
                    </div>
                    <svg class="__delete" (click)="removeKafkaControl(i)" *ngIf="serviceForm['controls'].kafkaStreaming['controls'].length > 1">
                        <use xlink:href="#icon-remove"></use>
                    </svg>
                </li>
                <li class="form-kafkaSources__list-item--add" *ngIf="isKafkaEnabled" (click)="addKafkaControl(defaultAppOptions.kafkaStreaming)">
                    <svg>
                        <use xlink:href="#icon-plus"></use>
                    </svg>
                    <span>Add More Sources</span>
                </li>
            </ul>
        </div>

        <fieldset class="fieldset">
            <legend class="fieldset-legend">
                Models
            </legend>
            <div *ngIf="!isJsonModeEnabled">
                <div class="stages-list" formArrayName="stages">
                    <div class="stages-list__item" *ngFor="let stage of serviceForm['controls'].stages['controls']; let i = index" [formGroupName]="i">
                        <div class="stages-list__item--title">Stage_{{ i+1 }}</div>
                        <ul class="parameters-list" formArrayName="services">
                            <li class="parameters-list__item" *ngFor="let service of stage['controls'].services['controls']; let j = index" [formGroupName]="j">

                                <mdl-select class="parameters-list__item--model" formControlName="modelVersion" label="Choose model versions" (change)="onModelVersionSelect($event)">
                                    <mdl-option *ngFor="let modelVersion of modelVersions" [value]="modelVersion.id">{{ modelVersion.modelName + ':v' + modelVersion.modelVersion }}</mdl-option>
                                </mdl-select>

                                <div class="parameters-list__item--row">
                                    <div class="parameters-list__item--runtime">
                                        <label for="runtime">runtime</label>
                                        <mdl-select formControlName="runtime">
                                            <mdl-option *ngFor="let runtime of runtimes" [value]="runtime.id">{{ runtime.name + ':' + runtime.version }}</mdl-option>
                                        </mdl-select>
                                    </div>
                                    <div class="parameters-list__item--environment" *ngIf="environments.length > 0">
                                        <label for="environment">environment</label>
                                        <mdl-select formControlName="environment">
                                            <mdl-option *ngFor="let environment of environments" [value]="environment.id">{{ environment.name === 'Without Env' ? 'none' : environment.name }}</mdl-option>
                                        </mdl-select>
                                    </div>
                                    <div class="parameters-list__item--signature">
                                        <label for="environment">signature</label>
                                        <input class="parameters-list__item--signature" type="text" formControlName="signatureName">
                                    </div>
                                    <div class="parameters-list__item--weight">
                                        <label for="environment">weight</label>
                                        <input class="parameters-list__item--weight" type="text" formControlName="weight">
                                    </div>
                                </div>

                                <svg title="Remove service parameters" class="__delete" (click)="removeServiceControl(i,j)" *ngIf="stage['controls'].services['controls'].length > 1">
                                    <use xlink:href="#icon-remove"></use>
                                </svg>

                            </li>

                            <li class="parameters-list__item __add">
                                <mdl-select label="Add model versions" (change)="addServiceControl($event, i)">
                                    <mdl-option *ngFor="let modelVersion of modelVersions" [value]="modelVersion.id">{{ modelVersion.modelName + ':v' + modelVersion.modelVersion }}</mdl-option>
                                </mdl-select>
                            </li>
                        </ul>

                        <svg title="Remove stage" class="__delete" (click)="removeStageControl(i)" *ngIf="serviceForm['controls'].stages['controls'].length > 1">
                            <use xlink:href="#icon-remove"></use>
                        </svg>
                    </div>
                </div>

                <button type="button" class="btn btn-flat" (click)="addStageControl(defaultAppOptions)" title="Add stage">
                    <svg>
                        <use xlink:href="#icon-plus"></use>
                    </svg>
                    add new stage
                </button>
            </div>

            <div class="hydro-form-group" *ngIf="isJsonModeEnabled">
                <codemirror [ngModelOptions]="{standalone: true}" [(ngModel)]="pipelineEditorValue" [config]="codeMirrorOptions"></codemirror>
            </div>
        </fieldset>

        <div class="btn-group form-actions __justify-end">
            <button class="btn btn-flat btn-large" (click)="dialogRef.hide()" type="button">cancel</button>
            <button class="btn btn-colored btn-large" type="submit" [disabled]="serviceForm.invalid">Add Application</button>
        </div>
    </div>
</form>