<header class='mdl-layout__header'>
  <div class='mdl-layout__header-row hydro-navigation-row' fxLayout='row'>

    <div fxFlex="25">
      <a [routerLink]="['/']" class='hydro-logo'><img src="./assets/images/logo.png"></a>
      <div class='mdl-layout-spacer'></div>
    </div>

    <nav class='mdl-navigation' fxFlex="75">
      <div fxLayout='row' class="cs-width-100" fxLayoutAlign="left center" >
        <!--<div fxFlex.lg="14" fxFlex.md="5" fxFlex.sm="0"></div>-->
        <div fxFlex="24" fxFlex.sm="33" fxFlex.md="30" fxFlex.lg="20">
          <a class='mdl-navigation__link cs-text-center'
             [routerLink]="['/models']"
             routerLinkActive='is-active'>
            <i class='material-icons md-40'>list</i>
            <span>Models</span>
          </a>
        </div>
        <!--<div fxFlex.lg="14" fxFlex.md="5" fxFlex.md="0"></div>-->
      </div>

    </nav>
    <div class='mdl-layout-spacer'></div>
  </div>
</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout__title"></span>
</div>
