upstream manager_grpc {
  zone manager_grpc 64k;
  server ${MANAGER_HOST}:${MANAGER_GRPC_PORT};
}

location /hydrosphere.manager. {
  grpc_pass grpc://manager_grpc;
}

location /hydrosphere.discovery. {
  grpc_pass grpc://manager_grpc;
}
