location /hydrosphere.monitoring. {
  grpc_pass grpc://${MONITORING_HOST}:${MONITORING_GRPC_PORT};
}

location /grpc/hydrosphere.monitoring. {
  grpc_pass grpc://${MONITORING_HOST}:${MONITORING_GRPC_PORT};
}
