location /hydrosphere.manager. {
  grpc_pass grpc://${MANAGER_HOST}:${MANAGER_GRPC_PORT};
}

location /hydrosphere.discovery. {
  grpc_pass grpc://${MANAGER_HOST}:${MANAGER_GRPC_PORT};
}

location /grpc/hydrosphere.manager. {
  grpc_pass grpc://${MANAGER_HOST}:${MANAGER_GRPC_PORT};
}

location /grpc/hydrosphere.discovery. {
  grpc_pass grpc://${MANAGER_HOST}:${MANAGER_GRPC_PORT};
}