location /tensorflow.serving. {
  grpc_pass grpc://$GATEWAY_HOST:$GATEWAY_GRPC_PORT;
  #grpc_pass grpc://gateway_grpc;
}

location /hydrosphere.serving.gateway. {
  grpc_pass grpc://$GATEWAY_HOST:$GATEWAY_GRPC_PORT;
  #grpc_pass grpc://gateway_grpc;
}
