<div #containerEl class="check-chart">
  <div *ngIf="name$ | async" class="check-chart__title">
    {{ name$ | async }}
  </div>
  <svg
      #svgContainer
      [attr.height]="chartHeight$ | async"
      [attr.width]="chartWidth$ | async"
  >
    <defs>
      <clipPath [attr.id]="name$ | async">
        <rect
          [attr.height]="viewHeight$ | async"
          [attr.transform]="dataTranslate$ | async"
          [attr.width]="viewWidth$ | async"
          x="0"
          y="0"
        ></rect>
      </clipPath>
    </defs>
    <g
      *ngIf="!(noData$ | async)"
      [attr.transform]="yAxisTranslate$ | async"
      [scale]="yScale$ | async"
      hsD3Axis
      position="left"
    ></g>
    <g
      *ngIf="!(noData$ | async)"
      [attr.transform]="xAxisTranslate$ | async"
      [scale]="xScale$ | async"
      hsD3Axis
    ></g>
    <line
      [attr.x1]="(activeLinePosition$ | async).x"
      [attr.x2]="(activeLinePosition$ | async).x"
      [attr.y1]="0"
      [attr.y2]="(activeLinePosition$ | async).y"
      [ngStyle]="{ display: (mouseIn$ | async) ? 'block' : 'none' }"
      style="stroke:rgba(78, 112, 151, 0.336);stroke-width:1"
    />
    <g *ngIf="!(noData$ | async)">
      <g
        *ngFor="let plotBand of plotBands$ | async"
        [attr.transform]="dataTranslate$ | async"
        [height]="viewHeight$ | async"
        [hs-d3-plot-band]="plotBand"
        [xScale]="xScale$ | async"
        fill="#e12d393d"
      ></g>
    </g>
    <g
      *ngFor="let item of mappedData$ | async | keyvalue; index as i"
      [attr.stroke]="lineColor(i)"
      [attr.transform]="dataTranslate$ | async"
      [data]="item.value"
      [hs-d3line]
      [xScale]="xScale$ | async"
      [yScale]="yScale$ | async"
    ></g>

    <rect
        #trackableRect
        [attr.height]="viewHeight$ | async"
        [attr.transform]="dataTranslate$ | async"
        [attr.width]="viewWidth$ | async"
        opacity="0"
    ></rect>
    <g
      *ngIf="(threshold$ | async) && !(noData$ | async)"
      [attr.transform]="dataTranslate$ | async"
      [hs-d3threshold]="threshold$ | async"
      [yScale]="yScale$ | async"
    ></g>
    <circle
      *ngFor="let circle of activeCircles$ | async"
      [attr.cx]="circle.x"
      [attr.cy]="circle.y"
      [attr.fill]="circle.color"
      [ngStyle]="{ display: mouseIn ? 'block' : 'none' }"
      class="check-chart__dot"
      r="4"
    />
  </svg>
  <div class="legend">
    <div
      (click)="toggleExclude(legend)"
      *ngFor="let legend of legends$ | async; index as i"
      [ngStyle]="{
        opacity: (excludedUids$ | async).includes(legend) ? '0.5' : '1'
      }"
      class="legend__item"
    >
      <span
        [ngStyle]="{ backgroundColor: lineColor(i) }"
        class="legend__item-color"
      ></span>
      <span>{{ legend }}</span>
    </div>
  </div>
  <div
      #tooltip
      [ngStyle]="{
      display: (mouseIn$ | async) ? 'block' : 'none',
      transform: tooltipTranslate
    }"
      class="check-chart__tooltip"
  >
    <div *ngFor="let tooltip of tooltips$ | async">
      <span [ngStyle]="{ color: tooltip.color }">{{ tooltip.name }}: </span
      ><span>{{ tooltip.value }}</span>
    </div>
  </div>
  <div *ngIf="noData$ | async" class="check-chart__no-data">
    <span>no data available</span>
  </div>
</div>
