@import "variables";
.row {
  padding: 10px 0 10px 0;
}

.label {
  color: $neutral-color-600;
  font-size: 14px;
  font-family: $font-family-light;
}

.metric-spec-config {
  &__error-list {
    width: 180px;
    position: relative;
  }
}