<table class='table' [ngClass]="isModels ? 'table-models' : 'table-services'">
    <thead class="table-head">
        <tr>
            <th class="table-head__cell" *ngFor="let headCell of tableHeader">{{headCell}}</th>
        </tr>
    </thead>
    <tbody *ngIf="!isModels">
        <tr *ngFor="let item of tableList" class='table-body__row'>
            <td class="table-body__cell"><div class='cs-text-size-18 cs-text-bold cs-text-overflow-ellipsis'>{{item.data.serviceName}}</div></td>
            <td class="table-body__cell"><div class='cs-text-overflow-ellipsis'>{{item.data.modelRuntime.modelVersion}}</div></td>
            <td class="table-body__cell"><div class='cs-text-size-12 cs-text-overflow-ellipsis'>{{item.data.modelRuntime.created}}</div></td>
            <td class="table-body__cell"><div class='cs-text-size-24 cs-text-bold cs-text-overflow-ellipsis'>{{item.weight}}%</div></td>
        </tr>
    </tbody>
    <tbody *ngIf="isModels">
        <tr *ngFor="let runtime of tableList" class='table-body__row'>
            <td class="table-body__cell">
                <div class='cs-text-overflow-ellipsis'>{{runtime?.created}}</div>
            </td>
            <td class="table-body__cell">
                <div class='cs-text-overflow-ellipsis'>{{runtime?.modelVersion}}</div>
            </td>
            <td class="table-body__cell">
                <div class='cs-text-overflow-ellipsis' [ngClass]="{
                'mdl-color-text--green-700': getModelService(runtime.id),
                'mdl-color-text--red-700': !getModelService(runtime.id)
                }">{{getModelService(runtime.id) ? 'DEPLOYED' : 'UNDEPLOYED'}}</div>
            </td>
            <td class="table-body__cell">
                <div fxLayout="row" fxLayoutAlign="space-between center" class="">
                    <div class="">
                        <a *ngIf="!getModelService(runtime.id)" title="Deploy" (click)="deployModelService(getPayloadForModelDeploy(runtime))" class="hydro-link mdl-color-text--grey-700">
                        <mdl-icon>cloud_upload</mdl-icon>
                        </a>
                        <a *ngIf="getModelService(runtime.id)" class="hydro-link mdl-color-text--grey-700" (click)="stopModel(getModelService(runtime.id), getWeightedServices(runtime.id))"
                        title="Stop">
                        <mdl-icon>not_interested</mdl-icon>
                        </a>
                        <a *ngIf="getModelService(runtime.id)" (click)="testModel(getModelService(runtime.id))" title='Test' class="hydro-link mdl-color-text--blue-800">
                        <mdl-icon>play_circle_outline</mdl-icon>
                        </a>
                    </div>
                </div>
            </td>
            <td class="table-body__cell">
                <div *ngIf="this.weightedServices && this.weightedServices.length > 0" class="cs-text-overflow-ellipsis"><a *ngFor="let weightedService of getWeightedServices(runtime.id)" [routerLink]="['/services', weightedService.id]">{{  weightedService.serviceName }}</a></div>
            </td>
        </tr>
        <!-- <tr *ngFor="let item of tableList" class='table-body__row'>
            <td class="table-body__cell"><div class='cs-text-size-18 cs-text-bold cs-text-overflow-ellipsis'>{{item.data.serviceName}}</div></td>
            <td class="table-body__cell"><div class='cs-text-overflow-ellipsis'>{{item.data.modelRuntime.modelVersion}}</div></td>
            <td class="table-body__cell"><div class='cs-text-size-12 cs-text-overflow-ellipsis'>{{item.data.modelRuntime.created}}</div></td>
            <td class="table-body__cell"><div class='cs-text-size-24 cs-text-bold cs-text-overflow-ellipsis'>{{item.weight}}%</div></td>
        </tr> -->
    </tbody>
</table>
