<table class='table'>
    <thead>
        <tr>
            <th *ngFor="let headCell of tableHead">{{headCell}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of tableData" class='services-list-table__tr cs-cursor-pointer'>
            <td class="services-list-table__td"><div class='cs-text-overflow-ellipsis'>{{item.data.serviceName}}</div></td>
            <td class="services-list-table__td"><div class='cs-text-overflow-ellipsis'>{{item.data.modelRuntime.modelVersion}}</div></td>
            <td class="services-list-table__td"><div class='cs-text-overflow-ellipsis'>{{item.data.modelRuntime.created}}</div></td>
            <td class="services-list-table__td"><div class='cs-text-overflow-ellipsis'>{{item.weight}}</div></td>
        </tr>
    </tbody>
</table>