<table class='table'>
    <thead>
        <tr>
            <th class="table-head__cell" *ngFor="let headCell of tableHeader">{{headCell}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of tableList" class='table-body__row'>
            <td class="table-body__cell"><div class='cs-text-size-18 cs-text-bold cs-text-overflow-ellipsis'>{{item.data.serviceName}}</div></td>
            <td class="table-body__cell"><div class='cs-text-overflow-ellipsis'>{{item.data.modelRuntime.modelVersion}}</div></td>
            <td class="table-body__cell"><div class='cs-text-size-12 cs-text-overflow-ellipsis'>{{item.data.modelRuntime.created}}</div></td>
            <td class="table-body__cell"><div class='cs-text-size-24 cs-text-bold cs-text-overflow-ellipsis'>{{item.weight}}%</div></td>
        </tr>
    </tbody>
</table>
