<div class="container" [class.isloading]="isLoading">
  <div class="header">
    <h5>Data Profiles</h5>
  </div>

  <mdl-select label="Choose field" (change)="onFieldSelect($event)">
    <mdl-option *ngFor="let field of fields" [value]="field">{{ field }}</mdl-option>
  </mdl-select>

  <div *ngIf="profiles" class="profiles">
    <div class="profile_container training">
      <div class="profile_header">Training Data</div>
      <hydro-data-stats [profile]="profiles.trainingProfile"></hydro-data-stats>
    </div>
    <div class="profile_container production">
        <div class="profile_header">Production Data</div>
      <hydro-data-stats [profile]="profiles.productionProfile"></hydro-data-stats>
    </div>

    <div class="comparison_histogram">
      <hydro-data-comparison-histogram
        [trainingProfile]="profiles.trainingProfile" 
        [productionProfile]="profiles.productionProfile">
      </hydro-data-comparison-histogram>
    </div>
  </div>
</div>