<header class="header">
  <span class="header__logo" [routerLink]="['/']" queryParamsHandling="merge">
    <img class="header__logo" src="./assets/images/logo/logo.svg" alt="logo" />
  </span>
  <hs-header-nav></hs-header-nav>
  <hs-header-info></hs-header-info>
  <div class="menu-trigger" #trigger>
    <hs-menu-trigger [isActive]="isSidebarOpened" (opened)="openSidebar()" (closed)="closeSidebar()"></hs-menu-trigger>
  </div>
  <hs-menu *ngIf="isSidebarOpened" class="menu" [(isSidebarOpened)]="isSidebarOpened" #menu></hs-menu>
</header>
