<div class="response">
  <div class="response__outputs">
    <table class="response__outputs-table">
      <tr>
        <td class="response__outputs-title">
          outputs
        </td>
      </tr>
      <tr
        *ngFor="let output of response.outputs | keyvalue"
        class="response__outputs-table-cell"
      >
        <td
          class="response__outputs-table-cell response__outputs-table-cell--accent"
        >
          {{ output.key }}
        </td>
        <td class="response__outputs-table-cell">
          <ng-container
            *ngTemplateOutlet="isImage(output.key) ? image : plainText"
          ></ng-container>
          <ng-template #image>
            <hs-tensor-image-list
              [tensorProto]="output.value"
            ></hs-tensor-image-list>
          </ng-template>
          <ng-template #plainText>
            <div hs-expander maxHeight="70">
              <div #expand>
                {{ getValue(output.value) }}
              </div>
            </div>
          </ng-template>
        </td>
      </tr>
    </table>
  </div>
</div>
