@import 'variables';

.log {
  top: 72px;
  left: 0px;
  position: fixed;
  right: 0;
  height: 100%;
  right: 0;
  visibility: hidden;
  z-index: 2;
  &__layout {
    background: #000000b5;
    top: 0;
    left: 0;
    position: absolute;
    right: 0;
    height: 100%;
    right: 0;
    opacity: 0;
    transition: 0.4s all cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &__content {
    display: flex;
    opacity: 0;
    background: #e2e4ea;
    height: 100%;
    position: absolute;
    top: 0px;
    width: 60%;
    right: 0;
    padding: 24px 38px 24px;
    transform: translateX(360px);
    transition: 0.4s all cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &--is-visible {
    visibility: visible;

    .log__content {
      opacity: 1;
      transform: translateX(0);
      transition: 0.6s all cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .log__layout {
      opacity: 1;
      transition: 0.6s all cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }
}
