<div class="model-version-status" [ngSwitch]="status">
  <div *ngSwitchCase="'released'">
    <hs-icon
      class="model-version-status__icon model-version-status--released"
      type="circle-check"
    ></hs-icon>
  </div>
  <div *ngSwitchCase="'failed'">
    <hs-icon
      class="model-version-status__icon model-version-status--failed"
      type="circle-x"
    ></hs-icon>
  </div>
  <div *ngSwitchCase="'assembling'">
    <hs-icon
      class="model-version-status__icon model-version-status--assembling"
      type="clock"
    ></hs-icon>
  </div>
  <div *ngSwitchDefault class="model-version-status--undefined">
    {{ status }}
  </div>
</div>
