<div class='models-list__row models-list__row--big'>
  <div class='models-list__header'>
    <span class='h3' style="margin: 0">Models</span>
    <div>
      <span><svg class="icon">
            <use xlink:href="#icon-arrow"/>
        </svg> - Deployed</span>
      <span> <svg class="icon">
            <use xlink:href="#icon-arrow"/>
        </svg>- Undeployed</span>
    </div>
  </div>
</div>
<div class='models-list__row--search'>
  <div class='models-list__search'>
    <hydro-input-text inputClass="services-list__search-input mist-input" placeholder="Search" [(ngModel)]="searchQ" iconName="search" iconDirection="left"></hydro-input-text>
  </div>
</div>
<div class='models-list__models'>
  <ul class='models-list__ul'>
    <ng-template ngFor let-model let-i="index" [ngForOf]="models | search : 'name' : searchQ | sortBy: 'id'">
      <li class='models-list__item' [routerLink]="[model.id]" routerLinkActive='models-list__item--active'>
        <a class='models-list__item--content'>{{ model.source }}</a>
        <div>
          <span class="models-list__item--version">{{model.lastModelRuntime.modelVersion}}</span>
          <svg class="icon models-list__item--deploy">
            <use xlink:href="#icon-arrow" />
          </svg>
        </div>
      </li>
    </ng-template>
  </ul>
</div>
