<div class='models-list__row models-list__row--big'>
  <div class='models-list__header'>
    <div class="mdl-grid cs-align-center cs-mt-8 cs-mb-16 cs-text-right">
      <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet cs-text-left">
        <span class='h3'>Models</span>
      </div>
    </div>
  </div>
</div>
<div class='models-list__row'>
  <div class='models-list__search'>
    <input-text
      inputClass="services-list__search-input mist-input"
      placeholder="Search"
      [(ngModel)]="searchQ"
      iconName="search"
      iconDirection="left"
  ></input-text>
  </div>
</div>
<div class='models-list__models'>
  <ul class='mdl-list models-list__ul'>
    <ng-template ngFor let-model let-i="index" [ngForOf]="models | search : 'name' : searchQ | sortBy: 'id'">
      <li class='cs-cursor-pointer mdl-list__item models-list__item' [routerLink]="[model.id]"
          routerLinkActive='models-list__item--active'>
          <a class='mdl-list__item-primary-content models-list__item-content'>{{ model.source }}</a>
          <span class='models-list__badge'
          *ngIf="model.currentServices.length"
          [mdl-badge]="model.currentServices.length"></span>
      </li>
    </ng-template>
  </ul>
</div>
