@import 'variables';

.raw-checks {
  margin-bottom: 12px;
  &__table-wrapper {
    border: 2px $neutral-color-200 solid;
    border-radius: 5px;
    margin-bottom: 24px;
  }

  &__table {
    border-collapse: collapse;
    table-layout: fixed;

    width: 100%;

    &__row:nth-of-type(2n) {
      background: $neutral-color-100;
    }
  }

  &__row:nth-of-type(2n) {
    background: $neutral-color-100;
  }

  &__cell {
    color: $neutral-color-1000;
    font-size: 12px;
    line-height: 14px;
    overflow: auto;
    padding: 8px 6px;
  }

  &__check {
    &--success {
      color: $supportive-color-green-700;
      font-family: $font-family-bold;
    }

    &--failed {
      color: $supportive-color-red-700;
      font-family: $font-family-bold;
    }
  }

  &__head-row {
    border-bottom: 1px solid $neutral-color-200;
  }

  &__head-cell {
    color: $neutral-color-600;
    font-family: $font-family-bold;
    padding: 12px 6px;
  }

  &__label {
    color: $neutral-color-800;
    font-family: $font-family-bold;
    font-size: 14px;
    line-height: 24px;
    margin-right: 12px;
  }

  &__explanation {
    position: absolute;
    right: 0;
    top: 2px;
    width: 140px;
  }
}
