<div class="model-versions">
  <div class="model-versions__header"></div>
  <div class="model-versions__body">
    <table class="hydro-table model-versions__table">
      <thead class="hydro-table-head">
        <tr>
          <th class="hydro-table-head__cell">version</th>
          <th class="hydro-table-head__cell">status</th>
          <th class="hydro-table-head__cell">runtime</th>
          <th class="hydro-table-head__cell">created</th>
          <th class="hydro-table-head__cell">applications</th>
          <th class="hydro-table-head__cell"></th>
        </tr>
      </thead>
      <tbody class="hydro-table-body">
        <tr
          *ngFor="let modelVersion of modelVersions"
          class="hydro-table-body__row"
        >
          <td class="hydro-table-body__cell">
            {{ modelVersion.modelVersion }}
          </td>
          <td class="hydro-table-body__cell">
            <ng-container
              *ngTemplateOutlet="
                modelVersionStatus;
                context: { $implicit: modelVersion.status }
              "
            ></ng-container>
          </td>
          <td class="hydro-table-body__cell">
            {{ modelVersion.runtime?.name }}
          </td>
          <td class="hydro-table-body__cell">{{ modelVersion.created }}</td>
          <td class="hydro-table-body__cell">
            <div
              class="model-version__application"
              *ngFor="let application of modelVersion.applications"
            >
              {{ application }}
            </div>
          </td>
          <td class="hydro-table-body__cell">
            <button hs-button color="primary" [routerLink]="[modelVersion.id]">
              DETAILS
            </button>
            <button
              hs-button
              color="primary"
              [routerLink]="[modelVersion.id, 'monitoring']"
            >
              MONITORING
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #modelVersionStatus let-status>
  <div [ngSwitch]="status">
    <div *ngSwitchCase="'released'">
      <hydro-icon
        class="model-version__status-icon model-version__status-icon--released"
        type="circle-check"
      ></hydro-icon>
    </div>
    <div *ngSwitchCase="'failed'">
      <hydro-icon
        class="model-version__status-icon model-version__status-icon--failed"
        type="circle-x"
      ></hydro-icon>
    </div>
    <div *ngSwitchDefault>{{ status }}</div>
  </div>
</ng-template>
