<!-- <p>
  {{ siblingModelVersions$ | async | json }}
</p> -->

<div>
  <span>Load data from model version: </span>
  <mdl-select 
    #modelVerSelect
    [(ngModel)]='mv'
    [autocomplete]="true">
    <mdl-option 
      *ngFor="let modelVersion of siblingModelVersions$ | async | matchSorter:'modelVersion':modelVerSelect.searchQuery"
      [value]="modelVersion.id">{{modelVersion.modelVersion}}</mdl-option>
    </mdl-select>

    <button class='button button--white' #loadDataButton [disabled]='!mv'> load data </button>
</div>