.wrapper {
    // max-width: 1024px;
}
.container {
  padding: 30px 36px;
  margin-bottom: 60px;
  position: relative;
  max-width: 768px;
  margin: 0 auto;
}

.container.isloading::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #cccccc;
  opacity: 0.5;
  z-index: 999999;
}

.header {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.profiles {
  margin-top: 30px;
}

.profile_container {
  padding: 0 24px;  
  width: calc(50% - 10px);
  display: inline-block;
  vertical-align: top;
}

.profile_header {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  padding: 5px;
}

.comparison_histogram {
  margin-top: 30px;
}
