<div class="content__cell" [class.isloading]="isLoading">
  <div class="content__cell-title">
    <h5>Data Profiles</h5>
  </div>

  <mdl-select label="Choose field" (change)="onFieldSelect($event)">
    <mdl-option *ngFor="let field of fields" [value]="field">{{ field }}</mdl-option>
  </mdl-select>

  <div *ngIf="profiles" class="profiles">
    <div class="profile_container training">
      <div class="profile_header">Training Data</div>
      <hs-profile-stats [profile]="profiles.trainingProfile"></hs-profile-stats>
    </div>
    <div class="profile_container production">
        <div class="profile_header">Production Data</div>
      <hs-profile-stats [profile]="profiles.productionProfile"></hs-profile-stats>
    </div>

    <div *ngIf="profiles.trainingProfile || profiles.productionProfile" class="comparison_histogram">
      <hs-profiles-comparison-histogram
        [trainingProfile]="profiles.trainingProfile" 
        [productionProfile]="profiles.productionProfile">
      </hs-profiles-comparison-histogram>
    </div>
  </div>
</div>