@import "variables";
.wrapper {
  align-items: flex-start;
  display: flex;
}

.explanation__meta {
  padding: 8px 0;
  font-family: $font-family-light;
  color: $neutral-color-400;
  margin-bottom: 12px;
  font-size: 12px;
  &-item {
    line-height: 14px;
  }
  &-value {
    color: $neutral-color-700;
  }
}