<ng-container *ngIf="explanation$ | async as explanation">
  <ng-container [ngSwitch]="explanation.state">
    <button
      *ngSwitchCase="'SUCCESS'"
      (click)="showExplanation(explanation.result)"
      kind="base"
      color="primary"
      hs-button
    >
      show explanation
    </button>
    <button
      *ngSwitchCase="'NOT_CALLED'"
      (click)="createExplanation()"
      kind="base"
      color="cyan"
      hs-button
    >
      get explanation
    </button>
    <button *ngSwitchDefault kind="base" color="cyan" hs-button disabled>
      {{ explanation.state }}
    </button>
  </ng-container>
</ng-container>
