<div class="dialog__content dialog__content--center">
    <span class=" dialog__content--question ">Remove application?</span>
    <p class="dialog__text dialog__text--is-alert">{{ name }}</p>
    <div class="buttons-group">
        <button class="button button--flat button--large dialog__button" (click)="dialog.closeDialog()" type="button">cancel</button>
        <button class="button button--primary button--primary-remove button--large dialog__button" (click)="onDelete()">Remove</button>
    </div>
</div>

