<div class="custom-metrics">
  {{ comparisonRegime$ | async }}
  <div class="custom-metrics__header">
    <span class="custom-metrics__header-title">Custom metrics</span>
    <hs-regime-selector
      class="custom-metrics__header-regime-selector"
      [selectedRegime]="comparisonRegime$ | async"
      (changedRegime)="changeRegime()"
    ></hs-regime-selector>
  </div>
  <hs-model-versions-tags
    (listChanged)="comparableModelVersionsChanged($event)"
  ></hs-model-versions-tags>
</div>

<!-- {{ chartConfigs | async | json }} -->
<div class="charts">
  <div class="charts__column" *ngFor="let checksByMv of chartConfigs | async">
    <div class="charts__item" *ngFor="let check of checksByMv | keyvalue">
      <hs-check-chart [config]="check.value"> </hs-check-chart>
    </div>
  </div>
</div>
