<div>
  <div
    tippy
    [tippyOptions]="{
      content: messageContent,
      arrow: false,
      theme: 'basic',
      placement: 'bottom',
      allowHTML: true,
      interactive: true,
      zIndex: 1
    }"
    class="servable-status"
    [ngSwitch]="status"
    [ngClass]="iconClass"
  >
    <hydro-icon
      *ngSwitchCase="'Undefined'"
      class="servable-status__icon"
      type="help"
    ></hydro-icon>
    <hydro-icon
      *ngSwitchCase="'Serving'"
      class="servable-status__icon"
      type="circle-check"
    ></hydro-icon>
    <hydro-icon
      *ngSwitchCase="'Starting'"
      class="servable-status__icon"
      type="clock"
    ></hydro-icon>
    <hydro-icon
      *ngSwitchCase="'Warning'"
      class="servable-status__icon"
      type="warning"
    ></hydro-icon>
    <hydro-icon
      *ngSwitchDefault
      class="servable-status__icon"
      type="circle-x"
    ></hydro-icon>
  </div>
</div>

<div #messageContent>
  <div class="servable-tooltip">
    <div class="servable-tooltip__title">Servable</div>
    <div class="servable-tooltip__name">{{name}}</div>
    <div *ngIf="message" class="servable-tooltip__text">{{message}}</div>
    <a
      class="hydro-link servable-tooltip__link"
      (click)="showServableLogs(name)"
    >
      show logs
    </a>
  </div>
</div>
