@import 'variables';

.agg-details {
  background: $neutral-color-100;
  border: 1px $neutral-color-200 solid;
  border-radius: 4px;
  display: flex;
  &__sidebar {
    min-width: 196px;
    width: 196px;
    border-right: 1px $neutral-color-200 solid;
  }
  &__body {
    width: 100%;
    background: white;
  }
  &__checks {
  }
  &__check {
    padding: 12px 24px;
  }
}

.details {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 720px;
  background: white;
  z-index: 1;
  padding: 24px;
  overflow: auto;
}
