<div class="monitoring">
  <hs-services-header [modelVersion]="modelVersion$ | async"></hs-services-header>
  <hs-monitoring-availability>
    <ng-container *ngIf="!(error$ | async); else errorSection">
      <section class="monitoring__aggregation">
        <hs-aggregation>
        </hs-aggregation>
      </section>
      <ng-container *ngIf="selectedAggregationColumn$ | async as aggregation">
        <hs-requests-information
          [aggregation]="aggregation"
          [errors]="errorsChecks$ | async"
          [latency]="latency$ | async"
        >
        </hs-requests-information>
        <hs-batch-metrics
          *ngIf="showBatchMetricsBlock(aggregation)"
          [aggregation]="aggregation"
        ></hs-batch-metrics>
        <div class="monitoring__log">
          <hs-log
            [checks]="checks$ | async"
            [loading]="detailedCheckLoading$ | async"
            [modelVersion]="modelVersion$ | async"
          ></hs-log>
        </div>
      </ng-container>

      <hs-custom-metrics></hs-custom-metrics>
    </ng-container>
  </hs-monitoring-availability>
</div>

<ng-template #errorSection>
  <hs-error-message class="monitoring-page__error">
    {{ error$ | async }}
  </hs-error-message>
</ng-template>
