@import 'variables';

.monitoring {
  position: relative;
  width: 100%;

  &__aggregation {
    margin-bottom: 12px;
    width: 100%;
  }

  &__alert {
    color: #80520e;
    cursor: pointer;
    font-weight: bold;
  }

  &__log {
    margin-bottom: 24px;
  }

  &__settings {
    &-icon {
      color: $neutral-color-300;
      cursor: pointer;
      height: 24px;
      transition: 0.3s ease all;
      width: 24px;

      &:hover {
        color: $neutral-color-800;
      }
    }
  }

  &__metrics-mini {
    background: white;
    border-radius: 4px;
    box-shadow: $box-shadow;
    display: flex;
    margin-bottom: 12px;
    padding: 8px;

    &-name {
      color: $neutral-color-900;
      font-family: $font-family-light;
    }

    &-item {
      width: 120px;
    }

    &-list {
      display: flex;
    }

    &-check {
    }

    &-item + &-item {
      margin-left: 8px;
    }
  }
}

.loader {
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  color: $neutral-color-700;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  letter-spacing: 1px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  z-index: 2;

  &-icon {
    height: 24px;
    width: 24px;
  }
}
