@import 'variables';

.monitoring {
  width: 100%;
  position: relative;
  height: 100%;
  &__label {
    font-size: 14px;
    font-family: $font-family-bold;
    color: $neutral-color-900;
    line-height: 24px;
    margin-bottom: 2px;
  }
  &__body {
    overflow: auto;
    height: 100%;
    padding: 24px;
  }
  &__aggregation {
    margin-bottom: 12px;
    width: 100%;
    &-details {
      margin-bottom: 24px;
    }
  }

  &__alert {
    color: #80520e;
    cursor: pointer;
    font-weight: bold;
  }

  &__log {
    margin-bottom: 24px;
  }

  &__settings {
    &-icon {
      color: $neutral-color-300;
      cursor: pointer;
      height: 24px;
      transition: 0.3s ease all;
      width: 24px;

      &:hover {
        color: $neutral-color-800;
      }
    }
  }

  &__metrics-mini {
    background: white;
    border-radius: 4px;
    box-shadow: $box-shadow;
    display: flex;
    margin-bottom: 12px;
    padding: 8px;

    &-name {
      color: $neutral-color-900;
      font-family: $font-family-light;
    }

    &-item {
      width: 120px;
    }

    &-list {
      display: flex;
    }

    &-check {
    }

    &-item + &-item {
      margin-left: 8px;
    }
  }
}

.check-details {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: 100;
  &__layout {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background: $neutral-color-100;
    opacity: 0.9;
  }
  &__container {
    position: absolute;
    right: 0;
    width: 640px;
    top: 0;
    bottom: 0;
    background: white;
    height: 100%;
    overflow: auto;
  }
  &__header {
    position: sticky;
    top: 0;
    z-index: 1;
    background: white;
    padding: 8px 24px;
    display: flex;
    align-items: center;
  }
  &__title {
    font-family: $font-family-bold;
    font-size: 14px;
    color: $neutral-color-900;
  }
  &__body {
    padding: 0 24px 24px;
  }
  &__icon {
    width: 24px;
    height: 24px;
    color: $neutral-color-600;
    transition: 0.3s ease color;
    cursor: pointer;
    &:hover {
      color: $neutral-color-900;
    }
  }
}

.loader {
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  color: $neutral-color-700;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  letter-spacing: 1px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  z-index: 2;

  &-icon {
    height: 24px;
    width: 24px;
  }
}
