<div class="monitoring-page">
  <ng-container *ngIf="!(error$ | async); else errorSection">
    <section class="monitoring__aggregation">
      <hs-aggregation
        [aggregation]="checksAggreagation$ | async"
        (changedSelectedColumn)="onSelectedAggregationColumn($event)"
      >
      </hs-aggregation>

      <hs-requests-information
        [aggregation]="selectedAggregationColumn$ | async"
        [latency]="latency$ | async"
        [errors]="errorsChecks$ | async"
      >
      </hs-requests-information>
    </section>

    <hs-log
      [checks]="checks$ | async"
      [modelVersion]="modelVersion$ | async"
    ></hs-log>
    <hs-custom-checks
      [customChecks]="customChecks$ | async"
      (openSettings)="openSettings()"
    ></hs-custom-checks>
  </ng-container>
</div>

<ng-template #errorSection>
  <hs-error-message class="monitoring-page__error">
    {{ error$ | async }}
  </hs-error-message>
</ng-template>
