<div [formGroup]="group">
  <div class="dc__control" *ngIf="nodeSelector; else addNodeSelectorButton">
    <label for="nodeSelector">nodeSelector</label>
    <input formControlName="nodeSelector" type="text" id="nodeSelector" />
  </div>

  <div
    formArrayName="tolerations"
    class="dc__group"
    *ngIf="tolerations; else addTolerationArrayButton"
  >
    <div class="dc__group-title">Tolerations</div>
    <div
      class="dc__list-item"
      *ngFor="let ctrl of tolerations.controls; let i = index"
    >
      <hs-toleration [group]="ctrl"></hs-toleration>
      <hydro-icon type="close" (click)="tolerations.removeAt(i)"></hydro-icon>
    </div>
    <button (click)="addToleration()" hs-button kind="stroked">
      add toleration
    </button>
  </div>

  <div class="dc__group" *ngIf="affinity; else addAffinityButton">
    <div class="dc__group-title">Affinity</div>
    <hs-affinity [group]="affinity"></hs-affinity>
  </div>
</div>

<ng-template #addTolerationArrayButton>
  <button (click)="addTolerationArray()" hs-button kind="stroked">
    add toleration
  </button>
</ng-template>

<ng-template #addNodeSelectorButton>
  <button (click)="addNodeSelector()" hs-button kind="stroked">
    add node selector
  </button>
</ng-template>

<ng-template #addAffinityButton>
  <button (click)="addAffinity()" hs-button kind="stroked">
    add affinity
  </button>
</ng-template>
