<div [formGroup]="group" class="dc__group">
  <div class="dc__group-title">Pod</div>
  <div class="dc__control">
    <label for="nodeSelector">nodeSelector</label>
    <input formControlName="nodeSelector" type="text" id="nodeSelector" />
  </div>

  <div formArrayName="tolerations" class="dc__group">
    <div class="dc__group-title">Tolerations</div>
    <div *ngFor="let ctrl of tolerations.controls; let i = index">
      <hs-toleration [group]="ctrl"></hs-toleration>
    </div>
  </div>
  <button (click)="addToleration()">add toleration</button>
  <br />

  <div class="dc__group">
    <div class="dc__group-title">Affinity</div>
    <hs-affinity [group]="group.get('affinity')"></hs-affinity>
  </div>
</div>
