<div [formGroup]="group" class="dc__group">
  <div class="dc__control">
    <label>Effect</label>
    <input type="text" formControlName="effect" />
  </div>

  <div class="dc__control">
    <label>tolerationSeconds</label>
    <input type="text" formControlName="tolerationSeconds" />
  </div>

  <div class="dc__control">
    <label>value</label>
    <input type="text" formControlName="value" />
  </div>

  <div class="dc__control">
    <label>key</label>
    <input type="text" formControlName="key" />
  </div>

  <div class="dc__control">
    <label>operator</label>
    <input type="text" formControlName="operator" />
  </div>
</div>
