.code {
    background: #04143c;
    border-radius: 2px;
    color: white;
    display: flex;
    font-family: monospace;
    font-size: 14px;
    padding: 24px 12px 12px;
    position: relative;
    line-height: 16px;
    &--wrap-space {
        white-space: pre-line;
    }
    &__comment {
        font-style: italic;
        color: grey;
        user-select: none;
    }
}

.copy {
    border-radius: 2px;
    background: #4d9bf1;
    cursor: pointer;
    color: white;
    font-size: 16px;
    line-height: 28px;
    padding: 0px;
    position: absolute;
    right: 4px;
    text-align: center;
    top: 4px;
    width: 64px;
    &:hover {
        background: #468dda;
    }
}