.code {
    background: #f9f9f9;
    border: 1px grey solid;
    border-radius: 2px;
    display: flex;
    font-family: monospace;
    font-size: 14px;
    padding: 24px 12px 12px;
    position: relative;
    line-height: 16px;
    &--wrap-space {
        white-space: pre-line;
    }
    &__comment {
        font-style: italic;
        color: grey;
        user-select: none;
    }
}

.copy {
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
    background: grey;
    cursor: pointer;
    color: white;
    font-size: 16px;
    height: 28px;
    padding: 4px;
    position: absolute;
    right: 0;
    text-align: center;
    top: -1px;
    width: 64px;
    &:hover {
        background: #04143c;
    }
    &__button {
        font-size: 20px;
        color: black;
    }
}