<div class="code code--wrap-space" *ngIf="isValidInput;else error">
    <ng-container >
        <code>
            <p class="code__comment" *ngIf="isGrpc()"># For convinience we’ve already generated all our proto files to a python library and published it in PyPI. You can install it via pip install hydro-serving-grpc
            </p>
            <span>{{codeExample}}</span>
        </code>
        <div 
            class="copy"
            [hsCopyToBuffer]="codeExample">
        </div>
    </ng-container>

</div>

<ng-template #error>
    <div class="error-container">Wrong input's format</div>
</ng-template>