<div class="code code--wrap-space" *ngIf="isValidInput">
    <ng-container >
        <code>
            <span class="code__comment" *ngIf="isGrpc()"># For convinience we’ve already generated all our proto files to a python library and published it in PyPI. You can install it via pip install hydro-serving-grpc
            </span>
            <span>{{codeExample}}</span>
        </code>
        <div 
            class="copy"
            [copyToBuffer]="codeExample">
        </div>
    </ng-container>

</div>

<ng-container *ngIf="!isValidInput">
    <div class="error-container">Wrong input's format</div>
</ng-container>