@import "variables";

.raw-checks {
  margin-bottom: 12px;

  &__table {
    width: 910px;
    table-layout: fixed;
    border-collapse: collapse;
  }

  &__row:nth-of-type(2n) {
    background: $neutral-color-100;
  }

  &__cell {
    color: $neutral-color-1000;
    font-family: $font-family-light;
    overflow: scroll;
    padding: 4px;
    font-size: 12px;
    line-height: 14px;
  }

  &__check {
    &--success {
      font-family: $font-family-bold;
      color: $supportive-color-green-700;
    }

    &--failed {
      font-family: $font-family-bold;
      color: $supportive-color-red-700;
    }
  }

  &__head-row {
    background: $neutral-color-200;
  }
  &__head-cell {
    color: $neutral-color-900;
    font-family: $font-family-bold;
    padding: 8px 4px;
  }

  &__label {
    font-family: $font-family-bold;
    color: $neutral-color-1000;
    text-align: center;
    font-size: 18px;
    line-height: 32px;
    position: relative
  }
  &__explanation {
    position: absolute;
    right: 0;
    top: 2px;
    width: 140px;
  }
}
