@import 'variables';

.servables-table {
  width: 100%;
  &__row {
    &-buttons {
      button + button {
        margin-left: 8px;
      }

      button {
        padding: 5px 12px;
      }
    }
  }
}
.servables--is-empty {
  text-align: center;
  line-height: 36px;
  color: $neutral-color-400;
}

.servable {
  &__status {
    color: $neutral-color-500;
    &-icon {
      width: 18px;
      height: 18px;
    }
    &--serving {
      color: $supportive-color-green-700;
    }
  }
}
