@import 'variables';

.models-page {
  height: 100%;
  display: flex;
  &__hider {
    margin: 6px 0;
  }
  &__sidebar {
    width: 250px;
    min-width: 250px;
  }

  &__main {
    width: calc(100% - 50px);
    height: 100%;
  }

  &__body {
    width: 100%;
    height: 100%;
    &--zenMode {
      margin: 0 auto;
      min-width: 1100px;
      max-width: 1100px;
    }
  }
}

:host-context(.mr-md) {
  .models-page {
    &__sidebar-toggler {
      display: none;
    }
  }
}

:host-context(.ls-md) {
  .models-page {
    &__sidebar {
      left: -250px;
      position: absolute;
      height: 100%;
      z-index: -3;
      transition: all 0.3s ease-in-out;
      &_open {
        left: 0;
        z-index: 3;
      }
    }
  }
}
