<div *ngIf="visibleModels$ | async as models" class="models-page">
  <div *ngIf="models.length" class="models-page__sidebar" hsHideInZenMode>
    <hs-sidebar
      [sidebarData]="visibleModels$ | async"
      [selectedItem]="selectedModel$ | async"
      (filtered)="handleFilter($event)"
      (bookmarked)="handleToggleFavoriteModel($event)"
      (clicked)="handleSidebarClick($event)"
    >
      <div class="models-page__hider hide">
        <mdl-checkbox
          [ngModel]="metricModelsAreHidden$ | async"
          (change)="toggleHideMetricModels($event)"
        >
          Hide metric models
        </mdl-checkbox>
      </div>
    </hs-sidebar>
  </div>
  <div class="models-page__main">
    <div class="models-page__header">
      <hs-models-header [isRoot]="isRootUrl$ | async"></hs-models-header>
    </div>
    <div
      class="models-page__body"
      [ngClass]="{ 'models-page__body--zenMode': isZenMode$ | async }"
    >
      <router-outlet></router-outlet>
      <ng-container *ngIf="!models.length">
        <hs-icon class="models-page__icon" type="icon-models"></hs-icon>
        <div class="models-page__content">
          <div class="models-page__content-text">
            <div class="models-page__content-title">
              Create a model
            </div>
            <div class="models-page__content-subtitle">
              The Model consumes provided inputs and produces predictions or transformations.
            </div>
            <hs-code-container></hs-code-container>
            <div class="models-page__content-message">
              <hs-icon class="models-page__content-icon" type="icon-upload"></hs-icon>
              <a
                class="models-page__content-link"
                href="https://docs.hydrosphere.io/quickstart/getting-started"
                target="_blank"
              >How to upload model</a
              >
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
