<div class="models-page" #page>
  <hs-sidebar-toggler class="models-page__sidebar-toggler" [(isOpen)]="isOpen">
  </hs-sidebar-toggler>
  <div [ngClass]="{'models-page__sidebar_open': isOpen}" class="models-page__sidebar" hsHideInZenMode>
    <hs-sidebar
      [sidebarData]="visibleModels$ | async"
      [selectedItem]="selectedModel$ | async"
      (filtered)="handleFilter($event)"
      (bookmarked)="handleToggleFavoriteModel($event)"
      (clicked)="handleSidebarClick($event)"
      [(isOpen)]="isOpen"
    >
      <div class="models-page__hider hide">
        <mdl-checkbox
          [ngModel]="metricModelsAreHidden$ | async"
          (change)="toggleHideMetricModels($event)"
        >
          Hide metric models
        </mdl-checkbox>
      </div>
    </hs-sidebar>
  </div>
  <div class="models-page__main">
    <div class="models-page__header">
      <hs-models-header [isRoot]="isRootUrl$ | async"></hs-models-header>
    </div>
    <div
      class="models-page__body"
      [ngClass]="{ 'models-page__body--zenMode': isZenMode$ | async }"
    >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
