<h2 class="mdl-dialog__title">Add Metric</h2>
<form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
    <div class="mdl-dialog__content">

        <hydro-input-text name="metricName" label="Metric Name" formControlName="metricName"></hydro-input-text>
        <div class="row">
            <mdl-select formControlName="sourceName" label="Choose input">
                <mdl-option *ngFor="let source of sources$ | async" [value]="source">{{ source }}</mdl-option>
            </mdl-select>
        </div>
        <div class="row">
            <mdl-select formControlName="metricAggregation" label="Choose metric" (change)="changeConfigForm($event)">
                <mdl-option *ngFor="let aggregation of aggregations" [value]="aggregation.className">{{ aggregation.name }}</mdl-option>
            </mdl-select>
        </div>
        <div class="row">
            <div *ngIf="this.serviceForm.controls['metricConfig'].get('applicationId')" formGroupName="metricConfig">
                <mdl-select formControlName="applicationId" label="Choose autoencoder application">
                    <mdl-option *ngFor="let app of applications$ | async" [value]="app.id">{{ app.name }}</mdl-option>
                </mdl-select>
            </div>
        </div>
        <div class="row">
            <label class="hydro-checkbox" [class.disabled]="isHealthDisabled">
                Use this metric for health checks
                <input type="checkbox" formControlName="withHealth" (change)="toggleHealthConfig($event)">
                <span></span>
            </label>
        </div>
        <div class="row">
            <div *ngIf="!isHealthDisabled" formGroupName="healthConfig">
                <div *ngIf="this.serviceForm.controls['healthConfig'].get('threshold')">
                    <hydro-input-text name="threshold" label="Threshold" formControlName="threshold"></hydro-input-text>
                </div>
            </div>
        </div>

        <div class="btn-group form-actions __justify-end">
            <button class="btn btn-flat btn-large" (click)="dialogRef.hide()" type="button">cancel</button>
            <button class="btn btn-colored btn-large" type="submit" [disabled]="serviceForm.invalid">Add Metric</button>
        </div>
    </div>
</form>