<header class='hydro-navbar'>
    <img class="hydro-navbar__logo" [routerLink]="['/']" src="./assets/images/logo.svg">
    <nav class="hydro-navbar__menu">
        <a class="hydro-navbar__menu-item" [routerLink]="['/models']" routerLinkActive='__active'>
            <hydro-icon [type]="'icon-models'" class="hydro-navbar__icon hydro-navbar__icon--models"></hydro-icon>
            <span class="models-link-label">Models</span>
        </a>
        <a class="hydro-navbar__menu-item" [routerLink]="['/applications']" routerLinkActive='__active'>
            <hydro-icon [type]="'icon-applications'" class="hydro-navbar__icon hydro-navbar__icon--applications"></hydro-icon>
            <span class="services-link-label">Applications</span>
        </a>
        <!-- <a class="hydro-navbar__menu-item" [routerLink]="['/sources']" routerLinkActive='__active'>
            <hydro-icon [type]="'icon-folder'" class="hydro-navbar__icon hydro-navbar__icon--folder"></hydro-icon>
            <span class="services-link-label">Sources</span>
        </a> -->
    </nav>
</header>
