$default-color: #475f9e;
$active-color: white;

.hydro-navbar {
  height: 68px;
  background-color: #04143c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 26px;
  position: relative;
  &__logo {
    cursor: pointer;
    outline: none;
    position: absolute;
    &-icon {
      width: 180px;
      height: 46px;
    }
  }
  &__menu {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex: auto;
    justify-content: center;
    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 15px;
      color: $default-color;
      text-decoration: none;
      font-size: 16px;
      min-width: 170px;
      &:not(:last-child) {
        margin-right: 15px;
      }
      &.__active {
        box-shadow: inset 0px 2px white;
        color: $active-color;
      }
    }
  }
  &__icon {
    margin-right: 15px;
    &--models {
      width: 20px;
    }
    &--applications {
      width: 28px;
    }
    &--folder {
      width: 28px;
      height: 28px;
    }
  }

  &__documentation {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
    transition: color .3s ease;
    position: absolute;
    right: 24px;
    text-decoration: none;
    &:hover {
      color: rgba(255, 255, 255, .8);
    }
  }
}
