@import "variables";

.custom-check {
  display: flex;
  width: 1100px;
  margin: 12px 0;
  background: white;
  border: 2px $neutral-color-100 solid;
  &__information {
    min-width: 120px;
    max-width: 120px;
    color: $neutral-color-800;
    font-family: $font-family-light;
    padding: 8px;
    &-name {
      font-size: 16px;
      font-family: $font-family-bold;
    }
    &-config {
      font-size: 12px;
      color: $neutral-color-400;
    }
  }
}