<div [formGroup]="group" class="dc__group">
  <div
    formGroupName="requiredDuringSchedulingIgnoredDuringExecution"
    *ngIf="required; else addRequiredButton"
  >
    <div class="dc__group">
      <div class="dc__group-title">
        requiredDuringSchedulingIgnoredDuringExecution
      </div>
      <div formArrayName="nodeSelectorTerms">
        <hs-node-selector-term
          [group]="nstCtrl"
          *ngFor="let nstCtrl of nodeSelectorTerms.controls; let nstIdx = index"
        ></hs-node-selector-term>
      </div>
    </div>
  </div>

  <div
    formArrayName="preferredDuringSchedulingIgnoredDuringExecution"
    *ngIf="preferred; else addPreferredArrayButton"
  >
    <div *ngFor="let preferredControl of preferred.controls">
      <div class="dc__group">
        <div class="dc__group-title">
          preferredDuringSchedulingIgnoredDuringExecution
        </div>
        <div class="dc__control">
          <label>weight</label>
          <input formControlName="weight" />
        </div>
        <div formArrayName="preference">
          <div
            *ngFor="let nstCtrl of preferredControl.get('preference').controls"
          >
            <hs-node-selector-term [group]="nstCtrl"></hs-node-selector-term>
          </div>
        </div>
      </div>

      <button (click)="addPreference(preferredControl)" hs-button>
        add preference
      </button>
    </div>
    <button (click)="addPreferred()" hs-button kind="stroked">
      add preferred item
    </button>
  </div>
</div>

<ng-template #addRequiredButton>
  <button (click)="addRequired()" hs-button kind="stroked">
    add required
  </button>
</ng-template>

<ng-template #addNodeSelectorTermButton>
  <button (click)="addNodeSelectorTerm()" hs-button kind="stroked">
    add required
  </button>
</ng-template>

<ng-template #addPreferredArrayButton>
  <button (click)="addPreferredArray()" hs-button kind="stroked">
    add preferred array
  </button>
</ng-template>
