<div class="request">
  <div class="request__inputs">
    <table class="request__inputs-table">
      <tr>
        <td class="request__inputs-title">
          inputs
        </td>
      </tr>
      <tr *ngFor="let input of request.inputs | keyvalue" class="request__inputs-table-row">
        <td class="request__inputs-table-cell request__inputs-table-cell--accent">{{ input.key }}</td>
        <td class="request__inputs-table-cell">
          <ng-container
            *ngTemplateOutlet="isImage(input.key) ? image : plainText"
          ></ng-container>
          <ng-template #image>
            <hs-tensor-image-list
              [tensorProto]="input.value"
            ></hs-tensor-image-list>
          </ng-template>
          <ng-template #plainText>
            <div hs-expander maxHeight="70">
              <div #expand>
                {{ getValue(input.value) }}
              </div>
            </div>
          </ng-template>
        </td>
      </tr>
    </table>
  </div>
</div>
