@import "variables";

.request {
  max-width: 100%;
  overflow: scroll;
  padding-bottom: 14px;

  &__inputs {
    &-title {
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: 1px;
      margin-left: 0px;
      margin-top: 4px;
      color: $neutral-color-700;
    }

    &-table {
      &-row {}
      &-cell {
        vertical-align: top;
        padding: 0 8px;
        color: $neutral-color-600;
        &--accent {
          color: $neutral-color-800;
        }
      }
    }

  }

  &__input {
    &-name {
      color: $neutral-color-700;
      padding-right: 8px;
    }
  }
}
