<div class="replay">
  <div class="replay__form">
    <div>
      <mdl-select [(ngModel)]="replayableModelVersion" label="replay from">
        <mdl-option
          *ngFor="let modelVersion of siblingsModelVersions$ | async"
          [value]="modelVersion.modelVersion"
        >
          {{ modelVersion.modelVersion }}
        </mdl-option>
      </mdl-select>
    </div>
    <footer>
      <button
        hs-button
        kind="stroked"
        class="replay__form-button"
        [disabled]="!replayableModelVersion"
        #replyButton
      >
        replay
      </button>
    </footer>
  </div>
  <div class="replay__replays">
    <header>replays</header>
  </div>
</div>
