<section class="monitoring">
    <header class="monitoring__header">
        <div class="monitoring__header-buttons">
            <div class="button button--white monitoring__header-button" (click)="openAddMetricDialog()">add metric</div>
            <div class="button button--white monitoring__header-button" [routerLink]="['../../compare']">compare versions</div>
        </div>
        
    </header>
    <div class="monitoring__body">
        <ng-container *ngIf="isMonitoringAvailable$ | async">
            <ng-container *ngIf="(metricSpecifications$ | async).length;else emptyMetricListError">
                <ng-container *ngIf="metricSpecificationProviders$ | async; let msp">
                    <div class="time-interval">
                        <label class="time-interval__label">Time interval: </label>
                        <mdl-select class="time-interval__select" label="Chart time window" [(ngModel)]="chartTimeWidth">
                            <mdl-option *ngFor="let param of chartTimeWidthParams" [value]="param.ms">{{ param.text }}</mdl-option>
                        </mdl-select>
                    </div>
                    
                    <div class='monitoring__chart' *ngFor="let metricSpecificationKind of msp | iterateAsArray">
                        <div class='monitoring__chart-buttons'>
                            <div class='button button--white monitoring__chart-button' (click)="goToLog(msp[metricSpecificationKind])"> Show log </div>
                            <div class='button button--white monitoring__chart-button' (click)="deleteMetric(msp[metricSpecificationKind])"> Remove metric </div>
                        </div>
                        <ng-container [ngSwitch]="metricSpecificationKind">
                            <hs-kolmogorov-smirnov-metric-chart 
                            *ngSwitchCase="'KSMetricSpec'"
                            [chartTimeWidth]="chartTimeWidth"
                            [modelVersionId]="(modelVersion$ | async)?.id"
                            [metricSpecificationProvider]="msp[metricSpecificationKind]">
                        </hs-kolmogorov-smirnov-metric-chart>
                        <hs-base-metric-chart 
                        *ngSwitchDefault
                        [chartTimeWidth]="chartTimeWidth" 
                        [modelVersionId]="(modelVersion$ | async)?.id"
                        [metricSpecificationProvider]="msp[metricSpecificationKind]">
                    </hs-base-metric-chart>
                </ng-container>
            </div>
        </ng-container>
    </ng-container>
</ng-container>
<ng-container *ngIf="!(isMonitoringAvailable$ | async)">
    <div class="unavailable-message">
        Monitoring service is unavailable
    </div>
</ng-container>
    </div>
    <ng-template #emptyMetricListError>
        <div class='empty-list-text'> Metric list is empty</div>
    </ng-template>
</section>