.monitoring {
    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: 36px;
        &-title {
            font-size: 18px;
            text-transform: uppercase;
            margin-bottom: 8px;
        }
        &-buttons {
            display: flex;
            justify-content: space-between;
        }
        &-button {
            margin-left: 8px;
            display: inline-block;
            text-align: center;
            width: 156px;
        }
    }

    &__chart {
        &-buttons {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 8px;
        }

        &-button {
            margin-left: 8px ;
        }
    }
}

.time-interval {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    justify-content: flex-start;
    padding-right: 14px;
    &__label {
        line-height: 14px;
        margin-right: 4px;
    }
}

.compare {
    margin: 32px 0;
    display: flex;
    align-items: center;
    font-size: 18px;
    &__text {
        font-size: 16px;
        font-weight: 300;
        color: hsl(0,0,70);
        padding: 0 8px;
    }
    &__button {

        display: inline-block;
    }
}


.empty-list-text {
    text-align: center;
    font-size: 20px;
    color: #959cab;
    font-style: italic;
    padding: 64px;
}