.alerts {
    &-list {
        list-style: none;
        padding: 0;
        &__item {
            border: 1px solid #e6e9ed;
            padding: 10px 16px 8px;
            text-transform: uppercase;
            background-color: #f8f9fb;
            line-height: 1;
            margin-bottom: 8px;
        }
    }
}

.health-status {
    width: 15px;
    height: 15px;
    background: gray;
    border-radius: 50%;
    margin: auto;
}

.good {
    background-color: green;
}
.bad {
    background-color: red;
}
