.alerts {
    &-list {
        list-style: none;
        padding: 0;
        &__item {
            border: 1px solid #e6e9ed;
            padding: 10px 16px 8px;
            text-transform: uppercase;
            background-color: #f8f9fb;
            line-height: 1;
            margin-bottom: 8px;
        }
    }
}

.action-buttons {
    display: flex;
    .action-button {
        margin-left: 8px;
        padding: 8px
    }
}


.health-status {
    width: 15px;
    height: 15px;
    background: gray;
    border-radius: 50%;
    margin: auto;
}

.good {
    background-color: #59b659;
}
.bad {
    background-color: #e44545;
}

.navigation {
    &-button {
        margin-right: 8px;
        &:hover {
            border-radius: 50px;
        }
    }
    &-icon {
        margin: 0;
    }
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 4px 0;
    position: absolute;
    z-index: 1;
    top: 24px;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.model-variant {
    &__cell {
        height: 18px;
        line-height: 18px;
        margin-right: 2px;
        width: 18px;
    }
    &__version {
        &-new {
            display: none;
            &--visible {
                cursor: pointer;
                display: block
            }
            &-icon {
                position: absolute;
                height: 16px;
                width: 16px;
            }
        }

        &-text {
            margin-left: 24px
        }
    }
}