@import "variables";

.application {
  &__signature {
    height: calc(100% - 40px);
    overflow: scroll;
    .signature {
      width: 240px;
      overflow: scroll;
      padding: 8px;
      background-color: $neutral-color-100;
      border: 2px $neutral-color-200 solid;
      border-radius: 4px;
      max-height: 100%;
      &__header {
        line-height: 28px;
      }
      &__title {
        color: $neutral-color-500;
        font-family: $font-family-light;
        text-transform: uppercase;
        font-size: 10px;
      }
      &__label {
        color: $neutral-color-600;
        font-family: $font-family-light;
      }
      &__name {
        color: $neutral-color-600;
        text-transform: none;
      }
      &__io {
        display: flex;
        &-field {
          &-title {
            font-size: 10px;
            font-family: $font-family-light;
            color: $neutral-color-500;
            text-transform: uppercase;
          }
          &-name {
            color: $neutral-color-600;
          }
          &-additional-info {
            font-style: italic;
            color: $neutral-color-400;
            font-size: 8px;
            font-style: $font-family-light;
            line-height: 10px;
          }
          &-item {
            margin-bottom: 4px;
          }
        }
        &-separator {
          margin: 0 12px;
        }
    
      }
    }
  }
  &__error {
    overflow: scroll;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 2;
    max-height: 80px;

  }
  &__body {
    display: flex;
    height: 100%;
  }
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;

    &-title {
      font-size: 18px;
    }

    &-monitoring-button {
      margin-right: 8px;
    }

    &-buttons {
      position: absolute;

      button+button {
        margin-left: 8px;
      }

      &--right {
        right: 24px;
      }

      &--left {
        left: 24px;
      }
    }
  }

  &__stages {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__stage {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px #5e6ca078 dashed;
    border-radius: 10px;
    margin-bottom: 36px;
    position: relative;

    &-header {
      position: absolute;
      top: -14px;
      background: #f9f9f9;
      padding: 4px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #787e92;
    }
  }

  &__stage+&__stage:before {
    display: block;
    content: "";
    width: 1px;
    height: 36px;
    background: #5e6ca03d;
    position: absolute;
    left: calc(50% - 1px);
    top: -37px;
  }

  &__model-variants {
    display: flex;
  }

  &__model-variant {
    background: white;
    padding: 12px;
    width: 200px;
    border: 2px #788aa7 solid;
    border-radius: 6px;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
    transition: .3s ease linear;
    cursor: pointer;

    &:hover {
      border-color: #435673;
    }

    &-weight {
      display: inline-block;
      position: absolute;
      text-align: center;
      font-size: 10px;
      font-weight: 100;
      color: #59557f;
      font-style: italic;
      line-height: 10px;
      margin-top: 8px;
      bottom: -16px;
      left: calc(50% - 20px);
      width: 40px;
      text-align: center;
    }

    &-model-version {
      text-transform: uppercase;
      letter-spacing: 1px;
      display: flex;
      font-size: 12px;
    }

    &-update {
      width: 100%;
      border-radius: 50%;
      position: absolute;
      left: -11px;
      top: -12px;
    }
  }

  &__model-variant+&__model-variant {
    margin-left: 12px;
  }

  &__model-variant+&__model-variant::before {
    content: "";
    display: block;
    width: 12px;
    position: absolute;
    top: calc(50% - 1px);
    left: -14px;
    height: 1px;
    background: #5e6ca03d;
  }
}

.model-version {
  &__name {
    text-overflow: ellipsis;
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__version {
    font-weight: 900;
  }
}

.alerts {
  &-list {
    list-style: none;
    padding: 0;

    &__item {
      border: 1px solid #e6e9ed;
      padding: 10px 16px 8px;
      text-transform: uppercase;
      background-color: #f8f9fb;
      line-height: 1;
      margin-bottom: 8px;
    }
  }
}

.action-buttons {
  display: flex;

  .action-button {
    margin-left: 8px;
    padding: 8px;
  }
}

.health-status {
  width: 15px;
  height: 15px;
  background: gray;
  border-radius: 50%;
}

.good {
  background-color: #59b659;
}

.bad {
  background-color: #e44545;
}

.navigation {
  &-button {
    margin-right: 8px;
  }

  &-icon {
    margin: 0;
  }
}

.model-variant {
  &__cell {
    position: relative;
    line-height: 18px;
    margin-right: 2px;
    width: 18px;
  }

  &__link {
    cursor: pointer;
    text-decoration: underline;
  }

  &__version {
    &-new {
      position: absolute;
      display: inline-block;
      left: 6px;

      &--visible {
        cursor: pointer;
        display: block;
      }

      &-icon {
        height: 16px;
        width: 16px;
        background: white;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    &-text {
      display: inline-block;
      width: 100%;
    }
  }


}

