.alerts {
    &-list {
        list-style: none;
        padding: 0;
        &__item {
            border: 1px solid #e6e9ed;
            padding: 10px 16px 8px;
            text-transform: uppercase;
            background-color: #f8f9fb;
            line-height: 1;
            margin-bottom: 8px;
        }
    }
}

.action-buttons {
    display: flex;
    .action-button {
        margin-left: 8px;
        padding: 8px
    }
}

.health-status {
    width: 15px;
    height: 15px;
    background: gray;
    border-radius: 50%;
    margin: auto;
}

.good {
    background-color: #59b659;
}
.bad {
    background-color: #e44545;
}

.navigation {
    &-button {
        margin-right: 8px;
    }
    &-icon {
        margin: 0;
    }
}

.model-variant {
    &__cell {
        position: relative;
        line-height: 18px;
        margin-right: 2px;
        width: 18px;
    }
    &__link {
        cursor: pointer;
        text-decoration: underline;
    }
    &__version {
        &-new {
            position: absolute;
            display: inline-block;
            &--visible {
                cursor: pointer;
                display: block
            }
            &-icon {
                height: 16px;
                width: 16px;
            }
        }

        &-text {
            display: inline-block;
            width: 100%;
            margin-left: 6px;
        }
    }
}