<div [formGroup]="group"
    class="service">
    <hydro-model-selector-form
        formGroupName="model"
        [group]="model"
        [data]="model.value"
        (modelVersionChange)="onModelVersionChange($event)">
    </hydro-model-selector-form>
    <div class="service__row">
        <div class="service__field">
            <label class="service__field-label" [attr.for]="'runtime_' + index">Runtime</label>
            <mdl-select formControlName="runtime">
                <mdl-option *ngFor="let runtime of runtimes" [value]="runtime.id">
                    <span class="docker-image__name">{{ runtime.name | getDockerImage: 'name' }}</span>
                    <span class="hidden">:</span>
                    <span class="docker-image__version">{{ runtime.version }}</span>
                    <span class="docker-image__repository">{{ runtime.name | getDockerImage: 'repository' }}</span>
                </mdl-option>
            </mdl-select>
        </div>
        <div class="service__field service__field--environment">
            <label class="service__field-label" [attr.for]="'environment_' + index">Environment</label>
            <mdl-select  formControlName="environment">
                <mdl-option *ngFor="let environment of (environments$ | async)" [value]="environment.id">
                    {{ environment.name === 'Without Env' ? 'none' : environment.name }}
                </mdl-option>
            </mdl-select>
        </div>
        <div class="service__field">
            <label class="service__field-label" [attr.for]="'signature_' + index">Signature name</label>
            <input class="service__field-input" [attr.id]="'signature_' + index" type="text" formControlName="signatureName">
            <ng-container *ngIf="signatureName.errors">
                <div class="error" *ngFor="let error of signatureName.errors | iterateAsArray">
                    {{ signatureName.errors[error] }}
                </div>
            </ng-container>
        </div>
        <div class="service__field service__field--is-last service__field--weight">
            <label class="service__field-label" [attr.for]="'weight_' + index">Weight</label>
            <input class="service__field-input service__field-input--weight" [attr.id]="'weight_' + index" type="text" formControlName="weight">
            <ng-container *ngIf="weight.errors">
                <div class="error" *ngFor="let error of weight.errors | iterateAsArray">
                    {{ weight.errors[error] }}
                </div>
            </ng-container>
        </div>
    </div>
</div>