@import 'variables';

.tooltip-wrapper {
  position: relative;
}

.tooltip {
  position: absolute;
  left: 0;
  top: calc(100% + 6px);
  background: $neutral-color-200;
  color: $neutral-color-900;
  padding: 6px;
  line-height: 14px;
  border-radius: 4px;
  transition: 0.4s ease all;
  transform: translateY(0px);
  opacity: 1;
  z-index: 2;
  visibility: visible;
  max-width: 480px;
  max-height: 480px;
  min-width: 120px;
  overflow: auto;
  &::before {
    content: '';
    display: block;
    height: 8px;
    width: 8px;
    position: absolute;
    background: $neutral-color-200;
    transform: rotate(45deg);
    top: -4px;
  }
  &--is-hidden {
    transition: 0.3s ease all;
    transform: translateY(15px);
    opacity: 0;
    visibility: hidden;
  }
}
