

<div class='request'>
    <div class='request__inputs'>
        <div class='request__inputs-title'>inputs</div>
        <div class='request__inputs-list'>
            <div class='request__input' *ngFor="let input of request.inputs | keyvalue">
                <!-- {{ input.value | json }} -->
                <span class='request__input-name'>{{ input.key }}</span>
                <ng-container *ngTemplateOutlet="isImage(input.key) ? image : plainText;"></ng-container>
                <ng-template #image>
                    <canvas hsPixelToCanvas [pixels]='getValue(input.value)' width='28' height='28'></canvas>
                </ng-template>
                    <ng-template #plainText>
                        {{ getValue(input.value) }}
                    </ng-template>
            </div>
        </div>
    </div>
</div>
