@import 'variables';

.visualization-metrics {
  display: flex;
  padding: 24px 0 0 24px;

  &__item {
    border: 1px #486581 solid;
    border-radius: 5px;
    padding: 4px 8px;
    width: 120px;

    &-label {
      color: $neutral-color-700;
      font-size: 12px;
    }

    &-value {
      color: $neutral-color-900;
      font-family: $font-family-bold;
      font-size: 16px;
      line-height: 24px;
    }

    & + & {
      margin-left: 24px;
    }
  }
}
