<div class="requests-info">
  <ng-container *ngIf="loading">
    <div class="requests-info__loader">
      <hs-loader class="requests-info__loader-icon"></hs-loader>
    </div>
  </ng-container>
  <ng-container *ngIf="aggregation; else noDataAvailable">
    <div class="requests-info__section">
      <div class="requests-info__header">
        Selected requests
      </div>
      <div class="requests-info__count">{{ requests }}</div>
      <div class="requests-info__dates">
        <span>{{ firstId | checkIdToTime | moment }}</span> -
        <span>{{ lastId | checkIdToTime | moment }}</span>
      </div>
    </div>
    <div class="requests-info__section">
      <hs-latency-check [data]="latency"></hs-latency-check>
    </div>
    <div class="requests-info__section">
      <hs-error-check [data]="errors"></hs-error-check>
    </div>
  </ng-container>
</div>
<ng-template #noDataAvailable>
  <div class="requests-info__message">
    No data available
  </div>
</ng-template>
