@import "variables";
.requests-info {
  width: 100%;
  margin-bottom: 12px;
  display: flex;
  position: relative;
  &__section {
    height: 120px;
    border: 1px $neutral-color-200 solid;
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    background: white; 
  }
  &__section + &__section {
    margin-left: 12px;
  }
  &__header {
    color: $neutral-color-800;
    font-family: $font-family-bold;
    font-size: 14px;
  }
  &__count {
    margin: 16px 0;
    text-align: center;
    color: $neutral-color-900;
    font-family: $font-family-bold;
    font-size: 32px;
  }
  &__dates {
    font-family: $font-family-light;
    color: $neutral-color-900;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 4px;
    text-align: center;
  }
  &__message {
    text-align: center;
    color: $neutral-color-600;
    font-family: $font-family-light;
  }
}
