<div class="chart">
    {{ selectedPoints | json  }}
    <div class="button button--secondary" (click)="goToRegStore()"> reqstore </div>
    <div>
        {{ reqstoreResponse.length }}
        {{ reqstoreResponse | json }}
    </div>
    <div class="chart__title">
        <span>
            {{ title }}
        </span>
        <hydro-icon *ngIf="showDeleteIcon"
            class="icon chart__title-icon" 
            type="icon-remove" 
            (click)="onDelete()"></hydro-icon>
    </div>
   <div #chartContainer></div>
</div>
