<div class="chart">
    <div class="chart__title">
        <span>
            {{title}}
        </span>
        <hydro-icon
            *ngIf="!isComparing"
            class="icon chart__title-icon"
            type="icon-remove"
            (click)="onDelete()"></hydro-icon>
    </div>
    <div class="chart__filter-list">
        <div class="chart__filter-item">
            <span class="filter-name">Feature: </span>
            <mdl-select
                #featureSelect
                label="Choose feature"
                [(ngModel)]="selectedFeature"
                [autocomplete]="true"
                (keydown.enter)="$event.preventDefault()"
                class="filter-input">
                <mdl-option 
                    *ngFor="let feature of featureList | matchSorter:{}:featureSelect.searchQuery" 
                    [value]="feature">{{ feature }}
                </mdl-option>
            </mdl-select>
        </div>
    </div>
   <div #chartContainer></div>
</div>
