.chart {
    &__filter {
        &-list {
            display: flex;
            margin-bottom: 12px;
            padding: 0 24px;
        }
        &-item {
            display: flex;
            align-items: center;
            margin-right: 8px;
        }
    }
};

.filter {
    &-name {
        margin-right: 4px;
    }
    &-input {
        width: 140px;
    }
}
