<nav class="header-nav">
  <a
    class="header-nav__item"
    [routerLink]="['/models']"
    routerLinkActive="header-nav__item--active"
    skipLocationChange
  >
    <hydro-icon type="icon-models" class="header-nav__icon"></hydro-icon>
    <span>Models</span>
  </a>
  <a
    class="header-nav__item"
    [routerLink]="['/applications']"
    skipLocationChange
    routerLinkActive="header-nav__item--active"
  >
    <hydro-icon type="icon-applications" class="header-nav__icon"></hydro-icon>
    <span>Applications</span>
  </a>
  <a
    class="header-nav__item"
    [routerLink]="['/deployment_configs']"
    skipLocationChange
    routerLinkActive="header-nav__item--active"
  >
    <hydro-icon type="dc" class="header-nav__icon"></hydro-icon>
    <span>Deployment configs</span>
  </a>
</nav>
