<div class="dialog__content">
  <span class="dialog__question"
    >Are you sure you want to update this model?</span
  >
  <div class="contract">
    <div class="contract__label">Contracts:</div>
    <div class="contract__field">
      inputs:
      <span
        class="contract__status contract__status--is-{{
          inputsEqual ? 'equal' : 'different'
        }}"
        >{{ inputsEqual ? 'equal' : 'different' }}</span
      >
    </div>
    <div class="contract__field">
      outputs:
      <span
        class="contract__status contract__status--is-{{
          outputsEqual ? 'equal' : 'different'
        }}"
        >{{ outputsEqual ? 'equal' : 'different' }}</span
      >
    </div>
  </div>
  <div class="dialog__buttons dialog__buttons--column">
    <button hs-button (click)="onClose()" type="button">
      cancel
    </button>
    <button
      hs-button
      kind="flat"
      color="primary"
      type="submit"
      (click)="onSubmit()"
      hsAutofocused
    >
      update
    </button>
  </div>
</div>
