<div class="kafka-sources">
  <label class="hydro-checkbox">
    <span class="hydro-checkbox__label">use kafka source</span>
    <input
      type="checkbox"
      [checked]="isKafkaEnabled"
      (change)="toggleKafkaEnabled($event)"
    />
    <span></span>
  </label>
  <div *ngFor="let kafkaSource of kafkaFormArray.controls; index as i">
    <div [formGroup]="kafkaSource" class="kafka__item">
      <hydro-input-text
        class="kafka__input"
        name="inputTopic"
        formControlName="sourceTopic"
        label="input topic"
      >
      </hydro-input-text>
      <hydro-input-text
        class="kafka__input"
        name="outputTopic"
        formControlName="destinationTopic"
        label="destination topic"
      >
      </hydro-input-text>
      <hydro-icon
        type="icon-remove"
        class="icon kafka__icon"
        (click)="removeKafkaControlAtIndex(i)"
      ></hydro-icon>
    </div>
  </div>

  <div *ngIf="isKafkaEnabled" class="kafka__button">
    <button hs-button (click)="addKafkaControl()">
      add kafka source
    </button>
  </div>
</div>
