@import "variables";

.app-status {
  width: 18px;
  height: 18px;

  &--released {
    color: $supportive-color-green-700;
  }

  &--failed {
    color: $supportive-color-red-700;
  }
  &--assembling {
    color: $primary-color-700;
  }
}