.status {
    display: inline-block;
    font-size: 12px;
    padding: 0 6px;
    vertical-align: bottom;
    border-radius: 2px;
    &--failed {
        background: #FFBDBD;
        color: #E12D39;
    }
    &--assembling {
        background: #B3ECFF;
        color: #2BB0ED; 
    }
    &--ready {
        background: #C6F7E2;
        color: #27AB83;
    }
}