<div class="checks">
  <table class="hydro-table">
    <thead class="hydro-table-head">
      <tr>
        <!--        <th class="hydro-table-head__cell hydro-table-head__cell&#45;&#45;sticky">-->
        <!--          Request-->
        <!--        </th>-->

        <th class="hydro-table-head__cell hydro-table-head__cell--sticky">
          Successful checks, %
        </th>
        <th class="hydro-table-head__cell hydro-table-head__cell--sticky">
          Successful metrics, %
        </th>
        <th class="hydro-table-head__cell hydro-table-head__cell--sticky">
          Time
        </th>
        <th class="hydro-table-head__cell hydro-table-head__cell--sticky">
          Has error
        </th>
        <th class="hydro-table-head__cell hydro-table-head__cell--sticky"></th>
      </tr>
    </thead>
    <tbody class="hydro-table-body" [@filterAnimation]="total">
      <tr
        *ngFor="let check of checks"
        class="hydro-table-body__row hydro-table-body__row--hoverable"
        (click)="onClick(check)"
      >
        <td class="hydro-table-body__cell checks__score">
          {{ check.getRawScore() | number | percent }}
        </td>
        <td class="hydro-table-body__cell checks__score">
          {{ check.getMetricsScore() | number | percent }}
        </td>
        <td class="hydro-table-body__cell">
          {{ check.timestamp | hsFormatDate }}
        </td>
        <td class="hydro-table-body__cell">
          <span *ngIf="check.error" class="checks__error">
            error
          </span>
        </td>
        <td class="hydro-table-body__cell">
          <hydro-icon class="checks__icon" type="icon-arrow-right"></hydro-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>
