.response {
    &__title {

    }
    &__outputs {
        margin-left: 8px;
        &-title {
            text-transform: uppercase;
            font-size: 10px;
            letter-spacing: 1px;
            margin-left: 0px;
            margin-top: 4px;
            color: #b3b3b3
        }
        &-list {
            font-size: 12px;
            white-space: nowrap;
        }
    }
    &__output {
        &-name {
            color: grey;
            padding-right: 8px;
        }
    }
}