<div class="dc__group" [formGroup]="group">
  <div class="dc__control">
    <label>weight</label>
    <input formControlName="weight" />
  </div>

  <div class="dc__group" formGroupName="podAffinityTerm">
    <div class="dc__control">
      <label>topologyKey</label>
      <input formControlName="topologyKey" />
    </div>
    <div class="dc__group">
      <div class="dc__group-title">namespaces</div>
      <div formArrayName="namespaces">
        <div
          class="dc__control"
          *ngFor="
            let namespaceControl of namespaces.controls;
            let namespaceIdx = index
          "
        >
          <input [formControlName]="namespaceIdx" />
        </div>
      </div>
      <button (click)="addNamespace(group)" hs-button kind="stroked">
        add name space
      </button>
    </div>

    <div class="dc__group" formGroupName="labelSelector">
      <div class="dc__control">
        <label>matchLabels</label>
        <input formControlName="matchLabels" />
      </div>
      <div class="dc__group" formArrayName="matchExpressions">
        <div class="dc__group-title">match expressions</div>
        <hs-match-expression
          [group]="matchExprsCtrl"
          *ngFor="let matchExprsCtrl of getMatchExprs(group).controls"
        ></hs-match-expression>
        <button (click)="addMatchExpression(group)" hs-button kind="stroked">
          add match expression
        </button>
      </div>
    </div>
  </div>
</div>
