<div class="dialog__content dialog__content--center">
  <span class=" dialog__content--question ">Remove application?</span>
  <p class="dialog__text dialog__text--is-alert">{{ name }}</p>
  <div class="dialog__buttons dialog__buttons--column">
    <button
      hs-button
      (click)="dialog.closeDialog()"
    >
      cancel
    </button>
    <button
      hs-button
      kind="flat"
      color="warning"  
      (click)="onDelete()"
      hsAutofocused
    >
      Remove
    </button>
  </div>
</div>
