@import 'variables';

.dc {
  &__form {
    max-width: 960px;
  }
  &__group-title {
    font-size: 20px;
    line-height: 32px;
  }
  &__control {
    width: 280px;
    display: flex;
    justify-content: space-between;
    & > label {
      font-family: $font-family-bold;
    }

    & > input {
      border: 1px $neutral-color-300 solid;
      border-radius: 4px;
      padding: 2px 6px;
    }
  }
  &__control + &__control {
    margin-top: 8px;
  }
  &__label {
  }
  &__input {
  }
  &__group {
    border-left: 2px $neutral-color-400 solid;
    padding-left: 16px;
    margin-bottom: 14px;
  }
}
