<div *ngIf="allApplications$ | async as applications" class="applications-page">
  <div *ngIf="applications.length" class="applications-page__sidebar">
    <hs-sidebar
      [sidebarData]="applications$ | async"
      [selectedItem]="selectedApplication$ | async"
      (filtered)="handleFilter($event)"
      (bookmarked)="handleBookmark($event)"
      (clicked)="handleSidebarClick($event)"
    >
      <div class="button">
        <ng-container
          *ngIf="!(isButtonEnabled() | async); then wrapper; else button"
        >
        </ng-container>
      </div>
    </hs-sidebar>
  </div>
  <div class="applications-page__body">
    <router-outlet></router-outlet>
    <div
      *ngIf="!(someModelVersionIsReleased() | async)"
      class="applications-page__message"
    >
      <a
        class="applications-page__message-link"
        href="https://docs.hydrosphere.io/quickstart/getting-started"
        target="_blank"
      >Upload</a
      >
      your first model
    </div>
    <ng-container *ngIf="!applications.length">
      <hs-icon class="applications-page__icon" type="icon-applications"></hs-icon>
      <div class="applications-page__content">
        <div class="applications-page__content-text">
          <div class="applications-page__content-title">
            Create an application
          </div>
          <div class="applications-page__content-subtitle">
            The Application handles monitoring of your models and can perform A/B traffic splits.
          </div>
        </div>
        <button
          class="applications-page__content-btn"
          hs-button
          kind="flat"
          color="primary"
          (click)="addApplication()"
        >
          create application
        </button>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #wrapper>
  <div
    hsTippy
    [tippyOptions]="{
      content: 'Deployment config required',
      arrow: false,
      theme: 'basic',
      placement: 'bottom'
    }"
  >
    <ng-container *ngTemplateOutlet="button; context: { disable: true }">
    </ng-container>
  </div>
</ng-template>

<ng-template
  #button
  let-disable="disable"
>
    <button
      class="applications-page__button"
      hs-button
      kind="flat"
      color="primary"
      (click)="addApplication()"
      [disabled]="disable"
    >
      create application
    </button>
</ng-template>
