<div class="applications-page">
    <div class="applications-page__sidebar">
    <hs-sidebar
      [sidebarData]="applications$ | async"
      [selectedItem]="selectedApplication$ | async"
      (filtered)="handleFilter($event)"
      (bookmarked)="handleBookmark($event)"
      (clicked)="handleSidebarClick($event)"
      >
      <div class="button">
        <ng-container
          *ngIf="!(isButtonEnabled() | async);
          then wrapper
          else button"
        >
        </ng-container>
      </div>
    </hs-sidebar>
  </div>
  <div class="applications-page__body">
    <router-outlet></router-outlet>
    <div
      *ngIf="!(someModelVersionIsReleased() | async)"
      class="applications-page__message"
    >
      <a
        class="applications-page__message-link"
        href="https://docs.hydrosphere.io/quickstart/getting-started"
        target="_blank"
        >Upload</a
      >
       your first model
    </div>
  </div>
</div>

<ng-template #wrapper>
  <div
    tippy
    [tippyOptions]="{
      content: 'Deployment config required',
      arrow: false,
      theme: 'basic',
      placement: 'bottom'
    }"
  >
    <button
      class="applications-page__button"
      hs-button
      kind="flat"
      color="primary"
      (click)="addApplication()"
      disabled
    >
      create application
    </button>
  </div>
</ng-template>

<ng-template #button>
    <button
      class="applications-page__button"
      hs-button
      kind="flat"
      color="primary"
      (click)="addApplication()"
    >
      create application
    </button>
</ng-template>
