@import 'variables';

.applications-page {
  display: flex;
  overflow: hidden;
  height: 100%;
  &__button {
    width: 100%;
  }
  &__sidebar {
    width: 250px;
    min-width: 250px;
    overflow: auto;
  }
  &__body {
    width: 100%;
    overflow: auto;
  }
  &__message {
    padding: 24px;
    text-align: center;
    font-size: 24px;

    &-link {
      color: $primary-color-700;
    }
  }
}

:host-context(.mr-md) {
  .applications-page {
    &__sidebar-toggler {
      display: none;
    }
  }
}

:host-context(.ls-md) {
  .applications-page {
    &__sidebar {
      left: -250px;
      position: absolute;
      height: 100%;
      z-index: -3;
      transition: all 0.3s ease-in-out;
      &_open {
        left: 0;
        z-index: 3;
      }
    }
  }
}

