@import "variables";

.navigation {
  &__item {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $neutral-color-100;
    opacity: .5;
    cursor: pointer;
    &-icon {
      width: 24px;
      height: 24px;
    }
    &:hover {
      opacity: 1;
    }
  &--active {
    opacity: 1;
  }  
  }
}