@import 'variables';
.header {
  background: #de032c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 8px 0 0;
  height: 72px;
  &__logo {
    position: relative;
    &-link {
      background: white;
      display: inline-block;
      height: 100%;
      width: 200px;
      background: linear-gradient(
        115deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 180px,
        rgba(221, 5, 44, 1) 140px
      );
    }

    &-image {
      cursor: pointer;
      position: absolute;
      height: 68px;
      top: 6px;
      left: 6px;
    }
  }
}
