location /api {
  proxy_pass http://$MANAGER_HOST:$MANAGER_HTTP_PORT;
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Scheme $scheme;
  proxy_set_header Upgrade $http_upgrade;
  proxy_http_version 1.1;
}

location /swagger {
  proxy_pass http://$MANAGER_HOST:$MANAGER_HTTP_PORT;
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Scheme $scheme;
  proxy_set_header Upgrade $http_upgrade;
  proxy_http_version 1.1;
}