location /alerts {
  rewrite /alerts/(.*) /$1  break;
  proxy_pass http://$PROMETHEUS_AM_HOST:$PROMETHEUS_AM_PORT;
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Scheme $scheme;
  proxy_set_header Upgrade $http_upgrade;
  proxy_http_version 1.1;
}
