@import 'variables.scss';

.stage{
    margin-bottom: 20px;
    &__row {
        display: flex;
    }
    &__field {
        display: flex;
        flex-direction: column;
        margin-right: 12px;
        width: 200px;
        &-label {
            font-size: 12px;
            line-height: 12px;
        }
        &-input {
            border: 2px grey solid;
            &:focus {
                border-color: $color--blue;
            }
            &.ng-invalid {
                border-color: tomato;
            }
        }
        &--is-last {
            margin-right: 0;
        }
    }
}