
<div class="dialog">
    <div class="dialog__header">
        <span class="dialog__title">
            Add application
        </span>
        <hydro-icon type="icon-close" class="dialog__close-icon" (click)="close()"></hydro-icon>
    </div>
    <div class="dialog__content">
        <hydro-application-form (onSubmit)="onSubmit($event)" #form></hydro-application-form>
    </div>
    <div class="dialog__footer">
        <div class="buttons">
            <div class="button button--flat" (click)="close()">cancel</div>
            <button 
                class="button button--primary" 
                [disabled]="!form.applicationForm.valid"
                (click)="form.submit()">
                add application
            </button>
        </div>
    </div>
</div>