.form-group {
    display: flex;
}

.hydro-select {
    & .mdl-select .mdl-textfield__input {
        border-radius: 0; 
    }
}

.model {
    display: flex;
    margin-bottom: 16px;
    &__item {
        width: 200px;
        margin-right: 12px;
        &-label {
            font-size: 12px;
            line-height: 22px;
        }
    }
}