<div *ngFor="let service of servicesFormArray.controls;index as i" 
    [formGroup]="service">
    <div formGroupName="model">
        <model-selector [group]='service.controls.model'></model-selector>
    </div>
    <div class="stage__row">
        <div class="stage__field">
            <label class="stage__field-label" [attr.for]="'weight_' + stageIdx">Weight</label>
            <input class="stage__field-input" [attr.id]="'weight_' + stageIdx" type="text" formControlName="weight">
        </div>
        <div class="stage__field" >
            <label class="stage__field-label" [attr.for]="'runtime_' + stageIdx">Runtime</label>
            <input class="stage__field-input" [attr.id]="'runtime_' + stageIdx" type="text" formControlName="runtime">
        </div>
        <div class="stage__field">
            <label class="stage__field-label" [attr.for]="'signature_' + stageIdx">Signature name</label>
            <input class="stage__field-input" [attr.id]="'signature_' + stageIdx" type="text" formControlName="signatureName">
        </div>
        <div class="stage__field stage__field--is-last">
            <label class="stage__field-label" [attr.for]="'environment_' + stageIdx">Environment</label>
            <input class="stage__field-input" [attr.id]="'environment_' + stageIdx" type="text" formControlName="environment">
        </div>
    </div>
</div>