<div class="agg-details">
  <section class="agg-details__sidebar">
    <ng-container *ngIf="checkCollection$ | async as checkCollection">
      <hs-aggregation-details-sidebar
        [checkCollection]="checkCollection"
      ></hs-aggregation-details-sidebar>
      <hs-requests-filter (filterChanged)="onFilterChange($event)">
      </hs-requests-filter>
    </ng-container>
  </section>
  <section class="agg-details__body">
    <hs-requests
      [requests]="checks$ | async"
      (checkClicked)="showDetails($event)"
    ></hs-requests>
  </section>
</div>
