<div class="dialog">
    <p class="application-name">
       <label>Application:</label> "{{applicationName$ | async}}"</p>

    <mdl-tabs mdl-ripple mdl-tab-active-index="0">
        <mdl-tab-panel mdl-tab-panel-title="web">
            <form (ngSubmit)="onSubmit()">
                <div>
                  <div class="test-fields">
                    <div class="test-fields__item __input" *ngIf="input$ | async; let input;">
                      <label>Input</label>
                      <codemirror [ngModel]="input" [config]="inputOptions" name="input" (change)="onChange($event)"></codemirror>
                    </div>
                    <div class="test-fields__item __output">
                      <div class="test-fields__item-header">
                        <label>Output</label>
                        <span *ngIf="testStatus$ | async; let testStatus" class="status">
                          status
                          <span class="status__text status__text--{{testStatus}}">{{testStatus}}</span>
                        </span>
                      </div>
                      <ng-container *ngIf="output$ | async; let output;">
                          <codemirror [ngModel]="output" [config]="outputOptions" name="output"></codemirror>
                      </ng-container>

                      <ng-container *ngIf="(application$ | async).testStatus === 'failed'">
                          <div class="error-container">
                            {{(application$ | async).error}}
                          </div>
                      </ng-container>
                    </div>
                  </div>
                  <div class="buttons">
                    <button class="button button--primary button--test form-button" type="submit" [disabled]="!(isValidInput$ | async)">test app</button>
                  </div>
                </div>
              </form>
        </mdl-tab-panel>
        <mdl-tab-panel>
          <mdl-tab-panel-title>
            <span>cURL</span>
          </mdl-tab-panel-title>
          <mdl-tab-panel-content>
              <div class="curl">
                  <code #curl>
                    {{curl$ | async}}
                  </code>
                  <div class="copy" (click)="copyToClipboard(curl)">
                      <mdl-icon class="copy__button">content_copy</mdl-icon>
                  </div>
              </div>
          </mdl-tab-panel-content>
        </mdl-tab-panel>
        <mdl-tab-panel mdl-tab-panel-title="gRPC">
            <div class="curl">
              <code #grpc>
                  import grpc<br/>
                  import hydro_serving_grpc as hs<br/>
                  channel = grpc.insecure_channel("localhost:8080")<br/>
                  stub = hs.PredictionServiceStub(channel)<br/>
                  model_spec = hs.ModelSpec(name="linear_regression", signature_name="infer")<br/>
                  tensor_shape = hs.TensorShapeProto(dim=[hs.TensorShapeProto.Dim(size=-1), hs.TensorShapeProto.Dim(size=2)])<br/>
                  tensor = hs.TensorProto(dtype=hs.DT_DOUBLE, tensor_shape=tensor_shape, double_val=[1,1,1,1])<br/>
                  result = stub.Predict(request)<br/>
              </code>
              <div class="copy" (click)="copyToClipboard(grpc)">
                  <mdl-icon class="copy__button">content_copy</mdl-icon>
              </div>
            </div>
        </mdl-tab-panel>
    </mdl-tabs>
    <hydro-icon type="icon-close" class="dialog__close-icon" (click)="close()"></hydro-icon>
</div>
