.CodeMirror {
    background-color: #f2f4f7!important;
    &:last-of-type {
      background-color: #f2f4f7;
    }
}

.cm-s-output {
  background-color: #f2f4f7!important;
}

.btn-group {
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 10px;
}

.input {
  &-text {
    &__input {
      font-family: monospace;
    }
  }
}

.test-fields {
  display: flex;
  &__item {
    flex: 1;
    &.__input {
      margin-right: 8px;
    }
    &.__output {
      margin-left: 8px;
    }
  }
}

input {
  padding-right: 65px;
}

.copy-btn {
  position: absolute;
  top: 0;
  right: 0;
}
