@import "variables.scss";

.CodeMirror {
    background-color: #f2f4f7!important;
    &:last-of-type {
      background-color: #f2f4f7;
    }
}

.cm-s-output {
  background-color: #f2f4f7!important;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.form-button {
  margin-right: 8px;
  font-size: 14px;
}

.input {
  &-text {
    &__input {
      font-family: monospace;
    }
  }
}

.code {
  background: #f9f9f9;
  border: 1px grey solid;
  border-radius: 2px;
  font-family: monospace;
  padding: 24px 36px 24px 24px;
  position: relative;
  &--wrap-space {
    white-space: pre-line;
  }
}

.test-fields {
  display: flex;
  margin-bottom: 8px;
  &__item {
    flex: 1;
    margin: 0 4px;
    &-header {
      display: flex;
      justify-content: space-between;
    }
  }
}
.status {
  font-size: 12px;
  width: 90px;
  &__text {
    background: $main-bg-color;
    border-radius: 2px;
    padding: 0 4px;
    &--failed {
      color: $color--failed;
    } 
    &--pending {
      color: $color--pending;
    }
    &--success {
      color: $color--success;
    }
  }
}

.copy {
  border-bottom-left-radius: 2px;
  border-top-right-radius: 2px;
  background: grey;
  cursor: pointer;
  color: white;
  font-size: 16px;
  height: 28px;
  padding: 4px;
  position: absolute;
  right: 0;
  text-align: center;
  top: -1px;
  width: 64px;
  &:hover {
    background: #04143c;
  }
  &__button {
    font-size: 20px;
    color: black;
  }
}


.application-name {
  font-size: 18px;
  &__label {

  }
}

.error-container {
  border: 1px $error-container-border-color solid;
  padding: 4px;
  background: $error-container-background-color;
}