<div class="models-page">
  <div class="models-page__sidebar">
    <hs-sidebar
      [sidebarData]="allModels$ | async"
      (filtered)="handleFilter($event)"
      (bookmarked)="handleToggleFavoriteModel($event)"
      (clicked)="handleSidebarClick($event)"
    ></hs-sidebar>
  </div>
  <div class="models-page__body">
    <router-outlet></router-outlet>
  </div>
  <!-- <div class="models-page__header">
    <div class="models-page__control">
      <label class="models-page__control-label" for="model-name-filter"
        >Model name</label
      >
      <input
        class="models-page__control-input"
        type="text"
        (input)="onChangeFilter($event.target.value)"
        id="model-name-filter"
      />
    </div>
  </div> -->
  <!-- <hs-models
    [favoriteModels]="favoriteModels$ | async"
    [models]="allModels$ | async"
    (toggledFavorite)="handleToggleFavoriteModel($event)"
  ></hs-models> -->
</div>
