@import "variables";

.models-page {
  height: 100%;
  display: flex;

  &__sidebar {
    width: 250px;
    min-width: 250px;
  }

  &__body {
    width: 100%;
    padding: 24px;
    height: calc(100% - 48px);
    overflow: scroll;
    &--zenMode {
      margin: 0 auto;
      min-width: 1100px;
      max-width: 1100px;
    }
  }
}