<div class="models-page">
  <div class="models-page__header">
    <div class="models-page__control">
      <label class="models-page__control-label" for="model-name-filter"
        >Model name</label
      >
      <input
        class="models-page__control-input"
        type="text"
        (input)="onChangeFilter($event.target.value)"
        id="model-name-filter"
      />
    </div>
  </div>
  <hs-models
    [favoriteModels]="favoriteModels$ | async"
    [models]="nonFavoriteModels$ | async"
    (toggledFavorite)="handleToggleFavoriteModel($event)"
  ></hs-models>
</div>
