@import "src/assets/styles/variables";

.container {
  margin-top: 30px;
  background-color: #fdfeff;
  border-radius: 5px;
  padding: 20px;
  width: 740px;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

  &__snippets {
    color: #000;
    font-family: $font-family-mono;
    font-size: 15px;
  }
}
