<div class="reqstore_chart" #wrapper>
  <div class="reqstore_chart__header">
    <div *ngIf="live; else timeBadge">
      <div class="live-badge">
        live
      </div>
    </div>
    <div class="time-interval">
        <label class="time-interval__label">Time interval: </label>
        <mdl-select
          class="time-interval__select"
          label="Chart time window"
          [(ngModel)]="chartTimeWidth"
          (change)="changeTimeBound($event)"
        >
          <mdl-option
            *ngFor="let param of chartTimeWidthParams"
            [value]="param.ms"
            >{{ param.text }}</mdl-option
          >
        </mdl-select>
      </div>
  </div>
  
  <ng-container *ngIf="displayedTime$ | async; else noDataAvailable">
    <svg [attr.width]="canvasWidth" [attr.height]="canvasHeight" #svgContainer>
      <g style="transform:translate(100px, 0)">
        <defs>
          <clipPath id="datasetClipPath">
            <rect x="0" y="0" [attr.width]="mainMapWidth" height="64"></rect>
          </clipPath>
        </defs>
        <g style="transform:translate(-100px, 0)">
          <text
            class="y-title"
            *ngFor="let item of labels; let i = index"
            [attr.y]="8"
            [attr.transform]="getYLabelTranslate(i)"
          >
            {{ item }}
          </text>
        </g>
        <g #dataContainer></g>
        <g hsD3Axis [transform]="xAxisTransform" [scale]="scale"></g>
        <line
          *ngFor="let x of xSublines"
          [attr.x1]="x"
          y1="0"
          [attr.x2]="x"
          [attr.y2]="canvasHeight - 30"
          style="stroke:rgba(38, 39, 41, 0.068);stroke-width:1"
        />
        <line
          *ngFor="let y of ySublines"
          x1="0"
          [attr.y1]="y"
          [attr.x2]="canvasWidth - 120"
          [attr.y2]="y"
          style="stroke:rgba(38, 39, 41, 0.068);stroke-width:1"
        />
        <g #brush style="transform:translate(0, 0)"></g>
      </g>
    </svg>
    <hs-health-timeline-minimap
      [width]="mainMapWidth"
      [fullLog]="fullLog"
      [currentTimeInterval]="brushEnd$ | async"
      (brushEnd)="onMinimapBrushEnd($event)"
      (brushMove)="onMinimapBrushMove($event)"
    >
    </hs-health-timeline-minimap>
  </ng-container>
</div>
<ng-template #timeBadge>
  <div class="selected-time" (click)="zoomOut()">
    {{ (displayedTime$ | async)?.from | utcToLocal }} -
    {{ (displayedTime$ | async)?.to | utcToLocal }}
    <hydro-icon class="button__icon" type="icon-close"></hydro-icon>
  </div>
</ng-template>

<ng-template #noDataAvailable>
  <div class="noDataAvailable">
    No data available
  </div>
</ng-template>
