<div class="mv" *ngIf="modelVersion$ | async; let modelVersion">
  <div
    class="content__header mv__header"
    [ngClass]="{ 'content__header--zen-mode': isZenMode$ | async }"
  >
    <div class="mv__path">
      <span class="mv__path-separator">/</span>
      <span class="mv__path-link" [routerLink]="['../']">{{
        modelVersion.model.name
      }}</span>
      <span class="mv__path-separator">/</span>
      <span>{{ modelVersion.modelVersion }}</span>
    </div>
    <div class="tabs">
      <div
        class="tabs__item"
        [routerLink]="['details']"
        routerLinkActive="tabs__item--is-active"
        queryParamsHandling="merge"
      >
        details
      </div>
      <div
        class="tabs__item"
        [routerLink]="['monitoring']"
        routerLinkActive="tabs__item--is-active"
        queryParamsHandling="merge"
      >
        monitoring
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
