<section class='reqstore'>
    <div class='selector'>
        <div class='selector__item'><span>from:</span> 
            <span> {{ ti?.from | utcToLocal }}</span>
        </div>
        <div class='selector__item'><span>to:</span>
            <span> {{ ti?.to | utcToLocal }}</span>
        </div>
    </div>


    Log {{ log$ | async | json }}
    {{ selectedLogItem | json }}

    <ng-container *ngIf='log$ | async; let log'>
        <div class='log'>
            <div class='log__timestamps'>
                <div class='log__timestamps-title'>Timestamps</div> 
                <div 
                    class='log__timestamps-item'
                    [ngClass]="{'log__timestamps-item--selected': selectedLogItem === logItem.value}"
                    *ngFor="let logItem of log | keyvalue"
                    (click)="selectLogItem(logItem.value)"
                >
                    <span>{{ logItem.key * 1000 | utcToLocal }}</span>
                    <span>
                        <span *ngIf='logItem.value.failed' class='log__timestamps-item-failed-count'>{{ logItem.value.failed }}/</span><span class='log__timestamps-item-count'>{{ logItem.value.count }}</span>
                    </span>
                </div>
            </div>
            <div class='log__details'>
                <div class='log__details-title'> Details </div>
                <div class='log__details-container'>
                    <ng-container *ngIf='selectedLogItem'>
                        <div class='log__details-item' *ngFor='let item of selectedLogItem.entities'>
                            <div 
                                class='metric-data log__details-item-metric-data'
                                [ngClass]="{'metric-data--is-error': item.metricData.health === false}"
                            >
                                {{ item.metricData.name }}
                                {{ item.metricData.value }}
                            </div>
                            <div class='log__details-item-request'>
                                <div class='log__details-item-title'>request</div>
                                inputs:
                                <div *ngFor='let input of item.request.inputs | keyvalue'>
                                    <div>name : {{ input.key }}</div>
                                    <div>val: {{ input.value.doubleVal | json}}</div>
                                </div>
                            </div>
                            <div class='log__details-item-response'>
                                <div class='log__details-item-title'>response</div>
                                <div>outputs</div>
                                {{ item.response | json }}
                                <div *ngFor='let output of item.response.outputs | keyvalue'>
                                        <div>name : {{ output.key }}</div>
                                        <div>val: {{ output.value.doubleVal | json}}</div>
                                    </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #error>
        Something went wrong
    </ng-template>
</section>