<section class='reqstore'>
    <div class='reqstore__options'>
        <div class='reqstore__options-item'>
            Max count message
            <input class='reqstore__options-input' [(ngModel)]="maxMessages">
        </div>
        <div class='reqstore__options-item'>
            Max bytes
            <input class='reqstore__options-input' [(ngModel)]="maxBytes">
        </div>
        <button class='button button--white reqstore__options-button'>update log</button>
    </div>
    <ng-container *ngIf='logData; let log'>
        <div class='log'>
            <div class='log__timestamps'>
                <div class='log__timestamps-title'>Timestamps</div> 
                <div 
                    class='log__timestamps-item'
                    [ngClass]="{'log__timestamps-item--selected': selectedLogItem === logItem.value}"
                    *ngFor="let logItem of log | keyvalue"
                    (click)="selectLogItem(logItem.value)"
                >
                    <span>{{ logItem.key / 1000000 | utcToLocal }}</span>
                    <span>
                        <span *ngIf='logItem.value.failed' class='log__timestamps-item-failed-count'>!</span>
                    </span>
                </div>
            </div>
            <div class='log__details'>
                <div class='log__details-title'> Details </div>
                <div class='log__details-container'>
                    <ng-container *ngIf='selectedLogItem'>
                        <div class='log__details-item'>
                            <div class='metrics log__details-item-metrics'>
                                <div class='metrics__title'>Metrics</div>
                                <div class='metrics__list'>
                                    <div class='metrics__item' *ngFor='let metric of selectedLogItem.metrics | keyvalue'>
                                        <span class='metrics__item-name'>{{ metric.key }}</span>
                                        <span class='metrics__item-value'>{{ metric.value.value }}</span>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class='log__details-item-request'>
                                <div class='log__details-item-title'>request</div>
                                <hs-predict-request [request]='selectedLogItem.request' [modelVersion]='modelVersion'></hs-predict-request>
                            </div>
                            <div class='log__details-item-response'>
                                <div class='log__details-item-title'>response</div>
                                <hs-predict-response [response]='selectedLogItem.response' [modelVersion]='modelVersion'></hs-predict-response>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #error>
        Something went wrong
    </ng-template>
</section>