.reqstore {
    &__options {
        font-size: 8px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: grey;
        display: flex;
        align-items: center;
        margin-bottom: 4px;
        &-item {
            margin-right: 8px;
        }
        &-input {
            border: 1px #9c9c9c solid;
            line-height: 12px;
            text-align: right;
            width: 35px;
            padding: 2px;
        }
        &-button {
            font-size: 8px;
            padding: 4px;
        }
    }
}

.selector {
    display: flex;
    padding: 8px;
    flex-wrap: wrap;
    align-items: center;
    &__title {
        width: 100%;
        color: rgba(80, 77, 117, 0.582);
    }
    &__item {
        margin-right: 8px;
    }
}

.log {
    display: flex;
    overflow: hidden;
    width: 100%;
    &__timestamps {
        min-width: 240px;
        background: #f9f9f9;
        max-height: 400px;
        overflow: scroll;
        font-size: 12px;
        &-title {
            padding: 8px;
            font-weight: bold;
            color: #8d93a7;
        }
        &-item {
            padding: 4px 12px;
            display: flex;
            justify-content: space-between;
            transition: .3s color ease;
            cursor: pointer;
            color: lightgray;
            &-count, &-failed-count {
                color: #3024809c;
            }
            &-failed-count {
                color: #ff4141;
            }
            &--selected, &:hover {
                background: white;
                color: rgb(37, 37, 37);
            }
        }
    }
    &__details {
        width: 100%;
        max-width: 100%;
        overflow: scroll;
        max-height: 400px;
        background: white;
        font-size:12px;
        &-title {
            padding: 8px 24px;
            font-weight: bold;
            color: #8d93a7;
        }
        &-container {
            padding: 0px 24px;
        }
        &-item {
            margin-bottom: 8px;
            &-request, &-response, &-metrics {
                margin-bottom: 8px;
            }
            &-title {
                color: rgb(100, 100, 100);
                text-transform: uppercase;
            }
        }
    }
}

.chart {
    max-width: 768px;
    max-height: 400px;
}

.metrics {
    &__title {
        color: #646464;
        text-transform: uppercase;
    }
    &__list {
        margin-left: 8px;
    }
    &__item {
        &-name {
            color: grey;
            margin-right: 8px;
        }
    }
}

.time-interval {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    justify-content: flex-start;
    padding-right: 14px;
    &__label {
        line-height: 14px;
        margin-right: 4px;
    }
}