@import 'variables';

.log {
  margin-bottom: 12px;
  background: white;
  border-radius: 4px;
  border: 1px $neutral-color-200 solid;
  position: relative;
  &__loader {
    color: $primary-color-800;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ffffffb5;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    &-icon {
      width: 24px;
      height: 24px;
    }
  }
  &__body {
    display: flex;
  }
  &__ids {
    list-style: none;
    margin: 0;
    padding: 0;
    background: $neutral-color-100;

    &-item {
      padding: 8px 12px;
      color: $neutral-color-800;
      cursor: pointer;
      font-family: $font-family-light;
      font-size: 12px;
      opacity: .7;

      &:hover {
        opacity: 1;
      }

      &--selected {
        opacity: 1;
        background: white;
      }

      &--failed {
        color: $supportive-color-red-800;
      }
    }
  }

  &__detailed {
    padding: 8px 12px;
    width: 910px;
  }

  &__message {
    width: 100%;
    padding: 12px 0;
    text-align: center;
    color: $neutral-color-600;
    font-family: $font-family-light;
  }
}