<div>
    <h1 class="mdl-dialog__title mat-dialog-title">Deploy "{{model?.source}}"</h1>
    <hydro-model-details-summary [model]="model" [isDeployable]="false" [isModelService]="false"></hydro-model-details-summary>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col cs-text-right">
      <button (click)="dialogRef.hide()" type="button" mdl-button class='mat-button mat-button--big'>CANCEL</button>
      <button (click)="submitDeployModelForm()" type="submit" mdl-button class='mat-button mat-button--big mat-button--primary'
              mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Deploy version
      </button>
    </div>
  </div>
</div>
