@import 'variables';

.expander {
  overflow: hidden;
  position: relative;
  &__button {
    text-align: center;
    line-height: 24px;
    background: $neutral-color-100;
    color: $neutral-color-500;
    letter-spacing: 1px;
    font-weight: $font-family-bold;
    cursor: pointer;
    &:hover {
      color:$neutral-color-600;
    }

    &-icon {
      display: inline-block;
      height: 18px;
      width: 18px;
      &--rotate {
        transform-origin: 10px 12px;
        transform: rotate(180deg);
      }
    }
  }
}