<div class="applications-page">
  <div class="applications-page__sidebar">
    <hs-sidebar
      [sidebarData]="applications$ | async"
      [selectedItem]="selectedApplication$ | async"
      (filtered)="handleFilter($event)"
      (bookmarked)="handleBookmark($event)"
      (clicked)="handleSidebarClick($event)"
      ><button
        class="applications-page__button"
        hs-button
        kind="flat"
        color="primary"
        (click)="addApplication()"
        [disabled]="!(someModelVersionIsReleased$ | async)"
      >
        create application
      </button></hs-sidebar
    >
  </div>
  <div class="applications-page__body">
    <router-outlet></router-outlet>
    <div
      *ngIf="!(someModelVersionIsReleased$ | async)"
      class="applications-page__message"
    >
      <a
        class="applications-page__message-link"
        href="https://hydrosphere.io/serving-docs/latest/tutorials/index.html#serving-the-model"
        target="_blank"
        >Upload</a
      >
      first model
    </div>
  </div>
</div>