@import "variables";
.app {
  height: 100%;
  width: 100%;
  overflow: hidden;
  &__header {
    background: $primary-color-900;
    height: 72px;
  }
  &__body {
    height: 100%;
    overflow: scroll;
    width: 100%;
  }
}