@import "variables";

.app {
  height: 100%;
  width: 100%;
  &__header {
    background: $primary-color-900;
  }
  &__body {
    display: flex;
    height: 100%;
  }
  &__navigation {
    width: 48px;
    background: $primary-color-900;
  }
  &__main {
    width: 100%;
    padding: 24px;
  }
}