@import "variables";
.app {
  height: 100%;
  width: 100%;
  &__header {
    background: $primary-color-900;
    height: 48px;
  }
  &__main {
    height: 100%;
    overflow: scroll;
    width: 100%;
  }
}