<div class="models">
  <div class="model" *ngFor="let model of favoriteModels" [routerLink]="[model.id]">
    <div class="model__name">{{ model.name }}</div>
    <div class="model__versions">
      <div class="model__versions-count">6</div>
      <span class="model__versions-text">versions</span>
    </div>
    <div
      class="model__favorite-icon"
      (click)="toggleFavorite(model)"
      [ngClass]="{ 'model__favorite-icon--selected': model.favorite }"
    ></div>
  </div>
</div>
<div class="models__separator"></div>
<div class="models">
  <div class="model" *ngFor="let model of models" [routerLink]="[model.id]">
    <div class="model__name">{{ model.name }}</div>
    <div class="model__versions">
      <div class="model__versions-count">6</div>
      <span class="model__versions-text">versions</span>
    </div>
    <div
      class="model__favorite-icon"
      (click)="toggleFavorite(model)"
      [ngClass]="{ 'model__favorite-icon--selected': model.favorite }"
    ></div>
  </div>
</div>
