<div class="app-header">
  <hydro-icon
    *ngIf="canLoadOlder"
    (click)="onLoadOlder()"
    class="app-header__icon"
    type="next"
  >
  </hydro-icon>
  <div class="app-header__range">
    <div>
      <span>{{ aggregationList.dateFrom | hsFormatDate }}</span> -
      <span>{{ aggregationList.dateTo | hsFormatDate }}</span>
    </div>
  </div>
  <hydro-icon
    *ngIf="canLoadNewer"
    (click)="onLoadNewer()"
    class="app-header__icon app-header__icon--rotated"
    type="next"
  >
  </hydro-icon>
</div>
