<ng-template #addButton>
  <button
    hs-button
    kind="stroked"
    color="primary"
    class="add-application__button"
    (click)="addApplication($event)"
    title="Add new app"
  >
    add new application
  </button>
</ng-template>

<div class="content-wrapper">
  <hydro-sidebar
    class="sidebar"
    [sidebarData]="applications"
    [actionButton]="addButton"
    [isApplications]="true"
    [isFilterEnabled]="true"
  ></hydro-sidebar>
  <div [@anim]="prepare(out)" class="container">
    <router-outlet #out="outlet"></router-outlet>
  </div>
</div>
