<ng-template #addButton>
  <button
    class="button button--white add-application__button"
    (click)="addApplication($event)"
    title="Add new app"
  >
    <hydro-icon
      class="button__icon add-application__icon"
      [type]="'icon-plus'"
    ></hydro-icon>
    add new application
  </button>
</ng-template>

<div class="content-wrapper">
  <hydro-sidebar
    class="sidebar"
    [sidebarData]="applications"
    [actionButton]="addButton"
    [isApplications]="true"
    [isFilterEnabled]="true"
  ></hydro-sidebar>
  <div [@anim]="prepare(out)" class="container">
    <router-outlet #out="outlet"></router-outlet>
  </div>
</div>
