<ng-template #addButton>
    <button class="button button--secondary" (click)="addApplication($event)" title="Add new app">
        <hydro-icon class="button__icon" [type]="'icon-plus'"></hydro-icon>
        add new
    </button>
</ng-template>

<div class="content-wrapper">
    <hydro-sidebar 
        [sidebarData]="applications" 
        [sidebarTitle]="sidebarTitle" 
        [actionButton]="addButton" 
        [isFilterEnabled]="true"></hydro-sidebar>
    <router-outlet></router-outlet>
</div>
