@import "variables";

:host {
  width: 100%;
  display: flex;
}

.application-wrapper {
  &__alert-message {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $neutral-color-600;
    font-size: 24px;
    &-link {
      color: $primary-color-500;
      margin-right: 4px;
    }
  }
}

.add-application {
  &__button {
    margin-bottom: 16px;
    width: 100%;
  }
}