<!-- <div class='services-list__row services-list__row--big'>
  <div class='services-list__header'>
    <div class="mdl-grid cs-align-center cs-mt-8 cs-mb-16 cs-text-right">
      <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet cs-text-left">
        <span class='h3'>{{service?.serviceName}}</span>
      </div>
      <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
        <mdl-button (click)="testService(service)"
                    class="mist-button blue border icon"
                    title="Test service"
                    mdl-colored="">
          Test
        </mdl-button>
        <mdl-button (click)="editService(service)"
                    class="mist-button blue border icon"
                    title="Edit service"
                    mdl-colored="">
          Edit
        </mdl-button>
      </div>
    </div>
  </div>
</div> -->

<hydro-content-header [contentHeaderTitle]="service?.serviceName" [isActionsEnabled]="true"></hydro-content-header>

<hydro-table [tableHeader]="tableHeader" [tableData]="tableData" ></hydro-table>

<!-- <table class='services-list-table mdl-data-table mdl-js-data-table mdl-shadow--2dp'>
  <thead>
  <tr>
    <th>Model Name</th>
    <th>Model Source</th>
    <th>Model Version</th>
    <th>Model Created Date</th>
    <th>Model Status</th>
    <th>Weight</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let serviceModel of serviceModels" class='services-list-table__tr cs-cursor-pointer'>
      <td class="services-list-table__td"><div class='cs-text-overflow-ellipsis'>{{serviceModel.data.serviceName}}</div></td>
      <td class="services-list-table__td"><div class='cs-text-overflow-ellipsis'>{{serviceModel.data.modelRuntime.source}}</div></td>
      <td class="services-list-table__td"><div class='cs-text-overflow-ellipsis'>{{serviceModel.data.modelRuntime.modelVersion}}</div></td>
      <td class="services-list-table__td"><div class='cs-text-overflow-ellipsis'>{{serviceModel.data.modelRuntime.created}}</div></td>
      <td class="services-list-table__td"><div class='cs-text-overflow-ellipsis' [ngClass]="serviceModel.data.status === 'running' ? '__success' : ''">{{serviceModel.data.status}}</div></td>
      <td class="services-list-table__td"><div class='cs-text-overflow-ellipsis'>{{serviceModel.weight}}</div></td>
    </tr>
  </tbody>
</table> -->