<div class="content">
    <div class="content-header">
        <div class="content-header__title">{{title}}</div>
        <div class="btn-group">
            <button class="btn" *ngIf="isService" (click)="testApp(service)">
                <svg>
                    <use xlink:href="#icon-start"></use>
                </svg>
                Test
            </button>
            <button class="btn btn-flat" (click)="editService(service)">
                <svg>
                    <use xlink:href="#icon-edit"></use>
                </svg>
                Edit
            </button>
            <button class="btn btn-flat" (click)="removeService(service.id)">
                <svg>
                    <use xlink:href="#icon-remove"></use>
                </svg>
                remove
            </button>
        </div>
    </div>

    <div class="content-info">
        <ol class="content-info__sublist">
            <li class="content-info__sublist-item">
                <span class="content-info__sublist-item-title">PublicPath</span>
                <span class="content-info__sublist-item-value">{{path}}</span>
            </li>
        </ol>

        <ul class="content-info__list" *ngIf="service?.kafkaStreamingSources[0]">
            <li class="content-info__list-item" *ngFor="let kafka of service.kafkaStreamingSources">
                <ol class="content-info__sublist">
                    <li class="content-info__sublist-item" *ngFor="let item of kafka | iterateAsArray | slice: 1">
                        <span class="content-info__sublist-item-title">{{item}}</span>
                        <span class="content-info__sublist-item-value">{{kafka[item]}}</span>
                    </li>
                </ol>
            </li>
        </ul>
    </div>

    <table *ngIf="isService" class='hydro-table hydro-table-services'>
        <thead class="hydro-table-head">
            <tr>
                <th class="hydro-table-head__cell" *ngFor="let headCell of tableHeader">{{headCell}}</th>
            </tr>
        </thead>
        <tbody class="hydro-table-body">
            <tr *ngFor="let item of serviceModelsFiltered" class='hydro-table-body__row'>
                <td class="hydro-table-body__cell"><div class='cs-text-size-18 cs-text-bold cs-text-overflow-ellipsis'>{{item.data.modelRuntime.modelName}}</div></td>
                <td class="hydro-table-body__cell"><div class='cs-text-overflow-ellipsis'>{{item.data.modelRuntime.modelVersion}}</div></td>
                <td class="hydro-table-body__cell"><div class='cs-text-size-12 cs-text-overflow-ellipsis'>{{item.data.modelRuntime.created | utcToLocal | date:'medium'}}</div></td>
                <td class="hydro-table-body__cell"><div class='cs-text-size-24 cs-text-bold cs-text-overflow-ellipsis'>{{item.weight}}%</div></td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="!isService">
        <div class="hydro-panel" *ngFor="let stage of service.stages; let i = index">
            <h5 class="hydro-panel__header">Stage {{i + 1}}</h5>
            <table class='hydro-table hydro-table-models'>
                <thead class="hydro-table-head">
                    <tr>
                        <th class="hydro-table-head__cell">Model</th>
                        <th class="hydro-table-head__cell">Version</th>
                        <th class="hydro-table-head__cell">Weight</th>
                        <th class="hydro-table-head__cell">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of stage" class='hydro-table-body__row'>
                        <td class="hydro-table-body__cell">
                            <div class='cs-text-size-18 cs-text-bold cs-text-overflow-ellipsis'>
                                {{item.service.modelRuntime.modelName}}
                            </div>
                        </td>
                        <td class="hydro-table-body__cell">
                            <div class='cs-text-overflow-ellipsis'>{{item.service.modelRuntime.modelVersion}}</div>
                        </td>
                        <td class="hydro-table-body__cell">
                            <div class='cs-text-size-24 cs-text-bold cs-text-overflow-ellipsis'>{{item.weight}}%</div>
                        </td>
                        <td class="hydro-table-body__cell actions">
                            <div fxLayout="row" fxLayoutAlign="space-between center" class="">
                                <div class="">
                                    <a (click)="testApp(item.service)" title='Test' class="hydro-link mdl-color-text--blue-800">
                                        <span class="action">
                                            <svg class="icon"><use xlink:href="#icon-start" /></svg>
                                            <span class="icon-label">TEST</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <div *ngFor="let stage of service.stages" class='hydro-table-body__row'>
            <div class="hydro-table-body__cell cs-flex cs-flex-space-between">
                <div *ngFor="let item of stage">
                    <div class='cs-text-size-18 cs-text-bold cs-text-overflow-ellipsis'>
                        {{item.service.modelRuntime.modelName}}
                    </div>
                    <div class='cs-text-overflow-ellipsis'>{{item.service.modelRuntime.modelVersion}}</div>
                    <div class='cs-text-size-24 cs-text-bold cs-text-overflow-ellipsis'>{{item.weight}}%</div>
                </div>
            </div>
            <div class="hydro-table-body__cell cs-flex cs-flex-space-between">
                <div class="cs-flex cs-flex-column">
                    <hydro-textarea [readonly]="true" [label]="'Input'" [ngModel]="JSON.stringify(stage[0].service.modelRuntime.inputFields, null, '\t')"></hydro-textarea>
                </div>
                <div class="cs-flex cs-flex-column">
                    <hydro-textarea [readonly]="true" [label]="'Output'" [ngModel]="JSON.stringify(stage[0].service.modelRuntime.outputFields, null, '\t')"></hydro-textarea>
                </div>
            </div>
        </div> -->
    </div>

</div>