<div class="content">
    <div class="content-header">
        <button class="btn btn-flat" [routerLink]="['../']">
            <svg>
                <use xlink:href="#icon-arrow-left" />
            </svg>
            back to application
        </button>

        <div class="content-header__title">{{ (application$ | async)?.name }}</div>
    </div>


    <div class="content-body">
        <div #chartContainer>
            <div [attr.data-chart]="chart" *ngFor="let chart of chartNames; let i = index"></div>
            <!-- <div #chart></div> -->
        </div>
    </div>
</div>