<div class="content">
    <div class="content-header">
        <div>
            <button class="button button--flat" [routerLink]="['../']">
                <hydro-icon class="button__icon" [type]="'icon-left'"></hydro-icon>
                back to application
            </button>

            <div class="content-header__title">{{ (application$ | async)?.name }} / s{{(stageId | toNumber) + 1}}</div>
        </div>

        <div class="actions" *ngIf="isMonitoringAvailable">
            <mdl-select class="parameters-list__item--model actions__time-select" label="Chart time window" [(ngModel)]="chartTimeWidth">
                <mdl-option *ngFor="let param of chartTimeWidthParams" [value]="param.ms">{{ param.text }}</mdl-option>
            </mdl-select>
            <button class="button button--primary" (click)="addMetric($event)" title="Add new app">
                <hydro-icon class="button__icon" [type]="'icon-plus'"></hydro-icon>
                add metric
            </button>
        </div>
    </div>


    <div class="content-body">
        <div *ngIf="!isMonitoringAvailable" class="unavailable-message">
            Monitoring service is unavailable
        </div>
    </div>
    <div *ngIf="chartsData">
        <div *ngFor="let chartKey of objectKeys(chartsData)">
            <hydro-application-chart [chartTimeWidth]="chartTimeWidth" [chartData]="chartsData[chartKey]" (delete)="deleteMetric($event)" [stage]="stage"></hydro-application-chart>
        </div>
    </div>
</div>