<div class="content">
    <div class="content-header">
        <div>
            <button class="btn btn-flat" [routerLink]="['../']" style="padding: 0;margin: 12px 0;">
                <svg>
                    <use xlink:href="#icon-arrow-left" />
                </svg>
                back to application
            </button>

            <div class="content-header__title">{{ (application$ | async)?.name }} / s{{(stageId | toNumber) + 1}}</div>
        </div>

        <div class="btn-group" *ngIf="isMonitoringAvailable">
            <mdl-select class="parameters-list__item--model" label="Chart time window" [(ngModel)]="chartTimeWidth">
                <mdl-option *ngFor="let param of chartTimeWidthParams" [value]="param.ms">{{ param.text }}</mdl-option>
            </mdl-select>
            <button class="btn" (click)="addMetric($event)" title="Add new app">
                <svg>
                    <use xlink:href="#icon-plus"></use>
                </svg>
                add metric
            </button>
        </div>
    </div>


    <div class="content-body">
        <div *ngIf="!isMonitoringAvailable" class="unavailable-message">
            Monitoring service is unavailable
        </div>
        <div #chartContainer>
            <div [attr.data-chart]="chart" *ngFor="let chart of chartNames; let i = index"></div>
        </div>
    </div>
</div>