@import "variables";

.metric {
  background: white;
  height: 150px;
  width: calc((100% / 2) - 12px);
  margin-bottom: 12px;
  display: inline-flex;
  margin-right: 12px;
  border: 2px $neutral-color-200 solid;
  border-radius: 5px;

  &:hover {
    border-color: $neutral-color-300;
  }

  &__information {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
  }

  &__actions {
    width: 40px;
    border-left: 1px solid $neutral-color-200;
    display: flex;
    flex-direction: column;
  }

  &__action {
    height: 100%;
    border-bottom: 1px solid $neutral-color-200;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s ease all;

    &-icon {
      width: 16px;
      height: 16px;
      margin: 0;
      color: $neutral-color-600;
    }

    &--last {
      border: none;
    }

    &:hover {
      background: $neutral-color-100;
    }

    &:hover &-icon {
      color: $neutral-color-800;
    }
  }

  &__name {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    color: $neutral-color-800;
    margin: 0;
  }

  &__id {
    font-size: 8px;
    color: $neutral-color-600;
    font-family: $font-family-light;
  }

  &__health {
    margin-top: auto;
    display: flex;
    justify-content: space-between;

    &-key {
      font-size: 12px;
      text-transform: capitalize;
      letter-spacing: 1px;
      font-weight: 100;
      line-height: 16px;
      color: $neutral-color-800;
    }

    &-value {
      font-size: 12px;
      color: $neutral-color-500;
      letter-spacing: 1px;
      line-height: 16px;
    }
  }

  &__config {
    &-item {
      display: flex;
      justify-content: space-between;
    }

    &-key {
      font-size: 12px;
      text-transform: capitalize;
      letter-spacing: 1px;
      font-weight: 100;
      line-height: 16px;
      color: $neutral-color-800;
    }

    &-value {
      font-size: 12px;
      color: $neutral-color-500;
      letter-spacing: 1px;
      line-height: 16px;
    }
  }
}