<div class="content">
    <div class="content-header">
        <button class="btn btn-flat" [routerLink]="['../']">
            <svg>
                <use xlink:href="#icon-arrow-left" />
            </svg>
            back to model
        </button>

        <div class="content-header__title">{{ build?.model?.source }} / v{{ build?.version }}</div>
    </div>


    <div class="content-body">
        <ol class="content-info__sublist">
            <li class="content-info__sublist-item">
                <span class="content-info__sublist-item-title">Created</span>
                <span class="content-info__sublist-item-value">
                    <div class="status">{{ build?.finished | utcToLocal | amTimeAgo }}</div>
                </span>
            </li>
            <li class="content-info__sublist-item">
                <span class="content-info__sublist-item-title">Version</span>
                <span class="content-info__sublist-item-value">
                    <div class="status">{{ build?.version }}</div>
                    <div class="status-label" *ngIf="data?.nextVersion">New version available</div>
                </span>
            </li>
            <li class="content-info__sublist-item">
                <span class="content-info__sublist-item-title">Status</span>
                <span class="content-info__sublist-item-value">
                    <div class="status">{{ build?.status }}</div>
                </span>
            </li>
        </ol>
        <hydro-signatures [data]="build"></hydro-signatures>
    </div>
</div>