<div class='services-list__row services-list__row--big'>
  <div class='services-list__header'>
    <div class="mdl-grid cs-align-center cs-mt-8 cs-mb-16 cs-text-right">
      <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet cs-text-left model-name">
        <span class='h3'>{{model?.name}}</span>
      </div>
      <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet" *ngIf="deployable">
        <mdl-button (click)="buildModel(model)" class="mist-button blue border icon" title="Add new endpoint" mdl-colored="">
          Deploy
        </mdl-button>
      </div>
    </div>
  </div>
</div>
<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet cs-text-left">
<p *ngIf="model?.lastModelRuntime?.modelVersion" >Model version: {{ model?.lastModelRuntime?.modelVersion }}</p>
<p class="mdl-color-text--green-700" *ngIf="deployable">New version available</p>
<p>Runtime: {{ model?.runtimeType?.name }}</p>
<p>Tags: {{model?.runtimeType?.tags.join(", ") }} </p>
<p>Input: {{ model?.inputFields }}</p>
<p>Output: {{ model?.outputFields.join(", ") }}</p>
</div>
<h5 class="model-grid-header">Versions</h5>
<table class='models-list-table mdl-data-table mdl-js-data-table'>
  <thead>
    <tr>
      <th>Created</th>
      <th>Vesion</th>
      <th>Status</th>
      <th>Actions</th>
      <th>Services</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let runtime of runtimes" class='models-list-table__tr cs-cursor-pointer'>
      <td class="models-list-table__td name">
        <div class='cs-text-overflow-ellipsis'>{{runtime?.created | utcToLocal | amTimeAgo}}</div>
      </td>
      <td class="models-list-table__td name">
        <div class='cs-text-overflow-ellipsis'>{{runtime?.modelVersion}}</div>
      </td>
      <td class="models-list-table__td name">
        <div class='cs-text-overflow-ellipsis' [ngClass]="{
          'mdl-color-text--green-700': getModelService(runtime.id),
          'mdl-color-text--red-700': !getModelService(runtime.id)
          }">{{getModelService(runtime.id) ? 'DEPLOYED' : 'UNDEPLOYED'}}</div>
      </td>
      <td class='cs-text-overflow-ellipsis'>
        <div fxLayout="row" fxLayoutAlign="space-between center"  class="">
          <div class="">
            <a *ngIf="!getModelService(runtime.id)" title="Deploy" (click)="deployModelService(getPayloadForModelDeploy(runtime))" class="hydro-link mdl-color-text--grey-700">
              <mdl-icon>cloud_upload</mdl-icon>
            </a>
            <a *ngIf="getModelService(runtime.id)" class="hydro-link mdl-color-text--grey-700" (click)="stopModel(getModelService(runtime.id), getWeightedServices(runtime.id))" title="Stop">
              <mdl-icon>not_interested</mdl-icon>
            </a>
            <a *ngIf="getModelService(runtime.id)" (click)="testModel(getModelService(runtime.id))" title='Test' class="hydro-link mdl-color-text--blue-800">
              <mdl-icon>play_circle_outline</mdl-icon>
            </a>
        </div>
        </div>
      </td>
      <td><div *ngIf="this.weightedServices && this.weightedServices.length > 0" class="cs-text-overflow-ellipsis"><a *ngFor="let weightedService of getWeightedServices(runtime.id)" [routerLink]="['/services', weightedService.id]">{{  weightedService.serviceName }}</a></div></td>
    </tr>
  </tbody>
</table>
