
<div class="dialog">
        <div class="dialog__content dialog__content--withFooter">
            <hydro-application-form (onSubmit)="onSubmit($event)" [data]="data" #form></hydro-application-form>
        </div>
        <div class="dialog__footer">
            <div class="buttons-group">
                <div class="button button--flat button--large" (click)="close()">cancel</div>
                <button 
                    class="button button--primary button--large" 
                    [disabled]="!form.applicationForm.valid"
                    (click)="form.submit()">
                    edit application
                </button>
            </div>
        </div>
    </div>