<div class='services-list__row services-list__row--big'>
  <div class='services-list__header'>
    <div class="mdl-grid cs-align-center cs-mt-8 cs-mb-16 cs-text-right">
      <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet cs-text-left">
        <span class='h3'>{{service?.serviceName}}</span>
      </div>
      <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
        <mdl-button (click)="editService(service?.id)"
                    class="mist-button blue border icon"
                    title="Edit service"
                    mdl-colored="">
          Edit
        </mdl-button>
      </div>
    </div>
  </div>
</div>
<table class='services-list-table mdl-data-table mdl-js-data-table mdl-shadow--2dp'>
  <thead>
  <tr>
    <th>ServiceName</th>
    <th>ModelSource</th>
    <th>ModelVersion</th>
    <th>ModelCreateDate</th>
    <th>ModelStatus</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let serviceModel of serviceModels" class='services-list-table__tr cs-cursor-pointer'>
      <td class="services-list-table__td id"><div class='cs-text-overflow-ellipsis'>{{serviceModel.serviceName}}</div></td>
      <td class="services-list-table__td name"><div class='cs-text-overflow-ellipsis'>{{serviceModel.modelRuntime.source}}</div></td>
      <td class="services-list-table__td name"><div class='cs-text-overflow-ellipsis'>{{serviceModel.modelRuntime.modelVersion}}</div></td>
      <td class="services-list-table__td name"><div class='cs-text-overflow-ellipsis'>{{serviceModel.modelRuntime.created}}</div></td>
      <td class="services-list-table__td name"><div class='cs-text-overflow-ellipsis'>{{serviceModel.status}}</div></td>
    </tr>
  </tbody>
</table>