<div class="scatter-plot" #container>
  <svg [attr.width]="chartWidth" [attr.height]="chartHeight">
    <g
      hsD3Axis
      [scale]="yScale"
      position="left"
      [attr.transform]="yAxisTranslate"
    ></g>
    <g hsD3Axis [scale]="xScale" [attr.transform]="xAxisTranslate"></g>
    <rect
      class="scatter-plot__layout"
      [attr.width]="viewWidth"
      [attr.height]="viewHeight"
      [attr.transform]="dataTranslate"
      #layout
    ></rect>
    <g [attr.transform]="dataTranslate" class="scatter-plot__links"></g>
    <g [attr.transform]="dataTranslate">
      <circle
        *ngFor="let point of points; index as i"
        class="scatter-plot__point"
        r="6"
        [attr.data-point-idx]="i"
        [attr.transform]="point.translate"
        [attr.fill]="point.color"
        [ngStyle]="{'opacity': point.opacity}"
        [ngClass]="{
          'scatter-plot__point--selected': i === (selectedPointIdx$ | async)
        }"
        (click)="selectedPointIndex.next(i)"
        (mouseenter)="hoveredPointIndex.next(i)"
        (mouseleave)="hoveredPointIndex.next(undefined)"
      />
    </g>
  </svg>
  <div *ngIf="colorizer" class="scatter-plot__legend">
    <hs-scatter-plot-legend [colorizer]="colorizer"></hs-scatter-plot-legend>
  </div>
</div>
