<div class="scatter-plot">
  <svg
    [attr.width]="chartWidth"
    [attr.height]="chartHeight"
    #svgContainer
    *ngIf="data; else noData"
  >
    <g
      hsD3Axis
      [scale]="yScale"
      position="left"
      [attr.transform]="yAxisTranslate"
    ></g>
    <g hsD3Axis [scale]="xScale" [attr.transform]="xAxisTranslate"></g>
    <rect
      class="scatter-plot__layout"
      [attr.width]="viewWidth"
      [attr.height]="viewHeight"
      [attr.transform]="dataTranslate"
    ></rect>
    <g [attr.transform]="dataTranslate">
      <circle
        *ngFor="let point of points; index as i"
        class="scatter-plot__point"
        [ngClass]="{
          'scatter-plot__point--hide': hidePoint(i),
          'scatter-plot__point--selected': i === selectedIndex
        }"
        r="6"
        [attr.fill]="pointColor(i)"
        [attr.transform]="translatePoint(point)"
        (click)="onSelectPoint(i)"
      />
    </g>
  </svg>
</div>
<ng-template #noData>no data</ng-template>
