@import "variables.scss";

.scatter-plot {
  width: 100%;
  &__layout {
    fill: white;
  }
  &__point {
    opacity: .9;
    transition: .2s ease all;

    &:hover {
      opacity: 1;
    }
    &--hide {
      opacity: 0.2;
    }
    &--selected {
      opacity: 1;
      stroke: $accent-color-700;
      stroke-width: 2px;
    }
  }
}
