@import "variables.scss";

:host {
    width: 100%;
    display: flex;
}

.page-not-found {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    &__error {
        font-size: 8rem;
        line-height: 8rem;
        color:$color--light-blue;
    }
    &__text {
        font-size: 2rem;
    }
}