.navigation-row {
  background-color: #152959;
  justify-content: center;

  .mdl-navigation__link {
    font-size: 18pt;
    color: #475f9e;
    &.disabled {
      pointer-events: none;
      cursor: default;
    }
  }

  .is-active {
    position: relative;
    color: #f2f2f2;
    &:after {
      content: '';
      width: 100%;
      height: 2px;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #f1e7e7;
    }
  }
}

.mist-logo {
  display: inline-block;
}
