@import "variables";

.build-info {
  &__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    color: $neutral-color-1000;
    margin-bottom: 24px;
  }

  &__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
  }

  &__data {
    display: flex;
    justify-content: flex-start;

    &-version,
    &-commit {
      color: $neutral-color-700;
    }
    &-version {
      margin-right: 20px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
  }
}


.service {
  display: flex;
  justify-content: space-around;
  width: 49%;
  margin-bottom: 2%;
  border-top: 3px solid #73aae0;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
  }

  &__chip {
    background-color: $primary-color-100;
  }

  &__title {
    color: $neutral-color-1000;
    text-transform: uppercase;
    font-family: $font-family-bold;
  }

  &__icons {
    flex-grow: 0.16;
  }

  &__icon {
    width: 22px;
    height: 22px;

    &--available {
      color: $supportive-color-green-600;
    }

    &--failed {
      color: $supportive-color-red-600;
    }

    &--unknown {
      color: $primary-color-500;
    }
  }

  &__text {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #000;
    padding: 5px 16px;

    &-key {
      font-family: $font-family-medium;
      color: $neutral-color-900;
    }

    &-commit {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    height: 45px;
    padding: 0 12px;
    margin: 15px 0 5px;

    mdl-chip {
      margin-right: 12px;
    }
  }
}
