
.signatures {
  border: 2px solid #e6e9ed;
  min-width: 560px;
  padding: 12px 24px;
  &__title {
    text-transform: uppercase;
    line-height: 48px;
  }
}

.signature {
  &__name {
    border-bottom: 1px #e6e9ed solid;
    display: inline-block;
    font-size: 14px;
    line-height: 48px;
    padding: 0px 24px;
    width: 100%;
  }

  &__data {
    padding: 12px 24px;
    &-label {
      text-transform: uppercase;
      color: #abafb2;
    }
    &-row {
      display: flex;
    }
    &-cell {
      display: inline-block;
      font-size: 13px;
      line-height: 36px;
      width: 100%
    }
  }
}
