@import 'variables.scss';

.signatures {
  &__title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    padding: 0;
    margin: 0;
  }
}

.signature {
  margin-bottom: 12px;
  &__name {
    border-bottom: 1px #e6e9ed solid;
    display: inline-block;
    font-size: 16px;
    line-height: 44px;
    margin-bottom: 4px;
    padding: 0px;
    margin: 0;
    width: 100%;
  }
}

.fields-table {
  width: 100%;
  font-size: 14px;
  &__row {
    line-height: 28px;
    &--labels {
      text-transform: uppercase;
      font-size: 12px;
      font-family: $font-family-light;
      color: $neutral-text-color;
    }
  }
  &__cell {
    padding: 0 4px; 
  }
}

.shape {
  &--anyType {
    border-bottom: 2px black dotted;
    cursor: default;
  }
}