<div class="signatures">
  <div class="signature">
    <h6 class="signature__name">
      {{ signature.signatureName }}
    </h6>

    <table class="fields-table">
      <tr class="fields-table__row fields-table__row--labels">
        <td class="fields-table__cell">input_field_name</td>
        <td class="fields-table__cell">input_data_type</td>
        <td class="fields-table__cell">input_shape</td>
      </tr>
      <ng-container *ngFor="let field of signature.inputs">
        <ng-container
          *ngTemplateOutlet="fieldRow; context: field"
        ></ng-container>
      </ng-container>
      <tr class="fields-table__row fields-table__row--labels">
        <td class="fields-table__cell">output_field_name</td>
        <td class="fields-table__cell">output_data_type</td>
        <td class="fields-table__cell">output_shape</td>
      </tr>
      <ng-container *ngFor="let field of signature.outputs">
        <ng-container
          *ngTemplateOutlet="fieldRow; context: field"
        ></ng-container>
      </ng-container>
    </table>
  </div>

  <ng-template
    #fieldRow
    let-name="name"
    let-dtype="dtype"
    let-shape="shape"
    let-subfields="subfields"
  >
    <tr class="fields-table__row">
      <td class="fields-table__cell">{{ name }}</td>
      <td class="fields-table__cell">{{ dtype }}</td>
      <td class="fields-table__cell">{{ shape | fieldShape }}</td>
    </tr>
    <ng-container *ngIf="subfields && subfields.length > 0">
      <ng-container *ngFor="let subfield of subfields">
        <ng-container
          *ngTemplateOutlet="fieldRow; context: subfield"
        ></ng-container>
      </ng-container>
    </ng-container>
  </ng-template>
</div>
