<div class="signatures">
    <h5 class="signatures__title">Signatures</h5>
    <div *ngFor="let signature of signatures"
        class="signature">
        <span class="signature__name">Signature: {{signature.signatureName}}</span>
        <div class="signature__data">
            <div class="signature__data-row">
                <span class="signature__data-cell signature__data-label">input_field_name</span>
                <span class="signature__data-cell signature__data-label">input_data_type</span>
                <span class="signature__data-cell signature__data-label">input_shape</span>
            </div>
            <div *ngFor="let input of signature.inputs" class="signature__data-row">
                <span class="signature__data-cell">{{input.fieldName}}</span>
                <span class="signature__data-cell">{{input.dataType}}</span>
                <span class="signature__data-cell">
                    {{input.shape}}
                </span>
            </div>
            <div class="signature__data-row">
                <span class="signature__data-cell signature__data-label">output_field_name</span>
                <span class="signature__data-cell signature__data-label">output_data_type</span>
                <span class="signature__data-cell signature__data-label">output_shape</span>
            </div>
            <div *ngFor="let output of signature.outputs" class="signature__data-row">
                <span class="signature__data-cell">{{output.fieldName}}</span>
                <span class="signature__data-cell">{{output.dataType}}</span>
                <span class="signature__data-cell">{{output.shape}}</span>
            </div>
        </div>
    </div>
</div>