@import 'variables';

.applications {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__favorite {
    &-label {
      color: $neutral-color-800;
      font-family: $font-family-light;
      margin-bottom: 8px;
      font-style: italic;
    }
  }

  &__separator {
    border-top: 1px $neutral-color-300 solid;
    margin-bottom: 24px;
  }
}

.application {
  border: 1px $neutral-color-200 solid;
  background: white;
  border-radius: 4px;
  margin-right: 24px;
  margin-bottom: 24px;
  padding: 12px;
  width: 220px;
  cursor: pointer;
  transition: .3s ease all;
  position: relative;

  &__name {
    white-space: nowrap;
    width: calc(100% - 28px);
    overflow: hidden;
    text-overflow: ellipsis;
    color: $neutral-color-900;
    font-family: $font-family-bold;
    text-transform: uppercase;
    margin-bottom: 24px;
    font-size: 12px;
  }

  &__favorite-icon {
    position: absolute;
    right: 4px;
    top: -1px;
    width: 24px;
    height: 24px;
    color: $neutral-color-200;
    transition: .3s ease all;

    &:hover,
    &--selected {
      color: $primary-color-700;
    }

    &--selected {
      &:hover {
        color: $neutral-color-200;
      }
    }
  }
}