@import 'variables.scss';

.model-name {
  padding: 55px 92px;
}

.model-details {
  padding: 27px 121px;
  > p {
    > span {
      font-weight: bold;
    }
    font-size: 16px;
    display: flex;
    flex-direction: row;
  }
}

.model-grid-header {
  text-align: center;
  color: #818994;
  font-size: 18px;
  font-family: "Museo Sans Bold";
}

.model-details-row {
  padding-top: 16px;
  font-size: 16px;
}

.runtime {
  font-family: "Museo Sans Bold";
}

.model-details-tag {
    padding: 5px 8px;
    background-color: #e9ecf2;
    border-radius: 5px;
  }

.model-details-label {
  color: #808080;
  font-family: "Museo Sans Light"
}


$table-padding: 18px;

.table {
  border-collapse: collapse;
  width: 100%;
  &-head {
    &__cell {
      font-size: 12px;
      color: #abafb2;
      padding: $table-padding $table-padding * 2;
      text-align: left;
    }
  }
  &-body {
    &__row {
      background-color: $main-bg-color;
      border-bottom: 2px solid #ffffff;
    }
    &__cell {
      padding: $table-padding * 1.7 $table-padding * 2;
    }
  }
}

.services-list-table {
  border: none;
  width: 100%;

  @media screen and (min-width: 600px) and (max-width: 959px) {
    font-size: 12px;
  }
  @media screen and (max-width: 1279px) and (min-width: 960px) {
    font-size: 14px;
  }

  th {
    text-align: left;
    padding-left: 0.5rem;
    padding-right: 0;
    &:first-child {
      span {
        padding-left: 24px;
      }
    }
  }

  tr:hover {
    background: #fafbfc;
  }

  td {
    text-align: left;
    max-width: 0;
    padding-left: 5px;
    padding-right: 5px;

    .mdl-select {
      .mdl-list__item {
        font-size: 14px;
      }
      .mdl-textfield {
        &__input {
          font-size: 14px;
        }
      }
    }

  }
  &__tr {
    cursor: pointer;
    td .services-list-table__td__actions--buttons {
      visibility: hidden;
    }
    &:hover {
      td .services-list-table__td__actions--buttons {
        visibility: visible;
      }
    }
  }
  &__tr,
  &__td {
    border-top: 2px solid $main-bg-color;
    border-bottom: none;
    padding-right: 0.5rem;
    padding-left: 0.5rem;

    &.id {
      width: 10%;
    }
    &.name {
      width: 15%;
    }
    &.model-type {
      width: 15%;
    }
    &.run-type {
      width: 15%;
    }
    &.version {
      width: 10%;
    }
    &.status {
      width: 20%;
    }
    &.actions {
      width: 20%;
    }
    i {
      font-size: 20px;
    }

  }

}
