@import 'variables.scss';

.model-name {
  padding: 55px 92px;
}

.model-details {
  padding: 27px 121px;
  width: 50%;
  >p {
    >span {
      font-weight: bold;
    }
    font-size: 16px;
    display: flex;
    flex-direction: row;
  }
}

.model-grid-header {
  text-align: center;
  color: #818994;
  font-size: 18px;
  font-family: $main-font-family;
  font-weight: 700;
}

.model-details-row {
  padding-top: 16px;
  font-size: 16px;
}

.runtime {
  font-weight: 700;
}


.model-details-tag {
    padding: 5px 8px;
    background-color: #e9ecf2;
    border-radius: 5px;
  }


.model-details-label {
  color: #808080;
  font-weight: 300;
}
