<div class="content">
    <div class="content-header">
        <div class="content-header__title">{{model?.source}}</div>
        <div class="btn-group" *ngIf="model?.nextVersion">
            <button class="btn" (click)="$event.stopPropagation(); buildModel(model)">
                <svg>
                    <use xlink:href="#icon-arrow"></use>
                </svg>
                Build
            </button>
            <button class="btn" (click)="$event.stopPropagation(); editModelContract(model.id)">
                <svg>
                    <use xlink:href="#icon-edit"></use>
                </svg>
                Edit
            </button>
        </div>
    </div>


    <div class="content-body">
        <hydro-list-info [data]="model"></hydro-list-info>

        <div class="hydro-panel" *ngIf="!model?.nextVersion || model?.lastModelBuild">
            <h5 class="hydro-panel__header">Versions</h5>
            <table class='hydro-table hydro-table-models'>
                <thead class="hydro-table-head">
                    <tr>
                        <th class="hydro-table-head__cell" *ngFor="let headCell of tableHeader">{{headCell}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of modelBuilds | sortBy: 'item.version'" class='hydro-table-body__row __link' [routerLink]="[item.version]">
                        <td class="hydro-table-body__cell">
                            <div class='cs-text-overflow-ellipsis'>{{ item.started | utcToLocal | amTimeAgo }}</div>
                        </td>
                        <td class="hydro-table-body__cell">
                            <div class='cs-text-overflow-ellipsis'>{{ item.version }}</div>
                        </td>
                        <td class="hydro-table-body__cell">
                            <div class='cs-text-overflow-ellipsis status' [ngClass]="{
                                '__successed': item.status === 'FINISHED',
                                '__failed': item.status === 'FAILED'
                                }">
                                <svg class="icon">
                                    <use xlink:href="#icon-arrow" />
                                </svg>
                                <span class="icon-label">{{item.status === 'FINISHED' ? 'Builded' : 'Unbuilded'}}</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
