@import 'src/assets/styles/variables';

.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  &__range {
    margin: 0 12px;
    text-align: center;
    font-size: 12px;
    color: $neutral-color-900;
    font-family: $font-family-bold;
  }
  &__icon {
    width: 14px;
    height: 14px;
    line-height: 14px;
    color: $neutral-color-600;
    transition: 0.3s ease all;
    cursor: pointer;
    &:hover {
      color: $primary-color-1000;
    }
    &--rotated {
      transform: rotate(180deg);
    }
  }
}
