<div class="chart" #chart>
  <header class="chart__header">
    <span *ngIf="isKolmogorovSmirnov()">
      <ng-container *ngTemplateOutlet="featureSelector"></ng-container>
    </span>
  </header>
  <svg
    class="canvas"
    [attr.width]="canvasWidth"
    [attr.height]="canvasHeight"
    #svg
  >
    <g hsD3Axis [scale]="xScale" transform="translate(25,170)"></g>
    <g
      hsD3Axis
      [scale]="yScale"
      position="left"
      transform="translate(25,10)"
    ></g>
    <g
      *ngFor="let plotBand of plotBands | keyvalue; let i = index"
      transform="translate(25,10)"
    >
      <g
        [hs-d3-plot-band]="p"
        *ngFor="let p of plotBand.value; let i = index"
        [xScale]="xScale"
        [height]="canvasHeight - 50"
        stroke="none"
        fill="#f539392b"
      ></g>
    </g>
    <g
      [hs-d3line]
      *ngFor="let data of groupedData | keyvalue; index as i"
      [data]="data.value"
      [xScale]="xScale"
      [yScale]="yScale"
      transform="translate(25,10)"
      [attr.stroke]="lineColors[i]"
    ></g>
    <g
      [hs-d3area]
      *ngFor="let data of groupedData | keyvalue; index as i"
      [data]="data.value"
      [xScale]="xScale"
      [yScale]="yScale"
      [y0]="minValue"
      [attr.fill]="areaColors[i]"
      transform="translate(25,10)"
    ></g>
    <g
      [hs-d3threshold]="threshold"
      *ngFor="let threshold of thresholds; index as i"
      [yScale]="yScale"
      [attr.stroke]="thresholdColors[i]"
      stroke-dasharray="10px"
      transform="translate(25,10)"
    ></g>
    <rect
      x="0"
      y="0"
      [attr.width]="canvasWidth - 40"
      [attr.height]="canvasHeight - 50"
      fill="red"
      opacity="0"
      transform="translate(25, 10)"
      #rect
    ></rect>
  </svg>
  <div
    class="chart__tooltip"
    #tooltip
    [ngStyle]="{ display: showTooltip ? 'inherit' : 'none' }"
  >
    <div class="tooltip__body" *ngIf="tooltipContent">
      <div
        class="tooltip__metric"
        *ngFor="let metric of tooltipContent.metrics"
      >
        {{ metric.name }}: {{ metric.value }}
      </div>
      <div class="tooltip__timestamp">
        {{ tooltipContent?.timestamp | moment }}
      </div>
    </div>
  </div>
  <!-- <div class="active-point" #activePoint></div> -->
  <div
    class="active-line"
    [ngStyle]="{ display: showTooltip ? 'inherit' : 'none' }"
    #activeLine
  ></div>
  <div class="chart__footer">
    <span
      class="metric__name"
      *ngFor="let data of groupedData | keyvalue; index as i"
    >
      <span [style.color]="lineColors[i]">-</span>{{ data.key }}
    </span>
  </div>
  <div *ngIf="emptyData" class="chart__empty">
    No data availabe
  </div>
</div>

<ng-template #featureSelector>
  <mdl-select
    #featureSelect
    label="Choose feature"
    [(ngModel)]="selectedFeature"
    (change)="onSelectFeature($event)"
    [autocomplete]="true"
    (keydown.enter)="$event.preventDefault()"
    class="filter-input"
  >
    <mdl-option
      *ngFor="
        let feature of featureList | matchSorter: {}:featureSelect.searchQuery
      "
      [value]="feature"
      >{{ feature }}
    </mdl-option>
  </mdl-select>
</ng-template>
