<div class="chart" #chart>
  <header class="chart__header">
    <div class="chart__header-name">{{ chartName }}</div>
    <div class="compare" *ngIf="siblingModelVersions">
      <span class="compare__label">compare with:</span>
      <mdl-select
        class="compare__select"
        [(ngModel)]="comparedModelVerId"
        label="model version"
      >
        <mdl-option [value]><em>model version</em></mdl-option>
        <mdl-option
          *ngFor="let modelVersion of siblingModelVersions"
          [value]="modelVersion.id"
        >
          {{ modelVersion.modelVersion }}
        </mdl-option>
      </mdl-select>
    </div>
    <!-- 
    <span *ngIf="isKolmogorovSmirnov()">
      <ng-container *ngTemplateOutlet="featureSelector"></ng-container>
    </span> -->
  </header>
  <svg
    class="canvas"
    [attr.width]="canvasWidth"
    [attr.height]="canvasHeight"
    #svg
  >
    <defs>
      <clipPath id="my-clip">
        <rect
          x="46"
          y="10"
          [attr.width]="canvasWidth - 40"
          [attr.height]="canvasHeight - 50"
        ></rect>
      </clipPath>
    </defs>
    <g hsD3Axis [scale]="xScale" transform="translate(45,170)"></g>
    <g
      hsD3Axis
      [scale]="yScale"
      position="left"
      transform="translate(45,10)"
    ></g>
    <!-- <g
      *ngFor="let plotBand of plotBands | keyvalue; let i = index"
      transform="translate(45,10)"
    >
      <g
        [hs-d3-plot-band]="p"
        *ngFor="let p of plotBand.value; let i = index"
        [xScale]="xScale"
        [height]="canvasHeight - 50"
        stroke="none"
        fill="#f539392b"
      ></g>
    </g> -->
    <g
      [hs-d3line]
      *ngFor="let data of mainData | keyvalue; index as i"
      [data]="data.value"
      [xScale]="xScale"
      [yScale]="yScale"
      transform="translate(45,10)"
      [attr.stroke]="mainLineColors[i]"
    ></g>
    <g
      [hs-d3line]
      *ngFor="let data of comparedData | keyvalue; index as i"
      [data]="data.value"
      [xScale]="xScale"
      [yScale]="yScale"
      transform="translate(45,10)"
      [attr.stroke]="comparedLineColors[i]"
    ></g>
    <g
      clip-path="url(#my-clip)"
      [hs-d3threshold]="threshold"
      *ngFor="let threshold of thresholds; index as i"
      [yScale]="yScale"
      [attr.stroke]="thresholdColors[i]"
      stroke-dasharray="10px"
    ></g>
    <line
      *ngFor="let y of ySublines"
      x1="0"
      [attr.y1]="y"
      [attr.x2]="canvasWidth - 60"
      [attr.y2]="y"
      style="stroke:rgba(38, 39, 41, 0.068);stroke-width:1"
      transform="translate(45,10)"
    />
    <line
      *ngFor="let x of xSublines"
      [attr.x1]="x"
      y1="0"
      [attr.x2]="x"
      [attr.y2]="canvasHeight - 50"
      style="stroke:rgba(38, 39, 41, 0.068);stroke-width:1"
      transform="translate(45,10)"
    />
    <rect
      x="20"
      y="0"
      [attr.width]="canvasWidth - 60"
      [attr.height]="canvasHeight - 50"
      opacity="0"
      transform="translate(25, 10)"
      #rect
    ></rect>
  </svg>
  <div
    class="chart__tooltip"
    #tooltip
    [ngStyle]="{ display: showTooltip ? 'inherit' : 'none' }"
  >
    <div class="tooltip__body" *ngIf="tooltipContent">
      <div
        class="tooltip__metric"
        *ngFor="let metric of tooltipContent.metrics"
      >
        {{ metric.name }}: {{ metric.value }}
      </div>
      <div class="tooltip__timestamp">
        {{ tooltipContent?.timestamp | moment }}
      </div>
    </div>
  </div>
  <div
    class="active-line"
    [ngStyle]="{ display: showTooltip ? 'inherit' : 'none' }"
    #activeLine
  ></div>
  <!-- <div class="chart__footer">
    <div class="metric__legend">
      <div
        class="metric__name"
        *ngFor="let data of mainData | keyvalue; index as i"
      >
        <div
          [style.backgroundColor]="mainLineColors[i]"
          class="metric__legend-line"
        ></div>
        <span>{{ modelVersion(data.key) | async }}</span>
      </div>
      <div
        class="metric__name"
        *ngFor="let data of comparedData | keyvalue; index as i"
      >
        <div
          [style.backgroundColor]="comparedLineColors[i]"
          class="metric__legend-line"
        ></div>
        <span>{{ modelVersion(data.key) | async }}</span>
      </div>
    </div>
  </div> -->
  <div *ngIf="emptyData" class="chart__empty">
    No data availabe
  </div>
</div>

<!-- <ng-template #featureSelector>
  <div class="feature">
    <span class="feature__label">feature</span>
    <mdl-select
      #featureSelect
      label="Choose feature"
      [(ngModel)]="selectedFeature"
      (change)="onSelectFeature($event)"
      [autocomplete]="true"
      (keydown.enter)="$event.preventDefault()"
      class="filter-input feature__select"
    >
      <mdl-option
        *ngFor="
          let feature of featureList | matchSorter: {}:featureSelect.searchQuery
        "
        [value]="feature"
        >{{ feature }}
      </mdl-option>
    </mdl-select>
  </div>
</ng-template> -->
