.chart {
    width: 100%;
    height: 152px;
    background: white;
    box-shadow: 0 0 2px -1px grey;
    margin-bottom: 24px;
    &__header {
        padding: 0 20px;
        line-height: 32px;
    }
    &__metric-name {
        color: #38506d88;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
    }
}

.metric {
    &__name {
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
        color: #0d2b4a;
    }
}

.line {
    fill: none;
    stroke-width: 2px;
    stroke-linejoin: round;
  }
  
.area {
}

.active-line {
    stroke: rgba(105, 100, 177, 0.24);
    stroke-width: 1px;
    stroke-dasharray: 4px;
}

.active-point {
    fill: white;
    stroke: #5786c1;
    stroke-width: 2px;
}

.tooltip {
    position: absolute;
    border: 1px rgba(70, 99, 162, 0.81) solid;
    background: white;
    padding: 4px 8px;
    left: 0;
    box-shadow: 0 0 2px -2px;
    border-radius: 4px;
    & p {
        margin: 0;
        font-size: 8px;
        line-height: 12px
    }
}