<form 
    [formGroup]="form" 
    (ngSubmit)="onSubmit()">
    <hydro-input-text 
        name="metricName" 
        label="Metric Name" 
        formControlName="name">
    </hydro-input-text>
    <div class="row">
        <mdl-select formControlName="kind" label="Choose metric">
            <mdl-option *ngFor="let kind of metricSpecificationKinds" [value]="kind.className">{{ kind.name }}</mdl-option>
        </mdl-select>
    </div>
    <div class="row" >
        <label class="hydro-checkbox">
            Use this metric for health checks
            <input type="checkbox" formControlName="withHealth">
            <span></span>
        </label>
    </div>
    <div formGroupName="config">
        <div class="row row--column" *ngIf="form.get('config').get('input')">
            <label for="input">Input: </label>
            <input [formControl]="form.get('config').get('input')" readonly name='input' class='input'>
        </div>
        <div class="row" *ngIf="form.get('config').get('applicationName')">
            <label for="application">Application: </label>
            <mdl-select 
                name='application'
                [formControl]="form.get('config').get('applicationName')"
                label="Choose application">
                <mdl-option *ngFor="let application of applications$ | async" [value]="application.name">{{ application.name }}</mdl-option>
            </mdl-select>
        </div>
        <div class="row" *ngIf="form.get('config').get('threshold')">
            <hydro-input-text 
                name="threshold" 
                label="Threshold" 
                [formControl]="form.get('config').get('threshold')">
            </hydro-input-text>
        </div>
        <div class="row" *ngIf="form.get('config').get('interval')">
            <hydro-input-text 
                name="interval" 
                label="interval" 
                [formControl]="form.get('config').get('interval')">
            </hydro-input-text>
        </div>
    </div>
    <div class='buttons'>
        <button 
            class="button button--primary"
            [disabled]="!form.valid">
            Add Metric
        </button>
        <button 
            class="button button--secondary"
            (click)="onClose()"> 
            CANCEL
        </button>
    </div>

</form>