<h2 class="mdl-dialog__title">Edit Application</h2>
<form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
  <div class="mdl-dialog__content">

    <hydro-input-text name="applicationName" [formErrors]="formErrors.serviceName" label="Application Name" formControlName="applicationName"></hydro-input-text>

    <div class="hydro-form-group">
      <label class="hydro-checkbox">
        Use Kafka source
        <input type="checkbox" [checked]="isKafkaEnabled" (change)="isKafkaEnabled = $event.target.checked">
        <span></span>
      </label>
      <ul class="form-kafkaSources__list" *ngIf="isKafkaEnabled" formArrayName="kafkaStreaming">
        <li class="form-kafkaSources__list-item" *ngFor="let kafka of serviceForm['controls'].kafkaStreaming['controls']; let i = index" [formGroupName]="i">
          <div class="form-kafkaSources__list-item-fields">
            <hydro-input-text class="input-field" [formErrors]="formErrors.weight"
                              [wrapClassName]="'form-group__inline'"
                              [inputClass]="'__kafkaInput'"
                              [label]="'input topic = '"
                              name="inputTopic"
                              formControlName="sourceTopic">
            </hydro-input-text>
            <hydro-input-text class="output-field" [formErrors]="formErrors.weight"
                              [wrapClassName]="'form-group__inline'"
                              [inputClass]="'__kafkaInput'"
                              [label]="'output topic = '"
                              name="outputTopic"
                              formControlName="destinationTopic">
            </hydro-input-text>
          </div>
          <svg class="delete" (click)="removeKafkaControl(i)" *ngIf="serviceForm['controls'].kafkaStreaming['controls'].length > 1">
            <use xlink:href="#icon-remove"></use>
          </svg>
        </li>
        <li class="form-kafkaSources__list-item--add" *ngIf="isKafkaEnabled" (click)="addKafkaControl()">
          <svg><use xlink:href="#icon-plus"></use></svg>
          <span>Add More Sources</span>
        </li>
      </ul>
    </div>


    <label class="hydro-checkbox">
      JSON mode
      <input type="checkbox" [checked]="isJsonModeEnabled" (change)="isJsonModeEnabled = $event.target.checked">
      <span></span>
    </label>
    <div class="hydro-form-group" *ngIf="!isJsonModeEnabled">
      <label>Models</label>
      <div class="input-text__error mdl-color-text--red">{{formErrors.weights}}</div>
      
      <div formArrayName="stages">
        <div *ngFor="let stage of serviceForm['controls'].stages['controls']; let i = index" [formGroupName]="i">
          <ul class="form-weights__list" formArrayName="services">
            <li class="form-weights__list-item" *ngFor="let service of stage['controls'].services['controls']; let j = index" [formGroupName]="j">
              
              <mdl-select formControlName="modelVersion" label="Choose model versions" class="cs-text-center">
                <mdl-option *ngFor="let modelVersion of modelVersions" [value]="modelVersion.id">{{ modelVersion.modelName + ':v' + modelVersion.modelVersion }}</mdl-option>
              </mdl-select>

              <mdl-select class="__versions cs-text-center" formControlName="runtime">
                <mdl-option *ngFor="let runtime of runtimes" [value]="runtime.id">{{ runtime.name + ':' + runtime.version }}</mdl-option>
              </mdl-select>

              <mdl-select class="__versions cs-text-center" formControlName="environment" *ngIf="environments.length > 0">
                <mdl-option *ngFor="let environment of environments" [value]="environment.id">{{ environment.name }}</mdl-option>
              </mdl-select>

              <mdl-select class="__versions cs-text-center" formControlName="contract" *ngIf="contracts.length > 0">
                <mdl-option *ngFor="let contract of contracts" [value]="contract.id">{{ contract.name }}</mdl-option>
              </mdl-select>
              
              <div class="form-weights__list-item--weight">
                <hydro-input-text [formErrors]="formErrors.weight"
                                  [wrapClassName]="'form-group__inline'"
                                  [inputClass]="'__modelWeight'"
                                  [label]="'Weight'"
                                  name="asd"
                                  formControlName="weight">
                </hydro-input-text>%
              </div>

              <!-- <mdl-slider [min]="0" [max]="100" [step]="1" formControlName="weight" [(ngModel)]="weightsForSlider[i]"></mdl-slider> -->

              <svg class="delete" (click)="removeServiceControl(j)" *ngIf="stage['controls'].services['controls'].length > 1">
                <use xlink:href="#icon-remove"></use>
              </svg>
            </li>
            <li class="form-weights__list-item--add">
              <svg><use xlink:href="#icon-plus"></use></svg>
              <mdl-select label="Add model versions" class="cs-text-center" (change)="addServiceControl($event, i)">
                <mdl-option *ngFor="let modelVersion of modelVersions" [value]="modelVersion.id">{{ modelVersion.modelName + ':v' + modelVersion.modelVersion }}</mdl-option>
              </mdl-select>
            </li>
          </ul>
          <svg class="delete" (click)="removeStageControl(i)" *ngIf="serviceForm['controls'].stages['controls'].length > 1">
            <use xlink:href="#icon-remove"></use>
          </svg>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-secondary" (click)="addStageControl(this.defaultAppOptions)" title="Add stage">
        <svg><use xlink:href="#icon-plus"></use></svg>
        stage
    </button>

    <div class="hydro-form-group" *ngIf="isJsonModeEnabled">
      <codemirror [ngModelOptions]="{standalone: true}" [(ngModel)]="pipelineEditorValue" [config]="codeMirrorOptions"></codemirror>
    </div>
    
    <div class="btn-group form-actions __justify-end">
      <button class="btn btn-flat btn-large" (click)="dialogRef.hide()" type="button">cancel</button>
      <button class="btn btn-colored btn-large" type="submit" [disabled]="serviceForm.invalid">edit app</button>
    </div>
  </div>
</form>