<div class="agg-sidebar" *ngIf="aggregationsList">
  <div class="agg-sidebar__row" *ngIf="minDate && maxDate">
    <label class="agg-sidebar__header" for="rangeFilter">Date range: </label>
    <input
      id="rangeFilter"
      class="agg-sidebar__date-picker"
      ngxDaterangepickerMd
      startKey="minDate"
      endKey="maxDate"
      [(ngModel)]="selected"
      timePicker="true"
      timePickerSeconds="true"
      (datesUpdated)="handleDateTimeFromChange($event)"
    />
    <span
      *ngIf="showResetFilter"
      (click)="resetFilter()"
      class="agg-sidebar__reset"
    >
      reset filter
    </span>
  </div>

  <div class="agg-sidebar__row">
    <span class="agg-sidebar__header">Total</span>
    <span class="agg-sidebar__label">Batches: </span
    ><span class="agg-sidebar__count"
      >{{ aggregationsList.totalBatchesCount }}</span
    >
  </div>
  <div class="agg-sidebar__row">
    <span class="agg-sidebar__header">Displayed</span>
    <span class="agg-sidebar__label">Batches: </span
    ><span class="agg-sidebar__count"
      >{{ aggregationsList.showedBatchesCount }}</span
    >
  </div>
</div>
