.reqstore_chart {
    width: 1000px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px -4px rgb(40, 41, 53);
    margin-bottom: 24px;
    &__header {
        position: relative;
        height: 26px;
        margin-bottom: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


.selected-time {
    font-size: 12px;
    color: #626a73;
    font-weight: 100;
}

.zoom-out {
    display: inline;
    font-size: 8px;
    line-height: 8px;
    margin: 0 20px;
}

.y-title {
    font-size: 12px;
    letter-spacing: 1px;
    fill: #57626b;
}

.dataset-m__rect {
    cursor: pointer;
    transition: .3s fill ease;
    &--s {
        fill: #3394da50;
    }
    &--f {
        fill: #ef191988;
    }

}

.selection {
    fill: #0282f16b;
    stroke: #3556805e;
    stroke-width: 2;
}