.menu-trigger {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: rgba($color: #fff, $alpha: 0.75);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  cursor: pointer;

  &.-active {
    .menu-trigger-item {
      &:nth-of-type(2) {
        display: none;
      }
      &:nth-of-type(1) {
        top: 20px;
        transform: translateX(-50%) rotate(-45deg);
      }
      &:nth-of-type(3) {
        top: 20px;
        transform: translateX(-50%) rotate(45deg);
      }
    }
  }

  &:hover {
    .menu-trigger-item {
      opacity: 0.8;
    }
  }

  .menu-trigger-item {
    position: absolute;
    top: 13px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    background: #343434;
    height: 3px;
    border-radius: 5px;
    opacity: 0.4;
    transition: all 0.3s ease-in-out;

    &:nth-of-type(2) {
      top: 19px;
    }

    &:nth-of-type(3) {
      top: 25px;
    }
  }
}
