.reqstore {
    &__options {
        font-size: 8px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: grey;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 4px;
        &-item {
            margin-right: 8px;
        }
        &-input {
            border: 1px #9c9c9c solid;
            line-height: 12px;
            text-align: right;
            width: 35px;
            padding: 2px;
            background: white;
        }
        &-button {
            font-size: 8px;
            padding: 4px;
        }
        &-interval {
            width: 100%;
            &-time {
                font-size: 10px;
                color: rgb(14, 14, 14);
            }
        }
    }
}

.selector {
    display: flex;
    padding: 8px;
    flex-wrap: wrap;
    align-items: center;
    &__title {
        width: 100%;
        color: rgba(80, 77, 117, 0.582);
    }
    &__item {
        margin-right: 8px;
    }
}

.chart {
    max-width: 768px;
    max-height: 400px;
}

.metric-data {
    &--is-error {
        background: #f39090;
        color: white;
    }
}

.time-interval {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    justify-content: flex-start;
    padding-right: 14px;
    &__label {
        line-height: 14px;
        margin-right: 4px;
    }
}