<section class='monitoring-log'>
    <ng-container *ngIf="metricSpecificationProvider$ | async;let metricSpecificationProvider; else error">
        <div class="time-interval">
            <label class="time-interval__label">Time interval: </label>
            <mdl-select class="time-interval__select" label="Chart time window" [(ngModel)]="chartTimeWidth">
                <mdl-option *ngFor="let param of chartTimeWidthParams" [value]="param.ms">{{ param.text }}</mdl-option>
            </mdl-select>
        </div>
        <ng-container [ngSwitch]="metricSpecificationProvider.kind">
            <hs-kolmogorov-smirnov-metric-chart 
                *ngSwitchCase="'KSMetricSpec'"
                [chartTimeWidth]="chartTimeWidth"
                [modelVersionId]="(modelVersion$ | async)?.id"
                [metricSpecificationProvider]="metricSpecificationProvider"
                (selectPoints)="onSelectPoints($event)"
                (selectFeature)="onChangeFeature($event)">
            </hs-kolmogorov-smirnov-metric-chart>
            <hs-base-metric-chart 
                *ngSwitchDefault
                [chartTimeWidth]="chartTimeWidth" 
                [modelVersionId]="(modelVersion$ | async)?.id"
                [metricSpecificationProvider]="metricSpecificationProvider"
                (selectPoints)="onSelectPoints($event)"
                >
            </hs-base-metric-chart>
        </ng-container>
    </ng-container>


    
    <div class='reqstore__options'>
            <div class='reqstore__options-interval'>
                Selected plot interval:
                <span *ngIf="selectedTimeInterval$ | async; let ti; else emptyInterval" class='reqstore__options-interval-time'>
                    {{ ti.from*1000 | utcToLocal }} - 
                    {{ ti.to*1000 | utcToLocal }}
                </span>
                <ng-template #emptyInterval>-</ng-template>
                
            </div>
            <div class='reqstore__options-item'>
                Maximum
                <input class='reqstore__options-input' [(ngModel)]="maxMessages">
                messages
            </div>
            <div class='reqstore__options-item'>
                Maximum
                <input class='reqstore__options-input' [(ngModel)]="maxMBytes">
                MB
            </div>
            <div class='reqstore__options-item'>
                Load last records
                <input type="checkbox" [(ngModel)]='reverse'>
            </div>
            <div class='reqstore__options-item'>
                Load only failed
                <input type="checkbox" [(ngModel)]='onlyFailedReqstoreData'>
            </div>
            <button class='button button--white reqstore__options-button' (click)='updateReqstore()'>update log</button>
        </div>
        <hs-reqstore-table-log
         [logData]='logData' 
         [modelVersion]='modelVersion$ | async'
         [loading]='logLoading$ | async'>
        </hs-reqstore-table-log>

    <ng-template #error>
        Something went wrong
    </ng-template>
</section>