@import "variables";

.explanation {
  &__buttons {
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;
  }
  &__tiles {
    display: flex;
    margin-top: 12px;
  }
  &__tile + &__tile {
    margin-left: 24px;
  }
  &__tile {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-key {
      font-family: $font-family-light;
      color: $neutral-color-700;
    }
    &-value {
      font-family: $font-family-bold;
      color: $neutral-color-900;
      font-size: 28px;
      margin: 8px 0;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    &-key {
      color: $neutral-color-700;
      font-family: $font-family-light;
      text-align: center;
    }
    &-value {
      text-align: center;
      color: $neutral-color-1000;
      font-size: 16px;
    }
  }
  &__item + &__item {
    margin-top: 8px;
  }
}
