
<div class="explanation__item">
  <div class="explanation__item-key">coverage</div>
  <div class="explanation__item-value">{{ coverage }}</div>
</div>
<div class="explanation__item">
  <div class="explanation__item-key">explanation</div>
  <div class="explanation__item-value">
    <div *ngFor="let explanation of explanations">
      {{ explanation }}
    </div>
  </div>
</div>
<div class="explanation__item">
  <div class="explanation__item-key">precision</div>
  <div class="explanation__item-value">{{ precision }}</div>
</div>
