<!-- <div class="explanation__item">
  <div class="explanation__item-key">coverage</div>
  <div class="explanation__item-value">{{ explanation.coverage }}</div>
</div>
<div class="explanation__item">
  <div class="explanation__item-key">explanation</div>
  <div class="explanation__item-value">
    <div *ngFor="let item of explanation.explanation">
      {{ item }}
    </div>
  </div>
</div>
<div class="explanation__item">
  <div class="explanation__item-key">precision</div>
  <div class="explanation__item-value">{{ explanation.precision }}</div>
</div> -->
