@import 'variables.scss';



.model-details {
    >p {
        >span {
            font-weight: bold;
        }
        font-size: 16px;
        display: flex;
        flex-direction: row;
    }
    &-row {
      padding-top: 16px;
      font-size: 16px;
    }
    &-tag {
      padding: 5px 8px;
      background-color: #e9ecf2;
      border-radius: 5px;
    }
    &-label {
      color: #808080;
      font-family: $font-family-light;
    }
    &-panel {
      background-color: $main-bg-color;
      padding: 32px 26px;
    }
    &-grid-header {
      text-align: center;
      color: #818994;
      font-size: 18px;
      font-family: $font-family-bold;
    }
    &-table {
      margin-bottom: 70px
    }
    &-link {
      color: $color--blue;
      text-decoration: none;
    }
}

.runtime {
    font-family: $font-family-bold;
}

.action {
    color: #5b95de;
    use {
        fill: $color--blue;
    }
}

.icon {
    width: 14px;
    height: 14px;
    margin-top: -2px;
    &-label {
        margin-left: 5px;
    }
}

.hydro-link:last-of-type {
    margin-left: 14px;
}

.new-version {
    color: #f28a03;
    &::after {
        content: '˚';
    }
    &-label {
      margin-left: 10px;
      background-color: #f28a03;
      border-radius: 2px;
      color: #FFFFFF;
      font-size: 12px;
      padding: 5px 7px;
    }
}

.deploy-btn {
    background-color: $color--blue;
    color: #FFFFFF;
    font-family: $font-family-bold;
    font-size: 12px;
    fill: #FFFFFF;
    padding: 3px 20px;
    cursor: pointer;
    margin-left: 10px;
}

.hydro-table {
    &-head__cell {
      text-align: center;
    }
    &-body__cell {
      text-align: center;
    }
}

.actions {
    > div {
    justify-content: center!important;
    > div {
        display: inline-flex;
    }
  }
  @media screen and (max-width: 1450px) {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.signatures {
  &-list {
    list-style: none;
    padding: 0;
  }
  &-table {
    &__header,
    &__body {
      display: flex;
    }
    &__cell {
      flex: 1 1 50%;
    }
  }
}

.model {
  &-item {
    &__application {
      > span {
        cursor: pointer;
        text-decoration-line: underline;
      }
      &::after {
        content: ', ';
      }
      &:last-child::after {
        content: '';
      }
    }
    &__detail-icon {
      padding-top: -2px;
    }
  }
  &-build-status {
    &--pending {
      color: $color--pending;
    }
    &--finished {
      color: $color--success;
    }
    &--started {
      color: $color--light-blue; 
    }
    &--error {
      color: $color--failed;
    }
  }
}
