<div class="content modelDetail">
    <div class="content-header">
        <div class="content-header__title">{{ (model$ | async)?.name }}</div>
        <button class="button button--secondary button--secondary-remove" (click)="removeModel()">
            <hydro-icon class="button__icon" [type]="'icon-remove'"></hydro-icon>
            remove
        </button>
    </div>

    <div class="content-body">
        <div class="hydro-panel">
            <div class="hydro-panel__header">
                <h5>Versions</h5>
            </div>
            <ng-container *ngIf="modelVersions$ | async; let modelVersions">
                <ng-container *ngIf="modelVersions.length === 0">
                    <span class="alert">
                        <span class="alert__ancor">Ooops!</span> It looks like API does not return any builds for this model. Please check model.
                    </span>
                </ng-container>
                <ng-container *ngIf="modelVersions.length">
                    <table class='hydro-table hydro-table-models'>
                        <colgroup>
                            <col width="100px">
                            <col>
                            <col>
                            <col>
                            <col width="80px">
                        </colgroup>
                        <thead class="hydro-table-head hydro-table-head--with-border">
                            <th class="hydro-table-head__cell">Version</th>
                            <th class="hydro-table-head__cell">Created</th>
                            <th class="hydro-table-head__cell">Status</th>
                            <th class="hydro-table-head__cell">Applications</th>
                            <th class="hydro-table-head__cell"></th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let modelVersion of modelVersions" class='hydro-table-body__row row'>
                                <td class="hydro-table-body__cell">{{ modelVersion.id }}</td>
                                <td class="hydro-table-body__cell">{{ modelVersion.started | utcToLocal | amTimeAgo }}</td>
                                <td class="hydro-table-body__cell">
                                    <div 
                                        *ngIf="modelVersion.status"
                                        class='cs-text-overflow-ellipsis model-build-status model-build-status--{{modelVersion.status | lowercase}}' 
                                        [status]="modelVersion.status"
                                        hsModelStatus>
                                        <hydro-icon #statusIcon class="icon"></hydro-icon>
                                        <span #statusText class="icon-label"></span>
                                    </div>
                                </td>
                                <td class="hydro-table-body__cell">
                                    <ng-container *ngIf="modelVersion.applications.length > 0">
                                        <span class="model-item__application" *ngFor="let appName of modelVersion.applications"
                                            [routerLink]="['../../applications', appName]">
                                            <span>{{appName}}</span>
                                        </span>
                                    </ng-container>
                                    <span *ngIf="modelVersion.applications.length === 0">-</span>
                                </td>
                                <td class="hydro-table-body__cell">
                                    <button 
                                        *ngIf="modelVersion.status.toLowerCase() === 'finished'"
                                        [routerLink]="[modelVersion.id]"
                                        class="button button--flat">
                                        <hydro-icon type="icon-right" class="button__icon navigation-icon"></hydro-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>