@import 'variables.scss';

.model-details {
  position: relative;

  &__path {
    font-size: 14px;
    color: $primary-color-1000;

    &-separator {
      color: $neutral-color-300;
      margin: 0 2px;

    }
  }

  &__header {
    &-buttons {
      position: absolute;
      right: 24px;
    }
  }
}