<section class="model-details" *ngIf="model$ | async as model">
  <header
    class="content__header model-details__header"
    [ngClass]="{ 'content__header--zen-mode': isZenMode$ | async }"
  >
    <div class="model-details__header-title">{{ model.name }}</div>
    <div class="model-details__header-buttons">
      <button hs-button kind="stroked" (click)="removeModel(model)">
        <hydro-icon class="button__icon" [type]="'icon-remove'"></hydro-icon>
        remove
      </button>
    </div>
  </header>
  <div class="model-details__body">
    <hs-model-versions-table
      [modelVersions]="modelVersions$ | async"
    ></hs-model-versions-table>
  </div>
</section>
