@import 'variables.scss';

.model-details {
  position: relative;

  &__header {
    &-title {
      font-size: 16px;
    }
    &-buttons {
      position: absolute;
      right: 24px;
    }
  }

  &__body {
    margin: 72px 24px;
  }
}