<section class="log">
  <div class="log__header">
    {{ header }}
  </div>
  <hs-error-message *ngIf="error">
    {{ error }}
  </hs-error-message>
  <div *ngIf="isEmptyLog && !error" class="log--is-empty">
    Log is empty
  </div>
  <div class="log__body" #logBody [hidden]="isEmptyLog && error">
    <div class="log__item" *ngFor="let item of currentLogs; index as i">
      <span class="log__item-index">{{ i }}</span
      ><span class="log__item-text">{{ item }}</span>
    </div>
  </div>
  <div class="log__scroller" *ngIf="!autoScroll" (click)="scrollDown()">
    <hydro-icon
      class="icon log__scroller-icon"
      type="icon-arrow-down"
    ></hydro-icon>
  </div>
  <hydro-icon
    class="icon log__close-icon"
    type="icon-close-sidebar"
    (click)="onClose()"
  ></hydro-icon>
</section>
