@import "variables.scss";
* {
    margin: 0;
    padding: 0;
}

$light-gray: #818994;
$delete-button: #969da6;

.application-dialog {
    &__title {
        font-size: 36px;
        margin-bottom: 36px;
    }
    &__name {
        height: 72px;
        margin-bottom: 36px;
    }

    &__kafka-form {
        margin-bottom: 36px;
    }
}

.application-form {
    &__actions {
        justify-content: flex-end;
    }
}

.kafka-form {
    &__checkbox {
        margin-bottom: 22px;
    }

    &__list {
        list-style: none;
        margin-left: 44px;
        &-item {
            position: relative;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            margin-bottom: 8px;
            &:before {
                content: '';
                position: absolute;
                border-left: 1px solid $light-gray;
                border-bottom: 1px solid $light-gray;
                width: 24px;
                height: 24px;
                left: -36px;
                margin-top: -10px;
            }
        }
    }

    &__delete-icon {
        width: 14px;
        height: 14px;
        fill: $delete-button;
    }

    &__fields {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__field {
        flex: 0 0 50%;
    }

    &__add {
        color: $color--light-blue;
        cursor: pointer;
        &-label {
            border-bottom: 1px dashed $color--light-blue;
        }
        &-icon {
            width: 10px;
            height: 10px;
        }
    }
}

.stages {
    &-list {
        width: 100%;
        margin-bottom: 60px;
        &__item {
            position: relative;
            &-title {
                color: #04143c;
                font-size: 18px;
                margin-bottom: 28px;
                font-family: $font-family-bold;
            }
            &--isLast {
                margin-bottom: 60px;
            }
        }
    }
    &__delete-icon {
        cursor: pointer;
        width: 14px;
        height: 14px;
        color: $delete-button;
        position: absolute;
        top: 4px;
        right: 0;
    }
}

.parameters {
    &-list {
        counter-reset: counter;
        width: calc(100% - 20px);
        &__item {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 24px;
            padding: 0 24px;
            &:before {
                content: counter(counter)".";
                counter-increment: counter;
                font-size: 16px;
                color: $light-gray;
                margin-right: 12px;
                position: absolute;
                left: 0;
                top: 4px;
            }
            &-model {
                margin-bottom: 10px;
            }
        }
    }

    &__row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        position: relative;
        padding-left: 40px;
        &:before {
            content: '';
            position: absolute;
            border-left: 1px solid #e6e9ed;
            border-bottom: 1px solid #e6e9ed;
            width: 24px;
            height: 24px;
            left: 0px;
            bottom: 18px;
        }
        > *:not(:first-child) {
            margin-left: 8px;
        }
        > *:not(:last-child) {
            margin-right: 8px;
        }

        &-field {
            &-runtime {
                max-width: 386px;
            }
            &-environment {
                max-width: 142px;
            }
            &-signature {
                display: flex;
                flex-direction: column;
            }
            &-weight {
                display: flex;
                flex-direction: column;
                position: relative;
                &::before {
                    content: '%';
                    position: absolute;
                    width: 14px;
                    height: 14px;
                    right: -1.3rem;
                    bottom: 8px;
                }
                > input {
                    max-width: 58px;
                    text-align: right;
                }
            }
        }
    }

    &__delete-icon {
        cursor: pointer;
        width: 14px;
        height: 14px;
        color: #969da6;
        position: absolute;
        top: 4px;
        right: 0;
    }

    &__field {
        line-height: 1;
        &-label {
            text-transform: uppercase;
            font-size: 10px;
            line-height: 1;
            margin-bottom: 8px;
        }
        &-input{
            height: 32px;
            border: 2px solid #f2f2f2;
            font-size: 16px;
            padding: 3px;
        }
    }
}

.fieldset {
    border: 2px solid #e6e9ed;
    padding: 32px 32px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 36px;
    &-legend {
        display: flex !important;
        flex-direction: row;
        align-items: center;
        padding: 0 10px;
        flex-wrap: nowrap;
    }
}

.mdl-select {
    width: 100%;
}

.docker-image__name {
    flex: 1;
}

.docker-image__version {
    margin: 0 2px 0 2px;
    font-size: 12px;
    background-color: aliceblue;
    padding: 2px;
    white-space: nowrap;
    border-radius: 5px;
    color: #5e5e5e !important;
}

.docker-image__repository {
    margin: 0 2px 0 2px;
    font-size: 12px;
    background-color: aliceblue;
    padding: 2px;
    white-space: nowrap;
    border-radius: 5px;
    color: #5e5e5e !important;
}