<div class="application-dialog">
    <h2 class="mdl-dialog__title application-dialog__title">{{actionName}} Application</h2>
    <form class='application-form' [formGroup]="applicationForm" (ngSubmit)="onSubmit()">
        <div class="mdl-dialog__content">
    
            <hydro-input-text class='application-dialog__name' name="applicationName" [formErrors]="formErrors.serviceName" label="Application Name" formControlName="applicationName"></hydro-input-text>
            <!-- <hydro-input-text name="applicationNamespace" [formErrors]="formErrors.serviceName" label="Application Namespace" formControlName="applicationNamespace"></hydro-input-text> -->
    
            <div class="hydro-form-group kafka-form application-dialog__kafka-form">
                <label class="hydro-checkbox kafka-form__checkbox">
                    Use Kafka source
                    <input type="checkbox" [checked]="isKafkaEnabled" (change)="toggleKafkaStreaming($event)">
                    <span></span>
                </label>
                <ul class="kafka-form__list" *ngIf="isKafkaEnabled" formArrayName="kafkaStreaming">
                    <li class="kafka-form__list-item" *ngFor="let kafka of applicationForm['controls'].kafkaStreaming['controls']; let i = index"
                        [formGroupName]="i">
                        <div class="kafka-form__fields">
                            <hydro-input-text class="kafka-form__field" [formErrors]="formErrors.weight" [wrapClassName]="'form-group__inline'" [inputClass]="'__kafkaInput'"
                                [label]="'input topic = '" name="inputTopic" formControlName="sourceTopic">
                            </hydro-input-text>
                            <hydro-input-text class="kafka-form__field" [formErrors]="formErrors.weight" [wrapClassName]="'form-group__inline'" [inputClass]="'__kafkaInput'"
                                [label]="'output topic = '" name="outputTopic" formControlName="destinationTopic">
                            </hydro-input-text>
                        </div>
                        <hydro-icon [type]='"icon-remove"' 
                                    class="kafka-form__delete-icon" 
                                    (click)="removeKafkaControl(i)" 
                                    *ngIf="applicationForm['controls'].kafkaStreaming['controls'].length > 1">
                        </hydro-icon>
                    </li>
                    <li *ngIf="isKafkaEnabled" (click)="addKafkaControl(defaultAppOptions.kafkaStreaming)" class="kafka-form__add" >
                        <hydro-icon [type]="'icon-plus'" class="kafka-form__add-icon"></hydro-icon>
                        <span class="kafka-form__add-label">Add More Sources</span>
                    </li>
                </ul>
            </div>
    
            <fieldset class="fieldset">
                <legend class="fieldset-legend">
                    Models
                </legend>
                <ng-container *ngIf="!isJsonModeEnabled">
                    <div class="stages-list" formArrayName="stages">
                        <div class="stages-list__item" 
                            *ngFor="let stage of applicationForm['controls'].stages['controls']; let i = index; last as isLast" 
                            [formGroupName]="i"
                            [ngClass]="{'stages-list__item--isLast': isLast}">
                            <div class="stages-list__item-title">Stage_{{ i+1 }}</div>
                            <ul class="parameters-list" formArrayName="services">
                                <li class="parameters-list__item" 
                                    *ngFor="let service of stage['controls'].services['controls']; let j = index" 
                                    [formGroupName]="j">
                                    <mdl-select 
                                        #autocompleteSelect
                                        class="parameters-list__item-model" 
                                        formControlName="modelVersion" 
                                        label="Choose model versions" 
                                        (change)="onModelVersionSelect($event, i, j)"
                                        [autocomplete]="true"
                                        (keydown.enter)="$event.preventDefault()">
                                        <mdl-option 
                                            *ngFor="let modelVersion of modelVersions | matchSorter:'modelFullName':autocompleteSelect.searchQuery" 
                                            [value]="modelVersion.id">{{ modelVersion.modelFullName }}
                                        </mdl-option>
                                    </mdl-select>
    
                                    <div class="parameters__row">
                                        <div class="parameters__field parameters__row-field-runtime">
                                            <label class="parameters__field-label" for="runtime">runtime</label>
                                            <mdl-select formControlName="runtime">
                                                <mdl-option *ngFor="let runtime of runtimes" [value]="runtime.id">{{ runtime.name + ':' + runtime.version }}</mdl-option>
                                            </mdl-select>
                                        </div>
                                        <div class="parameters__field parameters__row-field-environment">
                                            <label class="parameters__field-label" for="environment">environment</label>
                                            <mdl-select formControlName="environment">
                                                <mdl-option *ngFor="let environment of environments" [value]="environment.id">{{ environment.name === 'Without Env' ? 'none' : environment.name }}</mdl-option>
                                            </mdl-select>
                                        </div>
                                        <div class="parameters__field parameters__row-field-signature">
                                            <label class="parameters__field-label" for="signature">signature</label>
                                            <input class="parameters__field-input parameters__row-field--signature" type="text" formControlName="signatureName">
                                        </div>
                                        <div class="parameters__field parameters__row-field-weight">
                                            <label class="parameters__field-label" for="weight">weight</label>
                                            <input class="parameters__field-input parameters__row-field-weight" type="text" formControlName="weight">
                                        </div>
                                    </div>
                                    <hydro-icon 
                                        [type]="'icon-remove'" 
                                        *ngIf="stage['controls'].services['controls'].length > 1" 
                                        (click)="removeServiceControl(i,j)"  
                                        class="parameters__delete-icon" >
                                    </hydro-icon>
                                </li>
    
                                <li class="parameters-list__item">
                                    <mdl-select
                                        #autocompleteSelect
                                        label="Add model versions" 
                                        (change)="addServiceByModelVerId($event, i)"
                                        [autocomplete]="true">
                                        <mdl-option 
                                            *ngFor="let modelVersion of modelVersions | matchSorter:'modelFullName':autocompleteSelect.searchQuery" 
                                            [value]="modelVersion.id">{{ modelVersion.modelFullName }}</mdl-option>
                                    </mdl-select>
                                </li>
                            </ul>
                            <hydro-icon [type]="'icon-remove'" (click)="removeStageControl(i)" *ngIf="applicationForm['controls'].stages['controls'].length > 1" class="stages__delete-icon"></hydro-icon>
                        </div>
                    </div>
    
                    <button type="button" class="btn btn-flat" (click)="addStageControl(defaultAppOptions)" title="Add stage">
                        <hydro-icon [type]="'icon-plus'"></hydro-icon>
                        add new stage
                    </button>
                </ng-container>
    
                <div class="hydro-form-group" *ngIf="isJsonModeEnabled">
                    <codemirror [ngModelOptions]="{standalone: true}" [(ngModel)]="pipelineEditorValue" [config]="codeMirrorOptions"></codemirror>
                </div>
            </fieldset>
    
            <div class="btn-group applications__form-actions">
                <button class="btn btn-flat btn-large" (click)="dialogRef.hide()" type="button">cancel</button>
                <button class="btn btn-colored btn-large" type="submit" [disabled]="applicationForm.invalid">{{actionName}} Application</button>
            </div>
        </div>
    </form>
</div>
