<nav class="header-nav">
  <a
    class="header-nav__item"
    [routerLink]="['/models']"
    routerLinkActive="header-nav__item--active"
    skipLocationChange
    #navItem
  >
    <hs-icon type="icon-models" class="header-nav__icon"></hs-icon>
    <span>Models</span>
  </a>
  <a
    class="header-nav__item"
    [routerLink]="['/applications']"
    skipLocationChange
    routerLinkActive="header-nav__item--active"
    #navItem
  >
    <hs-icon type="icon-applications" class="header-nav__icon"></hs-icon>
    <span>Applications</span>
  </a>
  <a
    class="header-nav__item"
    [routerLink]="['/deployment_configs']"
    routerLinkActive="header-nav__item--active"
    #navItem
  >
    <hs-icon type="dc" class="header-nav__icon"></hs-icon>
    <span>Deployment configs</span>
  </a>
</nav>

<div class="header-info">
  <a
    class="header-info__link"
    target="_blank"
    rel="noopener noreferrer"
    href="https://docs.hydrosphere.io/"
  >
    documentation
  </a>
  <a class="header-info__link" hsBuildInformation>
    build information
  </a>
</div>


