<div class="content-header">
    <div class="content-header__title">{{contentHeaderTitle}}</div>
    <div class="btn-group" *ngIf="isActionsEnabled">
        <button class="btn">
            <svg>
                <use xlink:href="#icon-start"></use>
            </svg>
            Test
        </button>
        <button class="btn btn-flat">
            <svg>
                <use xlink:href="#icon-edit"></use>
            </svg>
            Edit
        </button>
        <button class="btn btn-flat">
            <svg>
                <use xlink:href="#icon-remove"></use>
            </svg>
            remove
        </button>
    </div>
</div>