<ng-container *ngIf="explanation$ | async as explanation">
  <span class="explanation__label">Explanation: </span>
  <ng-container [ngSwitch]="explanation.state">
    <button
      *ngSwitchCase="'SUCCESS'"
      (click)="showExplanation(explanation.result)"
      kind="base"
      color="primary"
      hs-button
    >
      show
    </button>
    <button
      *ngSwitchCase="'NOT_CALLED'"
      (click)="createExplanation()"
      kind="base"
      color="cyan"
      hs-button
    >
      get explanation
    </button>
    <button *ngSwitchDefault kind="base" color="cyan" hs-button disabled>
      {{ explanation.state }}
    </button>
    <span *ngIf="tooltip$ | async as tooltip" [hs-tooltip]="tooltip">
      <hs-icon type="help" class="icon explanation__icon"> </hs-icon>
    </span>
  </ng-container>
</ng-container>
