@import 'variables';

.visualization-metrics {
  display: flex;
  flex-direction: column;
  &__title {
    color: $neutral-color-800;
    font-family: $font-family-bold;
    line-height: 24px;
    font-size: 12px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    &-label {
      color: $neutral-color-700;
      font-size: 12px;
    }

    &-value {
      color: $neutral-color-800;
      font-family: $font-family-bold;
      font-size: 12px;
      line-height: 24px;
    }

    & + & {
      margin-top: 4px;
    }
  }
}
