@import "variables";

.error {
    padding: 8px 14px;
    text-align: center;
    background: $error-container-background-color;
    color: $error-text-color;
    & a {
        color: #3a3a79 !important; 
    }
}