@import "variables";

.snippet {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__icon {
    color: $primary-color-800;
    opacity: 0.3;
    width: 24px;
    height: 24px;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
      transition: 0.3s ease all;
    }
  }
}
