<form class="application-form" [formGroup]="applicationForm" #formElement>
  <div class="application-name">
    <hs-input-text
      label="application name"
      formControlName="applicationName"
      name="applicationName"
      [errors]="
        applicationForm.get('applicationName').dirty &&
        applicationForm.get('applicationName').errors
      "
    ></hs-input-text>
  </div>
  <div formArrayName="stages">
    <div
      *ngFor="
        let stage of applicationStagesFormArray.controls;
        index as stageIdx
      "
      [formGroup]="stage"
      class="stage"
    >
      <div class="stage__header">
        <span class="stage__name">Stage_{{ stageIdx }}</span>
        <span
          class="stage__remove"
          (click)="removeStage(stageIdx)"
          *ngIf="showRemoveStageButton()"
        >
          <hs-icon
            type="icon-remove"
            class="icon"
            (click)="removeStage(stageIdx)"
          >
            remove
          </hs-icon>
        </span>
      </div>
      <ng-container *ngIf="stage.get('modelVariants'); let modelVariants">
        <div formArrayName="modelVariants" class="services__list">
          <div
            *ngFor="
              let modelVariant of modelVariants.controls;
              index as modelVariantIdx;
              last as isLast
            "
          >
            <div
              class="services__item"
              [ngClass]="{ 'services__item--isLast': isLast }"
            >
              <hs-model-variant-form
                [group]="modelVariant"
                [index]="modelVariantIdx"
                [showRemoveIcon]="showRemoveModelVariantIcon(stage)"
                (delete)="onModelVariantDelete(stage, $event)"
              ></hs-model-variant-form>
            </div>
          </div>
        </div>
        <button
          hs-button
          kind="flat"
          color="primary"
          (click)="addModelVariantToStage(stage)"
          class="button button--flat stage__add-model-variant-button"
        >
          add model variant
        </button>
        <ng-container *ngIf="stage.get('modelVariants').errors; let errors">
          <div
            class="error-container"
            *ngFor="let error of errors | iterateAsArray"
          >
            {{ errors[error] }}
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <button
    hs-button
    kind="stroked"
    (click)="addStageControl()"
    class="add-stage-button"
  >
    add stage
  </button>
</form>
