@import 'variables.scss';

.model-version {
  &__actions {
    display: flex;

    &-item {
      cursor: pointer;
      transform: 0.3s ease color;
      margin-left: 8px;
      color: $neutral-color-900;
      &:hover {
        color: $primary-color-900;
      }
    }

    &-icon {
      width: 24px;
      height: 24px;
    }
  }

  &-status {
    .icon {
      margin-right: 4px;
    }
  }
}
.application {
  cursor: pointer;
}
.applications-is-empty {
  color: $secondary-text-color;
}


