@import 'variables';
.kafka {
  &__item {
    align-items: flex-end;
    margin-bottom: 4px;
    display: flex;
  }
  &__input {
    margin-right: 12px;
  }
  &__icon {
    cursor: pointer;
    height: 14px;
    line-height: 14px;
    width: 14px;
    color: $neutral-color-600;
    margin-bottom: 6px;
    &:hover {
      color: $supportive-color-red-600;
    }
  }
  &__button {
    font-size: 12px;
    margin: 4px 0;
    padding: 4px;
  }
}
