@import 'variables';

:host {
  display: table-row;
}

.model-version {
  &__icon {
    width: 24px;
    height: 24px;
  }
  &__model-version {
    font-family: $font-family-bold;
  }

  &__runtime {
    &-tag {
      background: $neutral-color-100;
      color: $neutral-color-700;
      padding: 2px 4px;
      border-radius: 4px;
    }
  }

  &__external {
    font-family: $font-family-bold;
    color: $neutral-color-400;
    padding-right: 8px;
  }

  &__application {
    cursor: pointer;

    &:hover {
      color: $primary-color-700;
    }
  }

  &__icon {
    width: 18px;
    height: 18px;
    color: $neutral-color-700;
  }
}
