<div [formGroup]="group" class="dc__group">
  <div class="dc__group">
    <div class="dc__group-title">node affinity</div>
    <hs-node-affinity [group]="group.get('nodeAffinity')"></hs-node-affinity>
  </div>

  <div class="dc__group">
    <div class="dc__group-title">pod affinity</div>
    <hs-pod-affinity [group]="group.get('podAffinity')"></hs-pod-affinity>
  </div>

  <div class="dc__group">
    <div class="dc__group-title">pod anti affinity</div>
    <hs-pod-affinity [group]="group.get('podAntiAffinity')"></hs-pod-affinity>
  </div>
</div>
