<div [formGroup]="group" class="dc__group">
  <div class="dc__group" *ngIf="nodeAffinity; else addNodeAffinityButton">
    <div class="dc__group-title">node affinity</div>
    <hs-node-affinity [group]="nodeAffinity"></hs-node-affinity>
  </div>

  <div class="dc__group" *ngIf="podAffinity; else addPodAffinityButton">
    <div class="dc__group-title">pod affinity</div>
    <hs-pod-affinity [group]="podAffinity"></hs-pod-affinity>
  </div>

  <div class="dc__group" *ngIf="podAntiAffinity; else addPodAntiAffinityButton">
    <div class="dc__group-title">pod anti affinity</div>
    <hs-pod-affinity [group]="podAntiAffinity"></hs-pod-affinity>
  </div>
</div>

<ng-template #addNodeAffinityButton>
  <button (click)="addNodeAffinity()" hs-button kind="stroked">
    add node affinity
  </button>
</ng-template>

<ng-template #addPodAffinityButton>
  <button (click)="addPodAffinity()" hs-button kind="stroked">
    add pod affinity
  </button>
</ng-template>

<ng-template #addPodAntiAffinityButton>
  <button (click)="addPodAntiAffinity()" hs-button kind="stroked">
    add pod anti affinity
  </button>
</ng-template>
