<ng-container *ngIf="showedProbabilities$ | async as showedProbabilities">
  <table class="probabilities__table">
    <tr class="probabilities__table-head-cell">
      <td class="probabilities__table-head-cell">class</td>
      <td class="probabilities__table-head-cell">value</td>
      <td></td>
    </tr>
    <tr class="probabilities__table-row" *ngFor="let item of showedProbabilities">
      <td
        class="probabilities__table-cell probabilities__class"
        [ngStyle]="{ color: item.color }"
      >
        {{ item.class }}
      </td>
      <td class="probabilities__table-cell" [ngStyle]="{ color: item.color }">
        {{ item.value | number: '1.5-5' }}
      </td>
    </tr>
  </table>

  <button
    *ngIf="showedProbabilities.length < probs.length"
    class="probabilities__button"
    kind="stroked"
    color="primary"
    hs-button
    (click)="showMore()"
  >
    SHOW 5 MORE
  </button>
</ng-container>
