<div class="visualization">
  <div class="visualization__loader" *ngIf="(status$ | async) === 'PENDING'">
    <hydro-icon type="scatter" class="visualization__loader-icon"></hydro-icon>
    <span class="visualization__loader-status"
      >Task id: {{ taskId$ | async }}</span
    >
  </div>
  <div class="visualization__error" *ngIf="(status$ | async) === 'FAILED'">
    <hydro-icon type="circle-x" class="visualization__error-icon"></hydro-icon>
    <div class="visualization__error-message">
      <hs-error-message>
        {{ error$ | async | json }}
      </hs-error-message>
    </div>
    <button kind="flat" color="cyan" (click)="retryRequest()" hs-button>
      Create new task
    </button>
  </div>
  <div class="visualization__body" *ngIf="(status$ | async) === 'SUCCESS'">
    <div class="visualization__chart">
      <div class="visualization__settings">
        <div class="visualization__settings-item">
          <span class="visualization__settings-label">Colorize: </span>
          <mdl-select label="Choose label" (change)="onChangeColorizer($event)">
            <mdl-option
              *ngFor="let colorizer of colorizers$ | async"
              [value]="colorizer"
            >
              <span class="colorizer">
                <span class="colorizer__type">{{ colorizer.type }}: </span
                >{{ colorizer.name }}
              </span></mdl-option
            >
          </mdl-select>
        </div>
        <mdl-radio
          *ngFor="let regime of ['all', 'nearest', 'counterfactuals']"
          [(ngModel)]="linkRegime"
          [value]="regime"
          mdl-ripple
          name="regime"
        >
          {{ regime}}
        </mdl-radio>


      </div>
      <div class="visualization__scatterplot">
        <hs-scatter-plot
          [data]="scatterPlotData$ | async"
          [colors]="colors$ | async"
          [top100]="top100$ | async"
          [counterfactuals]="counterfactuals$ | async"
          [colorizer]="colorizer$ | async"
          [linkRegime]="linkRegime"
          (selectPoint)="handleSelectPoint($event)"
        ></hs-scatter-plot>
      </div>
    </div>

    <div class="visualization__detail">
      <hs-log-detail
        *ngIf="modelVersion$ | async"
        [check]="selectedCheck$ | async"
        [modelVersion]="modelVersion$ | async"
      ></hs-log-detail>
    </div>
  </div>
</div>
