<div class="visualization">
  <hs-error-message *ngIf="error$ | async as error">{{
    error
  }}</hs-error-message>
  <div *ngIf="loading$ | async" class="visualization__loader">
    <hs-loader class="visualization__loader-icon"></hs-loader>
  </div>
  <div class="visualization__body">
    <div class="visualization__settings">
      <hs-color-by-selector
        class="visualization__settings-item"
        [colorBy]="colorBy$ | async"
        (colorByChanged)="onColorByChange($event)"
      ></hs-color-by-selector>
      <hs-color-by-class-label-options
        class="visualization__settings-item"
        *ngIf="(colorBy$ | async) === 'class_label'"
        [labelName]="selectedLabel"
        [labelNames]="labels$ | async"
        (labelNameChanged)="handleSelectLabel($event)"
      ></hs-color-by-class-label-options>
      <hs-color-by-metric-options
        class="visualization__settings-item"
        *ngIf="(colorBy$ | async) === 'metric'"
        [metric]="selectedMetric$ | async"
        [metricName]="selectedMetricName$ | async"
        [metricsNames]="metrics$ | async"
        (metricNameChanged)="handleSelectMetric($event)"
      ></hs-color-by-metric-options>
      <mdl-checkbox
        [(ngModel)]="showTop100"
        class="visualization__setting-item"
      >
        Show nearest points
      </mdl-checkbox>
    </div>
    <hs-scatter-plot
      class="visualization__chart"
      [data]="scatterPlotData$ | async"
      [colors]="colors$ | async"
      [top100]="top100$ | async"
      [showTop100]="showTop100"
      (selectPoint)="handleSelectPoint($event)"
    ></hs-scatter-plot>
  </div>
  <div class="visualization__detail">
    <ng-template
      [ngTemplateOutlet]="point"
      [ngTemplateOutletContext]="selectedPoint$ | async"
    ></ng-template>
  </div>
</div>

<ng-template let-x="x" let-y="y" #point>
  <hs-log-detail
    *ngIf="(modelVersion$ | async)"
    [check]="selectedRequest$ | async"
    [modelVersion]="modelVersion$ | async"
  ></hs-log-detail>
</ng-template>
