@import 'variables';

.visualization {
  display: flex;
  flex-direction: column;
  padding: 24px;

  &__loader {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 100%;

    &-icon {
      width: 40px;
      height: 40px;
    }

    &-status {
      font-style: italic;
      color: $neutral-color-500;
      font-family: $font-family-light;
    }
  }

  &__error {
    margin: auto;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-icon {
      height: 64px;
      width: 64px;
      color: $supportive-color-red-500;
    }

    &-message {
      margin: 24px 0;
    }

    &-button {
    }
  }

  &__header {
    margin-bottom: 24px;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    max-height: calc(100% + 24px);
  }

  &__chart {
    display: flex;
    background: white;
    border-radius: 4px;
    border: 1px $neutral-color-200 solid;
    box-shadow: -4px 4px 8px -8px $neutral-color-500;
    padding: 0 24px 24px 24px;
    width: 100%;
    margin-bottom: 24px;
  }

  &__scatterplot {
    margin-right: 24px;
    width: 100%;

    &-legend {
      margin-left: 24px;
    }
  }

  &__settings {
    margin-right: 24px;
    margin-top: 24px;
    min-width: 200px;
    width: 200px;
    &-regimes {
      display: flex;
      flex-direction: column;
    }
    &-item {
      display: block;
      margin-bottom: 18px;
    }

    &-label {
      font-size: 12px;
      color: $neutral-color-800;
      text-transform: capitalize;
    }
  }

  &__circle {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  &__detail {
    width: 100%;
    border: 1px $neutral-color-200 solid;
    border-radius: 4px;
    background: white;
    padding: 12px;
    box-shadow: -4px 4px 8px -8px $neutral-color-500;
    &-alert {
      text-align: center;
      color: $neutral-color-900;
    }
  }

  .colorizer {
    font-size: 12px;

    &__type {
      font-family: $font-family-bold;
      color: $neutral-color-900;
    }
  }
}

@keyframes blink {
  0% {
    color: $neutral-color-100;
  }

  100% {
    color: $neutral-color-300;
  }
}
