@import "variables";
.visualization {
  padding: 12px;
  background: white;
  border-radius: 4px;
  border: 1px $neutral-color-300 solid;
  &__header {
    margin-bottom: 24px;
  }

  &__body {
    display: flex;
  }

  &__chart {
    margin-right: 24px;
  }

  &__details {
    
  }

  &__settings {
    margin-right: 24px;
    width: 240px;
    max-width: 240px;
    &-item {
      margin-bottom: 18px;
    }
    &-label {
      font-size: 16px;
      color: $neutral-color-1000;
    }
  }

  &__circle {
    opacity: .5;

    &:hover {
      opacity: 1x;
    }
  }
}