<div class="models-list">


  <div fxLayout="row">
    <div class="models-list__table">

      <table class="cs-table-responsive mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
        <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Last Build</th>
          <th>Last Version</th>
          <th>source</th>
          <th>actions</th>
        </tr>
        </thead>
        <tbody>
        <ng-template ngFor let-model [ngForOf]="models">
          <tr class="cs-cursor-pointer" [routerLink]="['/model', model.id]">
            <td class="cs-text-overflow-ellipsis">{{model.name}}</td>
            <td class="cs-text-overflow-ellipsis">{{model.description}}</td>
            <td class="cs-text-overflow-ellipsis">{{model.lastBuildTimestamp}}</td>
            <td class="cs-text-overflow-ellipsis">{{model.lastVersion}}</td>
            <td class="cs-text-overflow-ellipsis">{{model.source}}</td>
            <td class="cs-text-overflow-ellipsis">
              <button title="Deploy" mdl-button mdl-button-type="fab" mdl-ripple><mdl-icon>file_upload</mdl-icon></button>
              <button title="Stop" mdl-button mdl-button-type="fab" mdl-ripple><mdl-icon>remove_circle</mdl-icon></button>
              <button title="Test" mdl-button mdl-button-type="fab" mdl-ripple><mdl-icon>settings_input_component</mdl-icon></button>
            </td>
          </tr>
        </ng-template>
        </tbody>
      </table>
    </div>
  </div>
</div>
