<div class="models-list">


  <div fxLayout="row">
    <div class="models-list__table">

      <table class="cs-table-responsive mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
        <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Last Build</th>
          <th>Last Version</th>
          <th>source</th>
          <th>actions</th>
        </tr>
        </thead>
        <tbody>
        <ng-template ngFor let-model [ngForOf]="models">
          <tr>
            <td class="cs-text-overflow-ellipsis">{{model.name}}</td>
            <td class="cs-text-overflow-ellipsis">{{model.description}}</td>
            <td class="cs-text-overflow-ellipsis">{{model.lastBuildTimestamp}}</td>
            <td class="cs-text-overflow-ellipsis">{{model.source}}</td>
            <td class="cs-text-overflow-ellipsis">{{model.lastVersion}}</td>
            <td class="cs-text-overflow-ellipsis">
              <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Deploy</button>
              <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Stop</button>
              <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Test</button>
            </td>
          </tr>
        </ng-template>
        </tbody>
      </table>
    </div>
  </div>
</div>
