<div>
  <h2 class="mdl-dialog__title mat-dialog-title">Deploy model "{{model.name}}"</h2>
  <form [formGroup]="buildModelForm" (ngSubmit)="submitBuildModelForm(buildModelForm)">

      <div class="model-details-table">
        <div class="model-details-row">
            <span class="model-details-label">Version</span>
            <span class="model-details-label">.................</span>
            <span class="model-details-value runtime">{{ model?.lastModelRuntime?.modelVersion || '0.0.1' }}</span>
        </div>
        <div class="model-details-row">
            <span class="model-details-label">Runtime</span>
            <span class="model-details-label">...............</span>
            <mdl-select style="margin-left: 0;" class="mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet runtime-select" formControlName="runtimeType" [(ngModel)]="currentModelRuntimeType">
              <mdl-option *ngFor="let type of runtimeTypes" value="{{type.id}}">{{type.name}}:{{type.version}}</mdl-option>
            </mdl-select>
        </div>
        <div class="model-details-row">
            <span class="model-details-label">Tags</span>
            <span class="model-details-label">......................</span>
            <span class="model-details-value">
     <span *ngFor="let tag of getRuntimeTypeTages(currentModelRuntimeType); last as isLast">
       <span class="model-details-tag">{{ tag }}</span> {{isLast ? '' : ', '}}
            </span>
            </span>
        </div>
    </div>

      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col cs-text-right">
          <button (click)="dialogRef.hide()" type="button" mdl-button class='mat-button mat-button--big'>CANCEL</button>
          <button type="submit" mdl-button [disabled]="buildModelForm.invalid"
                  class='mat-button mat-button--big mat-button--primary'
                  mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Deploy model
          </button>
        </div>
      </div>
  </form>
</div>
