<div>
  <h2 class="mdl-dialog__title mat-dialog-title">Deploy model "{{model.name}}"</h2>
  <form [formGroup]="buildModelForm" (ngSubmit)="submitBuildModelForm(buildModelForm)">

      <div class="model-details-table">
        <div class="model-details-row">
            <span class="model-details-label">Version</span>
            <span class="model-details-label">.................</span>
            <span class="model-details-value runtime">{{ model?.lastModelRuntime?.modelVersion || '0.0.1' }}</span>
        </div>
        <div class="model-details-row">
            <span class="model-details-label">Runtime</span>
            <span class="model-details-label">...............</span>
            <mdl-select style="margin-left: 0;" class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet runtime-select-name" formControlName="runtimeTypeName" (change)="onRuntimeSelect($event)" [(ngModel)]="currentModelRuntimeType">
              <mdl-option *ngFor="let name of runtimeTypeNames" value="{{name}}">{{name}}</mdl-option>
            </mdl-select>
            <mdl-select style="margin-left: 0;" class="runtime-select-version" formControlName="runtimeType" [(ngModel)]="currentModelRuntimeTypeVersion">
              <mdl-option *ngFor="let type of selectedRuntimeType" value="{{type.id}}">{{type.version}}</mdl-option>
            </mdl-select>
        </div>

        <div class="model-details-row">
          <span class="model-details-label">Environment</span>
          <span class="model-details-label">......</span>
          <mdl-select style="margin-left: 0;" class="mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet runtime-select" formControlName="environment" [(ngModel)]="currentModelEnvironment">
            <mdl-option *ngFor="let environment of environments" value="{{environment.id}}">{{environment.name}}</mdl-option>
          </mdl-select>
        </div>
        <div class="model-details-row">
            <span class="model-details-label">Tags</span>
            <span class="model-details-label">......................</span>
            <span class="model-details-value">
     <span *ngFor="let tag of getRuntimeTypeTags(currentModelRuntimeType); last as isLast">
       <span class="model-details-tag">{{ tag }}</span> {{isLast ? '' : ', '}}
            </span>
            </span>
        </div>
    </div>

      <div class="btn-group form-actions">
        <button class="btn btn-flat btn-large" (click)="dialogRef.hide()" type="button">CANCEL</button>
        <button class="btn btn-colored btn-large" type="submit" [disabled]="buildModelForm.invalid">Deploy model</button>
      </div>
  </form>
</div>
