<h2 class="mdl-dialog__title">Do you want to release this version?</h2>
<div class="model-name">{{ model.source }}</div>
<div class="model-details-table">

    <hydro-list-info [data]="model"></hydro-list-info>

    <hydro-signatures [isEditable]="false" [modelId]="model.id"></hydro-signatures>

</div>

<div class="buttons-group">
    <button class="button button--flat" (click)="dialogRef.hide()" type="button">CANCEL</button>
    <button class="button button--primary" type="submit" (click)="onSubmit()">release</button>
</div>