@import 'variables';

.feature-report {
  &__icon {
    width: 14px;
    height: 14px;
    &:before {
      color: $neutral-color-700;
      font-family: $font-family-light;
      padding-right: 4px;
      content: "drift's status";
      display: inline;
    }
  }
  &__header {
    align-items: flex-end;
    display: flex;
    margin-bottom: 24px;
  }

  &__input {
    margin-right: 12px;
    width: 320px;

    &-label {
      color: $neutral-color-1000;
      font-family: $font-family-bold;
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__select {
    &-option {
      display: flex;
      justify-content: space-between;
      width: 100%;
      &-drift {
        font-size: 12px;
        font-family: $font-family-bold;
      }
    }
  }

  &__drift {
    color: $neutral-color-900;
    font-family: $font-family-light;
    line-height: 24px;

    &-value {
      color: $neutral-color-1000;
      font-family: $font-family-bold;
    }
  }

  &__histogram {
    margin-bottom: 24px;
  }
}

.statistics {
  &__label {
    color: $neutral-color-900;
    font-family: $font-family-bold;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px;
  }

  &__wrapper {
    border: 2px $neutral-color-300 solid;
    border-radius: 5px;
    overflow: hidden;
  }

  &__drift {
    font-family: $font-family-bold;
    &--changed {
      color: $supportive-color-red-700;
    }
  }

  &__table {
    border-collapse: collapse;
    width: 100%;

    & > thead {
      border-bottom: 1px solid $neutral-color-200;

      & > tr {
        & > th {
          color: $neutral-color-700;
          font-family: $font-family-bold;
          padding: 8px 8px;
          text-align: left;
        }
      }
    }

    & > tbody {
      & > tr {
        & > td {
          padding: 8px 8px;
          text-align: left;
        }

        &:nth-of-type(2n - 1) {
          background: $neutral-color-100;
        }
      }
    }
  }
}
