
<form class="applciation-form" [formGroup]="applicationForm">
    <div class="application-name">
        <label class="application-name__label" for="applicationName">Application name</label>
        <input class="hydro-input application-name__input" type="text" formControlName="applicationName" id="applicationName">
        <ng-container *ngIf="applicationForm.get('applicationName').errors">
            <div class="error" *ngFor="let error of applicationForm.get('applicationName').errors | iterateAsArray">
                {{ applicationForm.get('applicationName').errors[error] }}
            </div>
        </ng-container>
    </div>
    <kafka-form
        class="application__kafka"
        formArrayName="kafkaStreaming"
        [kafkaFormArray]="kafkaFormArray">
    </kafka-form>
    <div formArrayName="stages">
        <div *ngFor="let stage of applicationStagesFormArray.controls;index as stageIdx" 
            [formGroup]="stage"
            class="stage">
            <span class="stage__name">Stage_{{stageIdx}}</span>
            <span 
                *ngIf="showRemoveStageButton()"
                (click)="removeStage(stageIdx)"
                class="stage__remove-button">remove</span>
            <div formArrayName="services" class="services__list">
                <div *ngFor="let service of stage.get('services').controls;index as serviceIdx">
                    <div class="services__item">
                        <hydro-service-form [group]="service" [index]="serviceIdx"></hydro-service-form>
                        <hydro-icon 
                            *ngIf="showRemoveServiceIcon(stage)"
                            type="icon-remove"
                            (click)="removeService(stage, serviceIdx)"
                            class="services__remove-icon"></hydro-icon>
                    </div>
                </div>
                <ng-container *ngIf="stage.get('services').errors">
                    <div class="error" *ngFor="let error of stage.get('services').errors | iterateAsArray">
                        {{stage.get('services').errors[error]}}
                    </div>
                </ng-container>
            </div>
            <span (click)="addServiceToStage(stage)"  class="stage__add-service-link"> add service</span>
        </div>
    </div>
    <span (click)="addStageControl()" class="add-stage-link">add stage</span>
</form>

