$btn-primary: $color--light-blue;
$btn-secondary: $color-base;
$btn-icon-size: 12px;
$transition-type: 0.2s cubic-bezier(0.4, 0, 0.2, 1);

$remove: #f3755e;
$remove-hover: #d14931;

.button {
    border: none;
    border-radius: 2px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    padding: 8px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;

    &--primary {
        padding: 9px;
        background-color: #4d9bf1;
        color: white;
        &:not([disabled]):hover {
            background-color: #468dda;
        }
        &[disabled] {
            background-color: #d6d8da;
            color: #a29e9e;
            cursor: auto;
        }
    }
    &--secondary {
        color: #4d9bf1;
        border: 1px solid grey;
        &:not([disabled]):hover {
            background-color: #4d9bf1;
            border-color: #4d9bf1;
            color: white;
        }
        &[disabled]{
            border-color: #d6d8da;
            color: #a29e9e;
            cursor: auto;
        }
    }
    &--flat {
        padding: 9px;
        color: #4d9bf1;
        &:not([disabled]):hover {
            color: #3280d6;
        }
        &[disabled] {
            color: #a29e9e;
        cursor: auto;
        }
    }

    &--large {
        font-size: 16px;
        line-height: 18px;
    }

    &--primary-remove {
        background-color: $remove;
        &:not([disabled]):hover {
            background-color: $remove-hover;
        }
    }

    &--secondary-remove {
        color: $remove;
        &:not([disabled]):hover {
            background-color: $remove;
            border-color: $remove;
        }
    }

    &--test {
        background-color: #63bf8c;
        &:not([disabled]):hover {
            background-color: #5db383;
        }
    }

    &__icon {
        width: 12px;
        height: 12px;
        line-height: 10px;
        margin-right: 4px;
    }
    &[disabled] {
        background: #a29e9e;
        color: black;
        background: #dcdcdc;
        color: #bbbbbb;
        cursor: not-allowed;
    }
}

.buttons-group {
    display: flex;
    justify-content: space-between;
}
      