.content {
  position: relative;
  height: 100%;
  display: flex;
  width: 100%;
  &--zen-mode {
    width: 1100px;
    margin: 0 auto;
  }
  &__sidebar {
    overflow: auto;
    max-width: 250px;
    min-width: 250px;
    &--zen-mode {
      max-width: 0;
      min-width: 0;
    }
  }

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    line-height: 48px;
    right: 0;
    top: 48px;
    background: $neutral-color-100;
    &--zen-mode {
      max-width: 1100px;
    }
  }

  &__body {
    overflow: auto;
    width: 100%;
    position: relative;
    padding: 48px 24px;
    &--zen-mode {
      padding: 48px 0px;
    }
  }

  &-info {
    margin-bottom: $base-size * 3;

    &__list,
    &__sublist {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &__list {
      &-item {
        margin-bottom: $base-size * 2;
      }
    }

    &__sublist {
      &-item {
        display: flex;
        align-items: center;
        font-size: 16px;

        &:not(:last-child) {
          margin-bottom: 6px;
        }

        &-title {
          max-width: 250px;
          width: 250px;
          overflow-x: hidden;
          color: #808080;
          font-size: 16px;
          font-family: 'Museo Sans Light';
          text-transform: capitalize;
        }

        &-value {
          margin-left: 6px;
          display: flex;
        }
      }
    }
  }

  &__cell {
    background: white;
    box-shadow: $box-shadow;
    border-radius: 2px;

    &-title {
      padding: 8px 16px;
      color: $neutral-color-1000;
      font-size: 14px;
    }

    &-body {
      padding: 8px 16px;
    }
  }
}
