.mat-dialog-container {
  position: relative;
  .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

.mdl-dialog {
    padding: 54px 64px;
    color: $main-color;
    &__title {
        font-family: 'Museo Sans Bold';
        padding: 0;
        margin-bottom: 36px;
    }
    &__content {
        padding: 0;
    }
}
