@import "variables.scss";

.dialog {
    &__buttons {
        display: flex;
        justify-content: space-between;
    }
    &__button {
        font-size: 16px;
    }
    &__content {
        &--center {
            text-align: center;
        }
    }
}
