@import "variables.scss";



.mat-dialog-container {
  position: relative;
  .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

.mdl-dialog {
    padding: 0;
    color: $color-base;
    &__title {
        font-family: $font-family-bold;
        padding: 0;
        margin-bottom: 36px;
    }
    &__content {
        padding: 0;
    }
}
