@font-face {
    font-family:'Museo Sans Light';
    src: url('/assets/fonts/MuseoSansCyrl300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
@font-face {
    font-family:'Museo Sans Regular';
    src: url('/assets/fonts/Museosanscyrl500.woff') format('woff');
    src: url('/assets/fonts/Museosanscyrl500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
@font-face {
    font-family:'Museo Sans Bold';
    src: url('/assets/fonts/MuseoSansCyrl700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
@font-face {
      font-family:'Museo Sans UltraBold';
      src: url('/assets/fonts/MuseoSansCyrl900.woff') format('woff');
      font-weight: 900;
      font-style: normal;
  }
