@font-face {
   font-family:'Museo Sans';
   src: url('/assets/fonts/Museosanscyrl500.woff') format('woff');
   src: url('/assets/fonts/Museosanscyrl500.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
