@import "variables";

.mdl-list {
    .mdl-select & {
        box-shadow: none;
        background-color: $neutral-color-100;
    }

    &__item {
        .mdl-select & {
            padding: 6px 14px;
            min-height: auto;
            font-family: 'Museo Sans Regular';
            color: $neutral-color-300;

            &.is-active,
            &:hover,
            &:focus {
                background-color: transparent;
                color: $primary-color-700;
            }
        }
    }
}