@import 'variables';
.mdl-checkbox__box-outline {
  border-color: $primary-color-700;
}
.mdl-checkbox.is-checked .mdl-checkbox__box-outline {
  border: 2px solid $primary-color-700;
}
.mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
  background: $primary-color-700;
}

.mdl-checkbox__label {
  position: relative;
  cursor: pointer;
  font-size: 12px;
  margin: 0;
  font-family: $font-family-regular;
  line-height: 20px;
  color: $neutral-color-900;
}
