@import "variables";

.mdl-select {
    &__toggle {
        margin-top: -1.95rem;
        margin-right: 0.3rem;
    }

    &__toggle {
        color: $neutral-color-500;
    }

    & .mdl-textfield.is-focused .mdl-select__toggle {
        color: $primary-color-700;
    }
}