.mdl-textfield {
    width: 100%;
    padding: 0;
    &__label {
        left: 10px;
        top: 4px;
        &:after {
            display: none;
        }
    }
    &__input {
        border: none;
        padding: 7px 12px;
        background-color: #e9ecf2;
        border-radius: 5px;
        color: #04143c;
    }
}
// hack for dialog-model-build
.runtime-select > .mdl-textfield {
  width:60%;
}
.runtime-select-name > .mdl-textfield {
  width: 50%;
}

.runtime-select-version > .mdl-textfield {
  width: 15%;
}
