// added .app to selector for more selector weight
@import 'variables';
.hs-slider {
  .ng5-slider {
    margin: 24px 0 12px;
  }
  .ng5-slider .ng5-slider-bar {
    height: 2px;
  }
  .ng5-slider .ng5-slider-selection {
    background: $primary-color-500;
  }
  .ng5-slider .ng5-slider-pointer {
    width: 12px;
    height: 12px;
    top: -5px;
    background-color: $primary-color-500;
    border-radius: 6px;
  }

  .ng5-slider .ng5-slider-pointer:after {
    display: none;
  }

  .ng5-slider .ng5-slider-bubble {
    bottom: 14px;
  }

  .ng5-slider .ng5-slider-limit {
    font-family: $font-family-bold;
    color: $neutral-color-700;
  }

  .ng5-slider .ng5-slider-bubble {
    cursor: default;
    bottom: 8px;
    padding: 1px 3px;
    color: #55637d;
    font-size: 12px;
  }

  .ng5-slider .ng5-slider-tick {
    display: none;
  }

  .ng5-slider .ng5-slider-tick.ng5-slider-selected {
    background: $primary-color-500;
  }
}
