.hydro-panel {
    background-color: $main-bg-color;
    margin-bottom: 16px;
    &__header {
      text-align: center;
      color: #818994;
      font-size: 18px;
      font-family: "Museo Sans Bold";
      margin: 0;
      padding: 18px;
    }
    &.__small {
        padding: 10px 16px;
    }
}