.status {
    position: relative;
    &.__new-version {
      color: #f28a03;
      &::after {
        content: '˚';
        position: absolute;
        top: 0;
        right: -5px;
      }
    }
    &.__successed {
        color: $color--success;
        .icon {
            fill: $color--success;
        }
    }

    &.__failed {
        color: #818994;
        .icon {
            fill: #e1e4eb;
        }
    }

}