.status {
    position: relative;
    &-label {
        margin-left: 10px;
        background-color: #f28a03;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        padding: 0 7px;
    }
    &.__new-version {
      color: #f28a03;
      &::after {
        content: '˚';
        position: absolute;
        top: 0;
        right: -5px;
      }
    }
    &.__unbuilded {
        color: #e1e4eb;
        > svg {
            fill: #e1e4eb;
        }
    }
    &.__successed {
        color: $color--success;
        .icon {
            fill: $color--success;
        }
    }

    &.__failed {
        color: #818994;
        .icon {
            fill: #e1e4eb;
        }
    }
}

.model-build-status {
    &--pending {
        color: $color--pending;
    }
    &--finished {
        color: $color--success;
    }
    &--started {
        color: $color--light-blue; 
    }
    &--failed {
        color: $color--failed;
    }
}