@import '~ng-pick-datetime/assets/style/picker.min.css';
@import 'ng5-slider';
@import 'fonts.scss';
@import 'variables.scss';
@import 'content.scss';
@import 'inputs.scss';
@import 'common.scss';
@import 'codemirror.scss';
@import 'tables.scss';
@import 'forms.scss';
@import 'mdl-textfieled.scss';
@import 'mdl-list.scss';
@import 'mdl-select.scss';
@import 'mdl-popover.scss';
@import 'mdl-tabs.scss';
@import 'mdl-progress.scss';
@import 'mdl-radio.scss';
@import 'mdl-checkbox';
@import 'error.scss';
@import 'expandable.scss';
@import 'icons.scss';
@import '~tippy.js/dist/tippy.css';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: $font-family-regular !important;
  background-color: $neutral-color-100;
  color: $neutral-color-900;
  height: 100%;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-regular;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
  font-weight: 400;
  line-height: 1;
  color: $neutral-color-900;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small {
  font-size: 65%;
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
  font-size: 75%;
}

.h1,
h1 {
  font-size: 36px;
}

.h2,
h2 {
  font-size: 30px;
}

.h3,
h3 {
  font-size: 24px;
}

.h4,
h4 {
  font-size: 18px;
}

.h5,
h5 {
  font-size: 14px;
}

.h6,
h6 {
  font-size: 12px;
}

label {
  display: inline-block;
  max-width: 100%;
  font-weight: 500;
}

button:focus,
input:focus {
  outline: 0;
}

li a {
  color: $neutral-color-900;
}

hr {
  margin: 1em 24px;
}

a.hydro-link {
  font-size: 12px;
  text-decoration: none;
  color: $neutral-color-900;

  &:hover {
    cursor: pointer;
    color: $primary-color-700;
  }

  &.hydro-link--big {
    font-size: 18px;
  }

  i {
    vertical-align: middle;
    font-size: 24px;
  }

  span {
    vertical-align: middle;
  }
}

.tippy-box[data-theme~='basic'] {
  background: $neutral-color-200;
  color: $neutral-color-900;
}

