$table-padding: 18px;

.hydro-table {
  border-collapse: collapse;
  width: 100%;
  &-head {
    &__cell {
      font-size: 12px;
      color: #abafb2;
      padding: $table-padding $table-padding * 2;
      text-align: center;
    }
    [class$="models"] & {
      border-bottom: 2px solid $secondary-color;
    }
  }
  &-body {
    &__row {
      outline: none;
      [class$="services"] & {
        background-color: $main-bg-color;
        border-bottom: 2px solid #ffffff;
      }
      &.__link {
        &:hover {
          background-color: #e6e9ed;
          cursor: pointer;
        }
      }
    }
    &__cell {
      padding: $table-padding * 1.7 $table-padding * 2;
    }
  }
}