$table-padding: 14px;

.cell {
  line-height: 36px;
  padding: 0 $table-padding * 2;
}

.hydro-table {
  border-collapse: collapse;
  width: 100%;
  &-head {
    &__cell {
      @extend .cell;
      font-size: 10px;
      color: #abafb2;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-align: left;
    }
  }
  &-body {
    &__row {
      outline: none;
      [class$="services"] & {
        background-color: $main-bg-color;
        border-bottom: 2px solid #ffffff;
      }
      &.__link {
        &:hover {
          background-color: #e6e9ed;
          cursor: pointer;
        }
      }
    }
    &__cell {
      @extend .cell;
    }
  }
  &-models {
    background: white;
  }
}