.tooltip {
  display: none;
  &--is-visible {
      display: block;
  }
}

.tooltip .tooltiptext {
  display: none;
  width: 160px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 4px 0;
  position: absolute;
  z-index: 1;
  top: 24px;
  left: 50%;
  margin-left: -20px;
}

.tooltip:hover .tooltiptext {
  display: block;
}