// BASE
$base-size: 8px;



// Colors
$color-base: #04143c;
$main-bg-color: #f8f9fb;

$aside-bg-color: #f2f4f7;
$color--success: #8cc63e;
$color--failed: #ef3a41;
$color--primary: #b8d7f9;
$color--pending: #607D8B;

$color--light-blue: #4d9bf1;
$color--blue: #539ae9;

$border-color: #f1f3f7;

$secondary-color: #e6e9ed;

$error-container-border-color: #da3d3d;
$error-container-background-color: rgba(243, 226, 223, 0.13);
$error-text-color: #ff4040;


// FONT
// Font family
$font-family-light: 'Museo Sans Light',  sans-serif;
$font-family-regular: 'Museo Sans Regular',  sans-serif;
$font-family-bold: 'Museo Sans Bold',  sans-serif;
$font-family-ultrabold: 'Museo Sans UltraBold',  sans-serif;

// Font size
$base-font-size: $base-size * 2;
$title-font-size: $base-font-size * 1.5;



// forms section
$form-border-color-focus: #04143c;
$form-border-color: $secondary-color;
$label-color: #818994;

// 18px
$label-font-size: 1.125rem;
$input-font-size: 1.125rem;