$main-color: #000856;
$main-bg-color: #f8f9fb;
$main-font-family: 'Open Sans', sans-serif;
$aside-bg-color: #f2f4f7;
$color--success: #8cc63e;
$color--failed: #ef3a41;
$color--primary: #b8d7f9;
$color--light-blue: #4d9bf1;
$logs-bg-color: #0c152a;
$border-color: #f1f3f7;


// forms section
$form-border-color-focus: #04143c;
$form-border-color: #e6e9ed;
$label-color: #818994;

// 18px
$label-font-size: 1.125rem;
$input-font-size: 1.125rem;

// sizes

// 640px
$small: 40rem;
// 1024px
$large: 64rem;

// badges
$badge-width: 24px;
$badge-height: 24px;

$header--height: 64px;
