@import "variables";

.build-info {
  &__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    color: $neutral-color-1000;
    margin-bottom: 24px
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
  }

  &__service {
    margin-bottom: 12px;
  }
}

.service {
  &__title {
    font-size: 12px;
    text-transform: uppercase;
    color: $neutral-color-1000;
  }

  &__table {
    border-collapse: collapse;
    width: 100%;
    &-row {}

    &-cell {
      padding: 6px 10px;
      border: 1px $neutral-color-400 solid;
    }

    &-key {
      color: $neutral-color-1000;
      font-family: $font-family-bold;
      background-color: $neutral-color-100;
    }

    &-value {}
  }
}
