@import "variables";

.color-by-metric {
  &__label {
    color: $neutral-color-1000;
    font-family: $font-family-bold;
  }
  &__select {
    display: inline-block;
    width: 100%;
  }
  &__settings {
    margin-top: 12px;
  }
  &__setting {
    display: flex;
    justify-content: space-between;

    &-key {
      text-transform: capitalize;
      color: $neutral-color-1000;
    }

    &-value {
      font-family: $font-family-bold;
      color: $neutral-color-1000;
    }
  }
}