.model {
    display: flex;
    margin-bottom: 12px;
    &__item {
        margin-right: 12px;
        width: 160px;
        &-label {
            color:#818994;
            font-size: 12px;
            line-height: 12px;
        }
    }
}