<ng-container [ngTemplateOutlet]="activeTemplate$ | async"></ng-container>

<ng-template #loadingTemplate>
  <div class="loading" #loading>
    Loading ...
  </div>
</ng-template>

<ng-template #errorTemplate>
  <hs-error-message>
    <div>{{ error$ | async }}</div>
  </hs-error-message>
</ng-template>

<ng-template #alertTemplate>
  <hs-alert-message>
    Monitoring isn't available in OSS yet. But you can make request for a
    <a href="https://hydrosphere.io/">demo</a>
  </hs-alert-message>
</ng-template>

<ng-template #contentTemplate>
  <div class="monitoring">
    <ng-content></ng-content>
  </div>
</ng-template>
