@import 'src/assets/styles/variables';

.dialog {
  &__layout {
    will-change: transform;
    width: 100%;
    background: rgba(0, 0, 0, 0.24);
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  &__container {
    position: relative;
    background: white;
    padding: 24px 24px 20px;
    box-shadow: 0px 0px 40px -10px black;
    max-height: calc(100% - 48px);
    max-width: calc(100% - 48px);
    overflow-y: scroll;
  }

  &__close-icon {
    cursor: pointer;
    color: black;
    position: absolute;
    right: 0;
    top: 0;
    height: 16px;
    width: 16px;
  }

  &__header {
  }

  &__content {
    &--question {
      display: inline-block;
      line-height: 18px;
      max-width: 300px;
      min-width: 240px;
      text-align: center;
    }
  }

  &__text {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    color: $neutral-color-400;

    &--is-alert {
      color: $supportive-color-red-700;
    }
  }

  &__footer {
    border-top: 1px grey solid;
  }

  &__buttons {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;

    &--column {
      width: 100%;
      flex-direction: column;

      button + button {
        margin-top: 8px;
      }
    }
  }
}
