<div class="dashboard">
  <ng-container *ngIf="metricSpecs$ | async as metricSpecs">
    <ng-container *ngIf="metricSpecs.length > 0; else emptyMetricList">
      <header class="dashboard__header">
        <span class="dashboard__settings" (click)="openSettings()">
          <hydro-icon
            class="icon dashboard__settings-icon"
            type="icon-settings"
          ></hydro-icon>
        </span>
      </header>

      <hs-health-timeline
        [metricSpecifications]="metricSpecs"
        [selectedModelVersion]="selectedModelVersion$ | async"
        (timeInterval)="onChangeTimeInterval($event)"
      >
      </hs-health-timeline>
      <div>
        <div class="reqstore__options">
          <div class="reqstore__options-item">
            Maximum
            <input class="reqstore__options-input" [(ngModel)]="maxMessages" />
            messages
          </div>
          <div class="reqstore__options-item">
            Maximum
            <input class="reqstore__options-input" [(ngModel)]="maxMBytes" />
            MB
          </div>
          <div class="reqstore__options-item">
            Load last records
            <input type="checkbox" [(ngModel)]="reverse" />
          </div>
          <div class="reqstore__options-item">
            Load only failed
            <input type="checkbox" [(ngModel)]="loadFailed" />
          </div>
          <button
            class="button button--white reqstore__options-button"
            (click)="updateReqstore()"
          >
            update log
          </button>
        </div>
        <hs-reqstore-table-log
          [logData]="log$ | async"
          [modelVersion]="selectedModelVersion$ | async"
          [loading]="logLoading$ | async"
        >
        </hs-reqstore-table-log>
      </div>
      <div class="charts">
        <hs-charts
          [selectedTimeInterval$]="selectedTimeInterval$"
          [metricSpecifications]="metricSpecs"
        ></hs-charts>
      </div>
    </ng-container>
  </ng-container>
</div>
<ng-template #emptyMetricList>
  <hs-alert-message>
    This model version does not have any metrics.
    <span class="dashboard__alert" (click)="openSettings()">
      <hydro-icon class="icon" type="icon-settings"></hydro-icon>
      <span> Settings </span>
    </span>
  </hs-alert-message>
</ng-template>
