<div>
  <hs-health-timeline
    [metricSpecifications$]="metricSpecs$"
    [selectedModelVersion$]="selectedModelVersion$"
    (timeInterval)="onChangeTimeInterval($event)"
  >
  </hs-health-timeline>
  <div>
    <hs-reqstore-table-log
      [logData]="log$ | async"
      [modelVersion]="selectedModelVersion$ | async"
      [loading]="logLoading$ | async"
    >
    </hs-reqstore-table-log>
  </div>
  <div class="charts">
    <hs-charts [selectedTimeInterval] = 'selectedTimeInterval$ | async'></hs-charts>
  </div>
</div>
