@import "variables";

.details {
  background: white;
  margin: 8px 0;
  padding: 8px;
  overflow: hidden;
  flex-wrap: wrap;
  border: 2px #D9E2EC solid;
  border-radius: 4px;
  &__footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  &__io {
    display: flex;
  }
}

.explanation {
  text-align: center;
  width: 190px;
  &__button {
    width: 190px;
    position: relative;
    overflow: hidden;
  }
  &__progress {
    position: absolute;
    bottom: 0;
    height: 4px;
    background: $supportive-color-green-500;
    width: 190px;
    left: 0;
    transition: .6 all ease;
  }
}

.request {
  border-right: 1px $neutral-color-100 solid;
  overflow: scroll;
  &__inputs {
    &-header {
      vertical-align: top
    }
  }
  &__input {
    &-cell {
      padding: 4px 12px;
    }
    &-name {
      color: $neutral-color-700;
      font-weight: bold;
    }
    &-value {
      color: $neutral-color-1000;
    }
  }
  &__label {
    margin: 0 4px;
    text-transform: uppercase;
    color: $neutral-color-500;
    
  }
}
.response {
  &__outputs {
    display: flex;
  }
  &__output {
    margin: 4px 12px;
    max-width: 150px;
    &-name {
      color: $neutral-color-700;
      font-weight: bold;
    }
    &-value {
      color: $neutral-color-1000;
    }
  }


  &__label {
    margin: 0 12px;
    text-transform: uppercase;
    color: $neutral-color-500;
  }
}


