@import 'variables';

.deployment-config {
  color: $neutral-color-900;
  margin: 24px;
  padding: 24px;
  border: 1px $neutral-color-200 solid;
  border-radius: 4px;
  position: relative;
  background: white;
  &__buttons {
    position: absolute;
    right: 24px;
    top: 24px;
  }
}
