<div class="deployment-config" *ngIf="config$ | async as config">
  <div class="deployment-config__buttons">
    <button
      hs-button
      kind="flat"
      color="primary"
      (click)="onCancel()"
      *ngIf="editMode"
    >
      restore
    </button>
    <button
      hs-button
      kind="flat"
      color="primary"
      (click)="onEdit(config.name)"
      *ngIf="!editMode"
    >
      Edit
    </button>
    <button
      hs-button
      kind="flat"
      color="warning"
      (click)="onDelete(config.name)"
    >
      delete
  </button>
  </div>

  <hs-dc-edit *ngIf="editMode"></hs-dc-edit>
  <hs-dc-tree *ngIf="!editMode" [config]="config"></hs-dc-tree>
</div>
