.graphs {
    margin-top: 24px;

    &__header {
        align-items: center;
        display: flex;
        padding: 12px;
        background: white;
        margin-bottom: 24px;
        box-shadow: 0px 0px 6px -4px;
    }
}

.time-select,
.compare,
.live-update {
    margin-right: 24px;

    &__label {
        color: #8080809c;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    &__select {
        display: inline-block;
        width: 160px
    }
}