.graphs {
    margin-top: 24px;

    &__header {
        display: flex;
        padding: 12px;
        background: white;
        margin-bottom: 24px;
        box-shadow: 0px 0px 6px -4px;
    }
}

.time-select {
    &__label {
        color: grey;
        letter-spacing: 1px;
    }
    &__select {
        display: inline-block;
        width: 160px 
    }
}

.compare {
    &__label {
        color: grey;
        letter-spacing: 1px;
    }

    &__select {
        display: inline-block;
        width: 160px
    }
}