@import 'variables';

.application {
  padding: 24px;
  width: 100%;

  &__path {
    font-size: 14px;
    color: $primary-color-1000;

    &-separator {
      color: $neutral-color-300;
      margin: 0 2px;
    }
  }

  &__signature {
    height: calc(100% - 40px);
    overflow: auto;
  }

  &__error {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 250px;
  }

  &__body {
    display: flex;
    height: 100%;
    width: 100%;
  }

  &__header {
    &-title {
      font-size: 16px;
    }

    &-monitoring-button {
      margin-right: 8px;
    }

    &-buttons {
      display: flex;
      justify-content: flex-end;

      button + button {
        margin-left: 8px;
      }
    }
  }

  &__stages {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__stage {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px $neutral-color-500 dashed;
    border-radius: 10px;
    margin-bottom: 36px;
    position: relative;

    &-header {
      position: absolute;
      top: -14px;
      background: $neutral-color-100;
      padding: 4px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $neutral-color-900;
    }
  }

  &__stage + &__stage:before {
    display: block;
    content: '';
    width: 1px;
    height: 36px;
    background: #5e6ca03d;
    position: absolute;
    left: calc(50% - 1px);
    top: -37px;
  }

  &__model-variants {
    display: flex;
  }

  &__model-variant {
    background: white;
    padding: 12px;
    width: 200px;
    border: 2px #788aa7 solid;
    border-radius: 6px;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
    transition: 0.3s ease linear;
    cursor: pointer;

    &:hover {
      border-color: #435673;
    }

    &-servable {
      position: absolute;
      left: calc(100% - 5px);
      top: -14px;
    }

    &-weight {
      display: inline-block;
      position: absolute;
      text-align: center;
      font-size: 10px;
      font-weight: 100;
      color: #59557f;
      font-style: italic;
      line-height: 10px;
      margin-top: 8px;
      bottom: -16px;
      left: calc(50% - 20px);
      width: 40px;
    }

    &-model-version {
      text-transform: uppercase;
      letter-spacing: 1px;
      display: flex;
      font-size: 12px;
    }

    &-update {
      width: 100%;
      border-radius: 50%;
      position: absolute;
      left: -11px;
      top: -12px;
    }
  }

  &__model-variant + &__model-variant {
    margin-left: 12px;
  }

  &__model-variant + &__model-variant::before {
    content: '';
    display: block;
    width: 12px;
    position: absolute;
    top: calc(50% - 1px);
    left: -14px;
    height: 1px;
    background: #5e6ca03d;
  }
}

.model-version {
  &__name {
    text-overflow: ellipsis;
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  &__version {
    font-weight: 900;
  }
}

.alerts {
  &-list {
    list-style: none;
    padding: 0;

    &__item {
      border: 1px solid #e6e9ed;
      padding: 10px 16px 8px;
      text-transform: uppercase;
      background-color: #f8f9fb;
      line-height: 1;
      margin-bottom: 8px;
    }
  }
}

.navigation {
  &-button {
    margin-right: 8px;
  }

  &-icon {
    margin: 0;
  }
}

.model-variant {
  &__cell {
    position: relative;
    line-height: 18px;
    margin-right: 2px;
    width: 18px;
  }

  &__link {
    cursor: pointer;
    text-decoration: underline;
  }

  &__version {
    &-new {
      position: absolute;
      display: inline-block;
      left: 6px;

      &--visible {
        cursor: pointer;
        display: block;
      }

      &-icon {
        height: 16px;
        width: 16px;
        background: white;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    &-text {
      display: inline-block;
      width: 100%;
    }
  }
}

@import 'variables';

.menu {
  position: absolute;
  border: 1px $neutral-color-700 solid;
  border-radius: 5px;
  background: white;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  &__item {
    color: $neutral-color-500;
    cursor: pointer;
    line-height: 20px;
    padding: 6px 18px;
    text-transform: uppercase;
    font-size: 12px;
    &:hover {
      color: $neutral-color-900;
    }
    &--accent {
      background: $supportive-color-green-100;
      color: $supportive-color-green-700;
    }
    &--disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }
  &--showed {
    visibility: visible;
    opacity: 1;
  }
}

:host-context(.ls-lg) {
  .application {
    &__body {
      margin-top: 25px;
    }
  }
}

:host-context(.ls-md) {
  .application {
    &__body {
      justify-content: space-between;
      margin-top: 25px;
    }

    &__stages {
      margin: 0;
    }
  }
}

:host-context(.ls-sm) {
  .application {
    &__body {
      flex-direction: column;
    }

    &__stages {
      align-items: flex-start;
    }
  }
}

:host-context(.ls-xs) {
  .application {
    &__body {
      flex-direction: column;
    }

    &__stages {
      flex-direction: row;
    }
  }
}

